<% if params[:type].blank? || params[:type] == "customer" %>
<a href="/forgot_password" class="forgot_password_text">Forgot Password</a>
<% else %>
<a href="/merchant/forgot_password" class="forgot_password_text">Forgot Password</a>
<% end %>
