<% if params[:type].blank? || params[:type] == "customer" %>

<a href="#" class="forgot_password_text" onclick="customerpassword('popup_customer');" style="color: rgb(3, 77, 124);">Forgot Password</a>
<% else %>
<a href="#" class="forgot_password_text" onclick="merchantpassword('popup_merchant');" style="color: rgb(3, 77, 124);">Forgot Password</a>
<% end %>


<div id="popup_merchant">
<%= render :partial => "merchant/forgot_password" %>
</div>

<div id="popup_customer">
  <%= render :partial => "customers/forgot_password" %>
</div>

