<% form_tag session_path do -%>
    <div id="popup_center" class="login_pos">
        <a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});">
			<img src="images/close_btn1.png" border="0" style="margin-top:15px; position:absolute; margin-left:520px;"/>
		</a>
        <div id="popup" class="login">
            <div class="login_txt">
                <span>LOG IN</span>
            </div>
            <div>
                <img src="/images/keupons.jpg" hspace="35" />
            </div>
            <div style="padding:10px 0 0 25px;">
                <span style="font-size:20px;"><b>WELCOME BACK</b></span>
                <br/>
                <span style="padding:5px 0 0 0;float:left;"><b>Please enter your details</b></span>
            </div>
            <div class="login_mainbox">
                <div style="height:25px;">
                    <span style="width:79px;float:left;padding:6px 0 0;"><b>Email</b></span>
                    <%= text_field_tag 'login', @login, :class => "login_tb1a" %></td>
                </div>
                <div style="height:25px; margin-top:10px;">
                    <span style="width:79px;float:left;padding:6px 0 0;"><b>Password</b></span>
                    <%= password_field_tag 'password', nil, :class => "login_tb1a" %>
                </div>
                <div class="login_forget">
                    <a href="javascript:void(0);"><b>forget your password?</b></a>
                </div>
            </div>
            <div class="login_go">
                <%= image_submit_tag("/images/go_big.jpg") %>
            </div>
        </div>
    </div>
<% end -%>