<tr>
        <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td ><img src="/images/login.jpg" /></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="265" background="/images/login_bg.jpg" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="2%">&nbsp;</td>
            <td width="37%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
 <% form_tag session_path do -%>
              <tr>
                <td width="351" height="179" background="/images/login_box.png" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td width="41%" align="right" class="login_text">Your Email: </td>
                    <td width="59%"><%= text_field_tag 'login', @login %></td>
                  </tr>
                  <tr>
                    <td align="right" class="login_text">Password: </td>
                    <td><%= password_field_tag 'password', nil %></td>
                  </tr>

                  <tr>
                    <td height="14" colspan="2"></td>
                    </tr>
                  <tr>
                    <td height="29" colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6%">&nbsp;</td>
                        <td width="12%" class="login_text">I'm a</td>
                        <td width="6%"><input checked="checked" id="login_user_customer" name="login_user" value="customer" type="radio" onchange="new Ajax.Request('/sessions/forgot_password_for?type=customer', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;" /></td>
                        <td width="21%" align="left" class="login_text">Customer</td>
                        <td width="6%"><input id="login_user_merchant" name="login_user" value="merchant" type="radio" onchange="new Ajax.Request('/sessions/forgot_password_for?type=merchant', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;"/></td>
                        <td width="21%" align="left" class="login_text">Merchant</td>
                        <td width="6%"><input id="login_user_customer" name="login_user" value="admin" type="radio"/></td>
                        <td width="22%" align="left" class="login_text">Admin</td>
                      </tr>
                    </table></td>
                    </tr>
                  <tr>
                    <td height="5" colspan="2" align="right"></td>
                    </tr>
                  <tr>
                    <td align="right"><a href="/forgot_password" class="forgot_password_text">Forgot Password?</a>
                   </td>
                    <td align="center"><a href="#"><%=image_submit_tag ("login_btn.png" ,:width=>"72" ,:height=>"34",:border=>"0")%></a></td>
                  </tr>
                </table></td>
              </tr>
            </table> <% end -%></td>
            <td width="27%"><img src="/images/login_object_img.png" width="260" height="265" /></td>
            <td width="34%" align="center" class="login_welcome_text">Welcome to Keupons
              <br /><br />
              <span class="login_welcome_text_small">The only site where <br />
              the price gets lower and lower <br />
              as more people buy!</span></td>
          </tr>
        </table></td>
      </tr>