html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, blockquote, 
dl, dt, dd, ol, ul, li,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

img 
{
    border:none;
}

a  
{
    text-decoration:none;
}

*:focus {
	outline: 0; 
}