<div id="kupoints_count" align="center">
</div>

<script type="text/javascript">
  var chart = new FusionCharts("/charts/FCF_Bar2D.swf", "ChartId", "500", "350");
  chart.setDataURL("/charts/kupoints_count.xml");
  chart.render("kupoints_count");
</script>