<table  style="font-size: 12px; border-collapse: collapse; width: 100%;" CELLPADDING="4" CELLSPACING="0">
  <thead>
    <tr>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard"></th>
      <th style="color:#ffffff;border-collapse:collapse;max-width: 100px" class="discussionboard">Customer Name</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Points Earned</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 1</td>
        <td style="padding-left: 15px;">2761</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 2</td>
        <td style="padding-left: 15px;">2460</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 3</td>
        <td style="padding-left: 15px;">2111</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 4</td>
        <td style="padding-left: 15px;">1987</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 5</td>
        <td style="padding-left: 15px;">1140</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 6</td>
        <td style="padding-left: 15px;">970</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 7</td>
        <td style="padding-left: 15px;">815</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 8</td>
        <td style="padding-left: 15px;">410</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 9</td>
        <td style="padding-left: 15px;">394</td>
      </tr>
      <tr>
        <td><INPUT TYPE="checkbox" NAME="customer1" id="customer1"/></td>
        <td>Customer 10</td>
        <td style="padding-left: 15px;">116</td>
      </tr>
      <tr><td colspan="5"></td></tr>
      <tr>
        <td colspan="5" align="center">Prev 1 2 3 4 5 Next</td>
      </tr>
    </tbody>
  </table>