<div id="customerpertdiv" align="center">
</div>
<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_Pie3D.swf", "ChartId", "400", "250");
   chart.setDataURL("/charts/customers_regions_percentage.xml");
   chart.render("customerpertdiv");
</script>
