<div id="industry_sectors" align="center">
</div>

<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_Bar2D.swf", "ChartId", "800", "400");
   chart.setDataURL("/charts/industry_sectors.xml");
   chart.render("industry_sectors");
</script>