<div id="marital_status" align="center">
</div>

<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_Column3D.swf", "ChartId", "400", "250");
   chart.setDataURL("/charts/marital_status.xml");
   chart.render("marital_status");
</script>