<div id="customergender" align="center">
</div>
<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_Pie3D.swf", "ChartId", "400", "250");
   chart.setDataURL("/charts/customers_gender_percentage.xml");
   chart.render("customergender");
</script>