<div id="purchase_frequency" align="center">
</div>

<script type="text/javascript">
  var chart = new FusionCharts("/charts/FCF_StackedBar2D.swf", "ChartId", "500", "350");
  chart.setDataURL("/charts/purchase_frequency.xml");
  chart.render("purchase_frequency");
</script>