<div id="age_bracket" align="center">
</div>

<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_Bar2D.swf", "ChartId", "400", "250");
   chart.setDataURL("/charts/age_bracket.xml");
   chart.render("age_bracket");
</script>