<div id="income_bracket" align="center">
</div>

<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_Column3D.swf", "ChartId", "400", "350");
   chart.setDataURL("/charts/income_bracket.xml");
   chart.render("income_bracket");
</script>