<div id="map_customers" align="center">
</div>
<script type="text/javascript">
  var map = new FusionMaps("/maps/FCMap_Singapore.swf", "Map1Id", "750", "400", "0", "0");
  map.setDataURL("/maps/CustomersInSingapore.xml");
  map.render("map_customers");
</script>
