<div id="deals_funnel" align="center">
</div>

<script type="text/javascript">
  var chart = new FusionCharts("/charts/FCF_Funnel.swf", "ChartId", "250", "350");
  chart.setDataURL("/charts/deals_funnel.xml");
  chart.render("deals_funnel");
</script>