<div id="top_5_deals" align="center">
</div>

<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_MSColumn3DLineDY.swf", "ChartId", "400", "323");
   chart.setDataURL("/charts/top_5_deals.xml");
   chart.render("top_5_deals");
</script>