<table align="center">
  <tr>
    <td><h4>Title:</h4> </td>
    <td><h4>S$112 for One Month of Unlimited Classes at Lion's Breath Yoga & Pilates ($170.35 Value)</h4></td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="font-size: 12px; border-collapse: collapse; width: 100%;" CELLPADDING="4" CELLSPACING="0">
        <thead>
          <tr>
            <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Actual Value</th>
            <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Discount</th>
            <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Customers</th>
            <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Sales</th>
            <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Revenue</th>
            <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">ROI</th>
          </tr>
        </thead>
        <tr>
          <td align="center">S$170.35</td>
          <td align="center">56%</td>
          <td align="center">102</td>
          <td align="center">241</td>
          <td align="center">S$26992</td>
          <td align="center">3.33</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br/>
<div id="location_deal_sales_revenue" align="center">
</div>

<script type="text/javascript">
   var chart = new FusionCharts("/charts/FCF_MSColumn2DLineDY.swf", "ChartId", "1000", "350");
   chart.setDataURL("/charts/location_deal_sales_revenue.xml");
   chart.render("location_deal_sales_revenue");
</script>