<table  style="font-size: 12px; border-collapse: collapse; width: 100%;" CELLPADDING="4" CELLSPACING="0">
  <thead>
    <tr>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Deal</th>
      <th style="color:#ffffff;border-collapse:collapse;max-width: 100px" class="discussionboard"></th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard"></th>
      <th style="color:#ffffff;border-bottom: thin solid;" colspan="3" class="discussionboard">Customers</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard"></th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard"></th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard"></th>
    </tr>
    <tr>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Date</th>
      <th style="color:#ffffff;border-collapse:collapse;max-width: 100px" class="discussionboard">Deal Title</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Price($)</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Required</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">SignedUp</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">New</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Status</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Sales</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Revenue</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>2010-10-04</td>
        <td>Testing Testing Testing Testing Testing Testing Testing Testing </td>
        <td>1000</td>
        <td>1000</td>
        <td>1500</td>
        <td>500</td>
        <td>Tipped</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td colspan="9" align="center">Prev 1 2 3 4 5 Next</td>
      </tr>
    </tbody>
  </table>