
 <table  cellpadding="0" cellspacing="1" class="deals_content" id="merchants"><tr>
            <td align="center" bgcolor="#FFFFFF" class="content_text"><%= deal_category.name -%></td>
            </tr>
          </table>

