<div id='popup_center' style="height: 472px; width: 604px; padding-left: 210px; display: block;margin-top:-10px;">
  <div align="right" style="width: 628px;height: 0px;margin-top: 8px;"><a href="#" onclick="hideElt('tranaction_deal_details');" ><img src="/images/close_btn.png" height="33" width="33" border="0" style="margin-top: -17px;"/></a></div>
          <table class="popup" align="center" width="100%" cellspacing="1px" style="border:1px solid;" BACKGROUND="/images/bg_white.jpg">
            <tr>
              <td align="center">
                <h3>Update Transaction Deal Detail</h3>
              </td>
            </tr>
            <tr>
              <td class="popup">
                <div id="view_tranaction_deal">
                </div>
              </td>
            </tr>
          </table>
</div>