<br/><br/><br/><a href="#" onclick="new Ajax.Request('/admins/all_merchants', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;">Active Merchants : <%= @merchants_count["active"].to_i %> </a>  
&nbsp;|  <a href="#" onclick="new Ajax.Request('/admins/new_merchants', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;">New Merchants : <%= @merchants_count["new"].to_i %></a>
<br/><br/>
<div id="merchants">

  <%= render :partial => "active_merchants" %>
</div><br/>
