<%= javascript_include_tag 'ckeditor' %>
<script src="/javascripts/FusionCharts.js" type="text/javascript"></script>
<link href="/stylesheets/charts/style.css" media="screen" rel="stylesheet" type="text/css" />
<script Language="JavaScript">
<!--
function form_validator(){
var theForm = document.forms['edit_deal'];
var i;
if (theForm.deal_merchant_id.selectedIndex == 0)
{
alert("Please select a Merchant.");
theForm.deal_merchant_id.focus();
return (false);
}

if (theForm.deal_name.value == "" || theForm.deal_name.value.length < 1)
{
alert("You must enter Deal Title.");
theForm.deal_name.focus();
return (false);
}
if (theForm.deal_value.value == "" || theForm.deal_value.value.length < 1)
{
alert("You must enter Original Value.");
theForm.deal_value.focus();
return (false);
}
theForm.deal_rules.value = CKEDITOR.instances.deal_rules.getData();
if (theForm.deal_rules.value == "" || theForm.deal_rules.value.length < 1)
{
alert("You must enter Rules.");
theForm.deal_rules.focus();
return (false);
}
theForm.deal_highlights.value = CKEDITOR.instances.deal_highlights.getData();
if (theForm.deal_highlights.value == "" || theForm.deal_highlights.value.length < 1)
{
alert("You must enter Highlights.");
theForm.deal_highlights.focus();
return (false);
}

if (theForm.deal_start_date.value == "" || theForm.deal_start_date.value.length < 1)
{
alert("You must enter Start Date.");
theForm.deal_start_date.focus();
return (false);
}

if (theForm.deal_close_date.value == "" || theForm.deal_close_date.value.length < 1)
{
alert("You must enter Close Date.");
theForm.deal_close_date.focus();
return (false);
}

if (theForm.deal_expiry_date.value == "" || theForm.deal_expiry_date.value.length < 1)
{
alert("You must enter Expiry Date.");
theForm.deal_expiry_date.focus();
return (false);
}

if (theForm.deal_expiry_date.value == "" || theForm.deal_expiry_date.value.length < 1)
{
alert("You must enter Expiry Date.");
theForm.deal_expiry_date.focus();
return (false);
}

if ((theForm.photo_already_exists.value == "" || theForm.photo_already_exists.value.length < 1) &&(theForm.deal_photo.value == "" || theForm.deal_photo.value.length < 1))
{
alert("You must upload a Deal Photo.");
theForm.deal_photo.focus();
return (false);
}

if(theForm.address1.value == "" || theForm.address1.value.length < 1){
    alert("You must enter Address1");
    theForm.address1.focus();
    return (false);
  }

  if(theForm.country.value == "" || theForm.country.value.length < 1){
    alert("You must enter Country");
    theForm.country.focus();
    return (false);
  }
  if(theForm.zipcode.value == "" || theForm.zipcode.value.length < 1){
    alert("You must enter Zipcode");
    theForm.zipcode.focus();
    return (false);
  }
if (document.forms['dd_form'].no_of_discounts.value == "0" || document.forms['dd_form'].customer.value.length < 1)
{
alert("You must enter Deal Discounts.");
return (false);
}

document.edit_deal.submit();
}

function IsNumeric(sText, ValidChars)

{
   var IsNumber=true;
   var Char;


   for (i = 0; i < sText.length && IsNumber == true; i++)
      {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
         {
         IsNumber = false;
         }
      }
   return IsNumber;

}

//-->
</script>
<tr>
        <td height="34" background="/images/header_bar_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" align="left"><img src="/images/deals_header_text.jpg" width="121" height="31" /></td>
              <td width="83%">&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td >
          <% form_for @deal, :url => { :action => "update_deal" ,:id=>@deal.id } , :html => {:name=>"edit_deal", :multipart => true }  do |f| %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%">&nbsp;</td>
            <td width="92%">&nbsp</td>
            <td width="4%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <%= render :partial => "create_deal" %>
              <input type="hidden" name="photo_already_exists" id="photo_already_exists" value="<%= @deal.deal_photo.url %>"/>
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center">
              <%= render :partial => "create_deal_location" %>
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center"><a href="#" onclick="return form_validator();"><img src="/images/create_deal_btn.jpg" width="96" height="24" border="0" /></a> <a href="/admins/view_all_deals"><img src="/images/cancel_btn2b.jpg" width="62" height="24" border="0" /></a></td>
            <td>&nbsp;</td>
          </tr>
        </table>
        <% end %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>