<br><br/><div style="width:50"><h3>Keupons is a deal-of-the-day website that is localized to major markets in the Singapore. The first market for keupons was Singapore, followed soon thereafter by malaysia and New York City and Toronto. Keupons will serves more than 40 markets. Keupons will be launch in mid off  2011</h3></div>