<script Language="JavaScript">
function formCommissionValidator(discounts, deal){
  var theForm = document.forms['commission_frm'];
  alert("Hi");
  for(i=1;i<=parseInt(discounts);i++){
    var ele_name = "commission"+deal+""+i;
    alert(ele_name);
    alert(document.getElementById('commission461').value);
  }
/*
  if(!IsNumeric(theForm.customer.value,"0123456789")){
    alert("You must enter only Numeric value for number of Minimum Customers.");
    theForm.customer.focus();
    return (false);
  }
*/
 // theForm.onsubmit();
}

function IsNumeric(sText, ValidChars)

{
   var IsNumber=true;
   var Char;


   for (i = 0; i < sText.length && IsNumber == true; i++)
      {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
         {
         IsNumber = false;
         }
      }
   return IsNumber;

}
</script>

<tr>
        <td height="34" background="/images/header_bar_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" align="left"><img src="/images/deals_header_text.jpg" width="121" height="31" /></td>
              <td width="83%">&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%">&nbsp;</td>
            <td width="92%" align="right"><a href="/admins/new_deal"><img src="/images/new_deal_text.jpg" style="border: 0px;"/></a></td>
            <td width="4%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td bgcolor="#798c9b">
              <div id="summary">
                <%= render :partial => "deals_summary" %>
              </div>
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>