<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
		<%= stylesheet_link_tag 'stylesheet' %>
		<%= javascript_include_tag 'AC_ActiveX' %>
		<%= javascript_include_tag 'AC_RunActiveContent' %>
    </head>
    <body>
        <div style="width:800px; height:600px;margin:auto;background:#fff;">
            <script type="text/javascript">
                AC_AX_RunContent('classid', 'clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B', 'width', '800', 'height', '600', 'codebase', 'http://www.apple.com/qtactivex/qtplugin.cab', 'src', '/images/Keupons_howitworks.mov', 'autoplay', 'true', 'controller', 'true', 'loop', 'true', 'pluginspage', 'http://www.apple.com/quicktime/download/'); //end AC code
            </script>
            <noscript>
                <OBJECT classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width="400" height="300" codebase='http://www.apple.com/qtactivex/qtplugin.cab'>
                    <param name='src' value="/images/Keupons_howitworks.mov">
					<param name='autoplay' value="true">
					<param name='controller' value="true">
					<param name='loop' value="true">
                    <EMBED src="/images/Keupons_howitworks.mov" width="800" height="600" autoplay="true" controller="true" loop="true" pluginspage='http://www.apple.com/quicktime/download/'>
                    </EMBED>
                </OBJECT>
            </noscript>
        </div>
    </body>
</html>