 

            <tr>
        <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td ><img src="/images/about_keupons_header_text.jpg" width="973" height="48" /></td>
            </tr>
        </table></td>
      </tr>
      

      <tr>

        <td >&nbsp;</td>

      </tr>

      <tr>

        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>

            <td width="3%">&nbsp;</td>

            <td width="95%" align="left" valign="top" class="deals_content">
              <p class="invite_text1">About Keupons.com</p>
              <p>Yes, we are a group of Shopping Addicts! But we only shop for Bargain Deals!
              <br/>How can we not stop shopping when all we get are huge bargains from the trendy items to big deals from known brands at irresistible price!
              </p>
              <p>Here we are sharing all these great deals and super bargains with our ever-growing Keupons community. You've got no reason not to be part of us, so come and join us in our Shopping Paradise!</p>
              <p class="invite_text1">Our Management Team</p>
              <p class="invite_text1">Akshay Mehra</p>
              <p>CEO/Founder</p>
              <p>Akshay Mehra, the Founder of Keupons.com has more than 12 years of experience in Innovation Consulting, FMCG and retail industries. Before this, he was the CEO of Village Laundry Services Pvt. Limited (VLS) in India. He scaled up the business from scratch, resulting in revenues growing 4X in 2010 and has 15 outlets across 3 cities in India. VLS has been featured in Business Today (July 2010) as one of "Hottest Start-ups in India", Economic Times/ Business Channels as part of their series on successful start-ups and in Harvard Business Review "New Business Models in Emerging Markets".</p>
              <p>Before VLS, he worked with Procter and Gamble in Singapore for marketing of laundry (Ariel, Tide) and hair care (Pantene) brands across India, Australia and ASEAN region, each of these brands had sales in excess of US$200 million. During this time, he grew the Tide business in India to segment leadership and turned it around in Vietnam and was instrumental in the relaunch of P&G's laundry category in 2003 that catapulted P&G share to a record high. He is an M.B.A from Indian Institute of Management. </p>

              <p class="invite_text1">Ramesh Narasimhan</p>
              <p>CTO</p>
              <p>As an entrepreuner/CEO of Hibiscus Technology Solutions Pvt Ltd - a growing Mobile Application and Web Development startup based out of Bangalore, India for 3 years, Ramesh has worked with multinational clients, building strong professional relationships with industry leaders, mentoring and grooming a highly technical team, identifying creative business models and implementing various business strategies.</p>
              <p>Prior to starting up on his own, he was working in Oracle India for over 8 years. His experience there comprised of Web Application Development, Software Product Development, PreSales Technical Consulting and Architecting Enterprise Applications.</p>
              <p>His technical skillset includes Web Development (J2EE/RoR/php), SOA, Enterprise 2.0, Portal Applications, Security and Identity Management, Business Intelligence and Mobile App Development.</p>
              <p>He has strong leadership and Managerial Experience - managing highly technical architects, web designers and system admin. He has won many awards for performance excellence and innovation in his career</p>
              <p>Ramesh holds an Executive Management Certificate from IIM-K, Masters Degree in Computer Applications, Bachelors in Mathematics and is a Sun Certified Enterprise Architect.</p>
              <p>After MCA joined Cognizant Technology Solutions, Chennai and worked there for 1 year, then moved to Bangalore joined Aztecsoft and then joined Oracle India.</p>

              <p class="invite_text1">M.Shah</p>
              <p>Head Business Development/Co-Founder</p>
              <p>M.Shah is the Head Business Development and Co-Founder of Keupons.com; the young and mischievious guy has more than 6 years in the sales and marketing functions. Most of his appointments are in Marketing and Communication. Previously, he works in the Telecommunication and Mobile industry allowing him to conceptualize products (VAS) and market it direct to consumer. He knows what it takes to bring Consumer to a greater level and implement tight retention program to keep customer loyalty as sustainable business activities. He maximizes his potential in SMEs where he brought in idea execution and management. He develops mobile business into seamless e-commerce gateway.  Before that he was in a mobile content company where he distributed its product across channel partner; Telco and Aggregator in the South-East Asia region.</p>
            </td>

            <td width="2%">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      <tr>

        <td >&nbsp;</td>

      </tr>
