<div style="background:#404041; width:1021px; height:890px;">
    <div class="img_hot_deals" style="margin-left:52px;">
        <img src="images/about_keupons.png" />
    </div>
    <div class="img_hot_deals" style="margin-left:452px;">
        <img src="images/tmt.jpg" />
    </div>
    <div class="aboutus_1stboxcon">
        <div class="aboutus_1stboxcon_main">
			<div class="aboutus_boldtxt1">
	            Akshay Mehra
	        </div>
	        <div class="aboutus_boldtxt2">
	        	<br/>
	            CEO/Founder
	        </div>
		</div>
		<div class="aboutus_line1">&nbsp;</div>
        <div class="aboutus_txt1">
            Akshay Mehra, the Founder of Keupons.com has more than 12 years of experience in Innovation Consulting, FMCG and retail industries. Before this, he was the CEO of Village Laundry Services Pvt. Limited (VLS) in India. He scaled up the business from scratch, resulting in revenues growing 4X in 2010 and has 15 outlets across 3 cities in India. VLS has been featured in Business Today (July 2010) as one of "Hottest Start-ups in India", Economic Times/ Business Channels as part of their series on successful start-ups and in Harvard Business Review "New Business Models in Emerging Markets".
            <br/><br/>
            Before VLS, he worked with Procter and Gamble in Singapore for marketing of laundry (Ariel, Tide) and hair care (Pantene) brands across India, Australia and ASEAN region, each of these brands had sales in excess of US$200 million. During this time, he grew the Tide business in India to segment leadership and turned it around in Vietnam and was instrumental in the relaunch of P&G's laundry category in 2003 that catapulted P&G share to a record high. He is an M.B.A from Indian Institute of Management. 
        </div>
    </div>
    <div class="aboutus_2ndboxcon">
    	<div class="aboutus_1stboxcon_main">
	        <div class="aboutus_boldtxt1">
	            Ramesh
	            <br/>
	            Narasimhan
	        </div>
	        <div class="aboutus_boldtxt2">
	        	<br/>
	            CTO
	        </div>
	    </div>
		<div class="aboutus_line1">&nbsp;</div>	
        <div class="aboutus_txt1">
            As an entrepreuner/CEO of Hibiscus Technology Solutions Pvt Ltd - a growing Mobile Application and Web Development startup based out of Bangalore, India for 3 years, Ramesh has worked with multinational clients, building strong professional relationships with industry leaders, mentoring and grooming a highly technical team, identifying creative business models and implementing various business strategies.
            <br/>
            <br/>
            Prior to starting up on his own, he was working in Oracle India for over 8 years. His experience there comprised of Web Application Development, Software Product Development, PreSales Technical Consulting and Architecting Enterprise Applications. He has strong leadership and Managerial Experience - managing highly technical architects, web designers and system admin. He has won many awards for performance excellence and innovation in his career
            <br/>
            <br/>
            Ramesh holds an Executive Management Certificate from IIM-K, Masters Degree in Bachelors in Mathematics and is a Sun Certified Enterprise Architect. After MCA joined Cognizant Technology Solutions, Chennai and worked there for 1 year, then moved to Bangalore joined Aztecsoft and then joined Oracle India.
        </div>
    </div>
    <div class="aboutus_3rdboxcon">
    	<div class="aboutus_1stboxcon_main">
	        <div class="aboutus_boldtxt1">
	            M.Shah
	        </div>
	        <div class="aboutus_boldtxt2">
	            Head Business Develpoment/Co-Founder
	        </div>
	    </div>
		<div class="aboutus_line1">&nbsp;</div>
        <div class="aboutus_txt1">
            M.Shah is the Head Business Development and Co-Founder of Keupons.com; the young and mischievious guy has more than 6 years in the sales and marketing functions. Most of his appointments are in Marketing and Communication. Previously,he works in the Telecommunication and Mobile industry allowing him to conceptualize products (VAS) and market it direct to consumer.
            <br/>
            <br/>
            He knows what it takes to bring Consumer to a greater level and implement tight retention program to keep customer loyalty as sustainable business activities. He maximizes his potential in SMEs where he brought in idea execution and management. 
            <br/>
            <br/>
            He develops mobile business into seamless e-commerce gateway.Before that he was in a mobile content company where he distributed its product across channel partner; Telco and Aggregator in the South-East Asia region. 
        </div>
    </div>
    <div style="height:30px;">
    </div>
    <div class="aboutwhite_bg">
        At Keupons, " The More People Buy, the Higher the Discount Gets!"
        <br/>
        <br/>
        The only group buying site that offers you an increasing discount as more people buy, make shopping addiction a part of your 
        social life with us!
        <br/>
        <br/>
        Join Keupons and shop trendy items and bag deals from known brands at irresistible prices! We shop Singapore for the BEST 
        bargains and deals just for you. And to show you that we mean business, we GUARANTEE it!
        <br/>
        <br/>
        A 100% safe shopping site with Paypal Buyer Protection, you can shop with us with confidence. Be a part of our ever-growing 
        Keupons community in shopping paradise. You have all to gain, and nothing to lose!
        <br/>
        <br/>
        Dine, shop, travel and enjoy the best of Singapore at up to 99% off with our great deals.
        <br/>
        <br/>
        To be the first to know of our daily Best Deals, sign up today.
        <br/>
        <br/>
        No Spam, Just Deals!
    </div>
</div>
