<div style="background:#404041; height:442px;">
    <div class="img_hot_deals" style="margin-left:400px;">
        <img src="images/contact_us.jpg" />
    </div>
    <div class="Contact_bg">
        We are happy to assist you with all kinds of enquiries.
        <br/>
        Please allow 2 working days for us to get back to you.
    </div>
    <div class="contact_box1">
        <div class="con_txt1">
            CUSTOMER
            <br/>
            SERVICE
        </div>
        <div class="con_line1">
        </div>
        <div class="con_txt2">
            To provide us with feedback, or to enquire about billing and other customer suppert issues, contact
        </div>
        <div class="con_txt3" style="margin-top:30px;">
            <a href="#">support@keupons.com</a>
        </div>
    </div>
    <div class="contact_box2">
        <div class="con_txt1">
            NEW MERCHANTS / 
            <br/>
            PARTNER ENQUIRIES
        </div>
        <div class="con_line1">
        </div>
        <div class="con_txt2">
            If you wish for your business to be featured, or to enquire about our partner sponsorship programme and other business related issues, contact
        </div>
        <div class="con_txt3" style="margin-top:15px;">
            <a href="#">merchant@keupons.com</a>
        </div>
    </div>
</div>