


            <tr>
        <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td ><img src="/images/faq_customer_header_text.jpg" width="973" height="48" /></td>
            </tr>
        </table></td>
      </tr>

      

      <tr>

        <td >&nbsp;</td>

      </tr>

      <tr>

        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>

            <td width="3%">&nbsp;</td>

            <td width="95%" align="left" valign="top" class="deals_content">
              <p class="invite_text1">What is www.keupons?</p>
              <p>
              Keupons.com is the new way in social and group buying. We continuously keep bringing in new deals on the site. Each day, Keupons.com features unbeatable deals on the best stuff to do, see, eat, and buy in your city. You get things you like at Super Bargain Deals!
              </p>

              <p class="invite_text1">How are we Different then?</p>
              <p>
               There are 3 things Keupons.com are different from others.<br/>CONFIRMED DEAL: At Keupons.com, you won’t miss a deal once you buy! We don’t need any number of buyers to confirm your deal.
              </p>
              <p>
                INCREASING DISCOUNTS: At Keupons.com, we believe that everyone should get the highest possible discount!<br/>
All our deals work in such a way that the MORE people buy, the Higher the DISCOUNT INCREASES!<br/>
You will see that whenever you click at a deal there is a ‘slider’  showing that number of people who have ‘bought’ and the current discount.
              </p>
              <p>
                EVERYONE PAY THE LOWEST PRICE: Don’t wait to buy! We seriously mean EVERYONE will get to pay the lowest price when the deal ends even if you BUY NOW!<br/>
In example of a deal that last for 24hour:<br/>
You Buy	 at	: Price $50 + Current Discount 50%<br/>
Deal Close	: Price $40 + Final Discount 60%<br/>
Card Charge	: Your card will be charge $40 (Lowest Price) only when the deal close.<br/>
              </p>
              <p class="invite_text1">Do we need to wait for the discount to increase before we decide to buy?</p>
              <p>Don’t wait to buy! Some of the deals has limited stock and may last for certain hours only.<br/>
              Remember again, YOU will still pay the LOWEST PRICE even if you BUY NOW!
              </p>
              <p class="invite_text1">Do I have to sign up a group of people I know to get the deal?</p>
              <p>Nope. You'll probably want to tell your friends and family on some good deals you can enjoy together. So the more number of people sign up, higher the discount gets. </p>
              <p class="invite_text1">I like a Deal, how do I get it?</p>
              <p>Simply click "BUY"! We'll charge your card ONLY when the deal is closed and you get the maximum discount.</p>
              <p class="invite_text1">How do I make a payment?</p>
              <p>You can use your Debit card, Credit card or PayPal account. We accept major cards like Master, Visa, American Express and more. Simply click ‘Buy’ and follow the instructions to complete your payment.<br/>
              If you need help in buying an offer, you can contact us via our 24/7 SMS Support and we will help you complete a payment on phone.
              </p>
              <p class="invite_text1">Can my Debit Card be used for a payment?</p>
              <p>Yes, most Debit cards can be used to make payments. If you have made an Online purchased before, then it should be working fine. If not just make sure your Debit card is enable to make Internet/Online purchase as when you first sign-up for the card. If you are still unsure, you can check with your Card Issuing Bank.</p>
              <p class="invite_text1">I bought a Deal, how to redeem?</p>
              <p>When the deal is closed, we will charge your card and you will receive your Keupons via SMS and/or Email that you use to register with us. The SMS contains all the information you and the Merchant need to know about redemption. Take your mobile phone and show the SMS to the Merchant to redeem it. Do not delete your SMS until you have redeemed it.</p>
              <p class="invite_text1">What if I accidentally delete my Keupons SMS?</p>
              <p>By accidental if you have deleted it, you can always print out your Keupons emails at the time of redemption.<br/>
              Keupons.com strongly encourage paperless coupons for redemptions as both Customer and Merchants can help us to eliminate all paper coupons.
              </p>
              <p class="invite_text1">Am I billed as soon as I join a Keupons.com?</p>
              <p>No - you are only charged if you have bought a Keupons Deal.</p>
              <p class="invite_text1">I missed an offer, can you make the same offer available to me now?</p>
              <p>We try not to repeat similar offers in near dates, however if there are high volume of request from Keupons.com Community, we may consider! So do tell us your request.</p>
              <p class="invite_text1">Can I make Purchase Cancellations and request Refund?</p>
              <p>Like any other sites, cancellations will not be entertained. Please read carefully on the Merchants Offer and Keupons.com Terms and Conditions.</p>
              <p class="invite_text1">What happens if a deal doesn't reach its required minimum number of purchasers?</p>
              <p>Remember we are DIFFERENT! Getting a minimum number is IRRELEVANT!
<br/>Keupons.com confirm get you a Discount as always! Keupons.com is your Shopping Paradise.
</p>
              <p class="invite_text1">Do I need to use my Keupons deal the same day I buy it?</p>
              <p>No. Most Keupons Deal has an expiration date, so take note of the expiry date so not to miss.</p>
              <p class="invite_text1">Can I buy a Keupons Deal as a gift for someone else?</p>
              <p>Sorry, not at this moment.  We may have this soon.</p>
              <p class="invite_text1">If I don't use the full value of the Keupons in one visit, can I use the remainder later?</p>
              <p>No. Most Merchant does not practice this. Unless otherwise stated, you do not receive store credit or cash back for whatever you don't use or not redeemed. Bring a friend - share a little!</p>
              <p class="invite_text1">Can I combine my Keupons with other offers or specials?</p>
              <p>No. Again most Merchant won’t allow to unless the Keupons specifically states otherwise.</p>
              <p class="invite_text1">Is Keupons safe?</p>
              <p>Extremely Safe! Your credit/debit card number and transaction is transmitted by SSL directly to a secure electronic vault. At no time is your credit card information stored on our servers.</p>
              <p class="invite_text1">What happens if my Keupons expires?</p>
              <p>Most Merchant are not able to extend it, but do drop us an email and we may submit your request to the Merchant.
<br/>No promises, but we will try our best!
</p>
              <p class="invite_text1">I just sent a referral to my friend via ADD DISCOUNT- so now what?</p>
              <p>If your friend makes their first Keupons purchase from the time they click on the referral link you send them, we'll send you an email to tell you that we've put $6 worth of credits in your account.</p>
              <p class="invite_text1">Can I refer as many people as I want?</p>
              <p>Yes of course! The more the merrier, the more Credits for You!</p>
              <p class="invite_text1">When can I use my Keupons Credit?</p>
              <p>You can use your credit as soon as your next purchase.</p>
              <p class="invite_text1">What if I subscribe to your newsletter, will I be able to see all the deals running in my city?</p>
              <p>Yes and no. There won’t always be a full catalog of deals, everybody will still always be able to see the deal designated as the “Hot deal” for that city and we’ll highlight a number of additional interesting regional deals on the Keupons.com homepage.
<br/>But if you have selected the areas that interest you most, you will definitely not “miss out” on the deals that would be most relevant for you.
</p>
              <p class="invite_text1">Do you ever remove comments from the discussion board?</p>
              <p>We only remove comments when someone is making personal attacks or engaging in other conventional forms of trolling.</p>
              <p class="invite_text1">How can I get my Business on Keupons.com?</p>
              <p>Check out Merchant FAQs for more information.</p>
              <p class="invite_text1">When will Keupons.com available in my city?</p>
              <p>Hopefully soon - we're growing fast. If you'd like to help us launch Keupons.com in your city, feel free to email us.</p>
              <p class="invite_text1">Where is Keupons.com based?</p>
              <p>Keupons is headquartered in Singapore.</p>
              <p class="invite_text1">What do you do with information about me?</p>
              <p>We take your personal privacy very seriously.  This information is being used expressly to help us give you deals that suit you better. Do read our Privacy Policy.</p>
              <p class="invite_text1">How serious is Keupons.com in their Customer’s security?</p>
              <p>Data security is of utmost concern to us and we are doing everything to ensure that we leave no stone unturned to protect the data that resides with us.
<br/>We do not take, ask, or store your credit/debit card numbers or your net banking credentials. These are entered by you directly into secure payment gateways that use state of the art encryption technology.
<br/>We do not share your personal information such as email address, mobile number, etc. with anyone. Access to our databases that house this information is restricted even among our own employees.
<br/>We will never ask you for your credit/debit card numbers, net banking account numbers, bank passwords, secure codes, or your account password. If anyone does, please refuse to give out the information, and report it immediately to support@keupons.com
</p>
            <td>
            <td width="2%">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      <tr>

        <td >&nbsp;</td>

      </tr>
