<tr>

        <td height="55" background="/static_pages/images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>

            <td width="13%" align="left"><img src="/static_pages/images/faq_customer_header_text.jpg" width="320" height="55" /></td>

            <td width="87%" class="header_text">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      

      <tr>

        <td >&nbsp;</td>

      </tr>

      <tr>

        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>

            <td width="3%">&nbsp;</td>

            <td width="95%" align="left" valign="top" class="deals_content">
              <p class="invite_text">What is www.keupons?</p>
              <p>
               www.keupons.com is the new way in social and group buying. Almost continuously it keeps updating new deals on the site. Each day, keupons.com features unbeatable deals on the best stuff to do, see, eat, and buy in your city. By promising businesses a customers, we get discounts you won't find anywhere else.</p><p> 
Increasing Discounts: At Keupons.com we believe that EVERYONE should get the best possible discount! And living with our aim of More the merrier”, our deals are made in such a way that as MORE people sign-up for a deal the discount INCREASES! </p><p>
You will see that whenever you click at a deal there is a ‘slider’  showing that number of people who have ‘bought’ and the current discount. And as the number of people who buy the deal increases so does the discount. </p><p>
On-Demand deals: There are many instances when “we” as customers are a big group and are looking for an offer but there’s nothing in the market; such as say 10 friends want to go on a holiday for the weekend, but there isn’t any offer in the market at the time. You can register your ‘demand’ at www.keupons.com and merchants (hotels, travel operators in this case) can offer the best deals. And you can choose to buy any of the personalized offers that are sent to you. Of course, if you like none of the offers, you don’t have to buy – no obligation! </p><p>
So, no more “Deals of day” that you have to wait for and leave you frustrated if you didn’t buy it on the day it was featured. Now, deals are available longer and in fact as more and more customers buy the deal, the bigger the discount they get! 

              </p>
              <p class="invite_text">Do I have to sign up a group of people I know to get the deal?</p>
              <p>
               Nope – no required. You'll probably want to invite people anyway, though — because more the number of people sign up higher the discount. 
              </p>
              <p class="invite_text"> I like a deal - how do I get it?</p>
              <p>
               Just click "BUY". You will see the number of customers who have signed up and the current discount and Maximum discount on the deal.  We'll charge your card ONLY when the deal is closed and you get the maximum discount. 

              </p>
              <p class="invite_text"> Hold on, what if I buy a deal now, but by the time it closes the discount has increased even more, what discount will I get?</p>
              <p>
               Relax! Everyone who buys a deal will get the Maximum discount that is applicable after the deal is closed. So even if you had signed up when a deal was offering only 20%, but because more people bought the deal, the discount at the time of closing was 50%, then YOU will also get 50% off. 
At the time when you Buy the deal, we will simply swipe the card to get authorization, the final amount will be charged only when the deal is closed so that you get the maximum discount. 

              </p>
              <p class="invite_text">I bought a keupons - how do I use it?</p>
              <p>
               You can use it via either Mobile phones or taking a printout for purchase and redemptions, after the deal is closed and your cards are charged, we will sent you the keupons via SMS/ email, thus eliminating the need for paper coupons (though the option would be available). You can either show the SMS to the merchant or take a printout of the e-mail at the time of redemption. The keupon has redemption instructions and a map right on it!

              </p>
              <p class="invite_text">How do I make a payment for an offer?
</p>
              <p>
              You may make your payment using a debit card, credit card or cash card. Simply click ‘Buy’ and follow the instructions to complete your payment.
If you need help in buying an offer, you can call us and we will help you complete a payment on phone.

              </p>
              <p class="invite_text">Am I billed as soon as I join a keupons?
</p>
              <p>
No - you are only charged if you have bought a keupons and that too remember only after the last date of closing of offer when we can give you the maximum discount.

              </p>
              <p class="invite_text">I missed an offer, can you make the same offer available to me now?
</p>
              <p>
               No. But you can go to “On-Demand” deals and give us the details you want and we will pass that on to the merchants. For all you know, you might get a pleasant surprise! And not just that, it a personalized offer for YOUR needs at the time YOU want. 

              </p>
              <p class="invite_text">Can I make cancellations?</p>
              <p>
                Cancellations will not be entertained. Allowing cancellations after an offer defeats the premise which makes it possible to get you attractive offers, namely, a minimum number of buyers. Please read the terms and conditions of each offer.
              </p>
              <p class="invite_text">What happens if a deal doesn't reach its required minimum number of purchasers?</p>
              <p>
            Getting a minimum number is IRRELEVANT! You will get some discount ALWAYS! </p><p>
That’s the cool thing – that there is no need for minimum number of purchasers, if you bought the deal and you will get the applicable discount when the deal closes, even if no one else signed up after you. 

              </p>
              <p class="invite_text">Do I need to use my Keupons deal the same day I buy it?</p>
              <p>
       No. Most keupons deal have an expiration date, but you never have to use them on the date of purchase.

              </p>
              <p class="invite_text">Can I buy a keupon as a gift for someone else?</p>
              <p>
              No not currently, we will introduce this in the coming days!

              </p>
              <p class="invite_text">If I don't use the full value of the keupons in one visit, can I use the remainder later?
</p>
              <p>
               No. Unless otherwise stated you do not receive store credit or cash back for whatever you don't use. Bring a friend - share a little!

              </p>
              <p class="invite_text">Can I combine my keupons with other offers or specials?
</p>
              <p>
              No... not unless the keupons specifically states otherwise.

              </p>
              <p class="invite_text">Is Keupons safe?</p>
              <p>
               Extremely. Your credit card number is transmitted by SSL directly to a secure electronic vault. At no time is your credit card information stored on our servers.

              </p>
              <p class="invite_text">Can I return a Keupons?</p>
              <p>
               No
              </p>
              <p class="invite_text">What happens if my Keupon expires?</p>
              <p>
        Drop us a mail at support@keupons.com and we can work on your behalf with the merchant to see if they can honor the deal or they give a lower discount but still allow you to use it. No promises, but we will try our best! 
              </p>
              <p class="invite_text">Do you ever remove comments from the discussion board?</p>
              <p>
    Generally, no. We only remove comments when someone is making personal attacks or engaging in other conventional forms of trolling.

              </p>
              <p class="invite_text">What if the business for my keupons closes down?</p>
              <p>
               If anything happens that makes it impossible for you to redeem your keupons, we'll make sure you get your money back.

              </p>
              <p class="invite_text">How can I get my business on keupons?</p>
              <p>
              Check out Merchant FAQs for more information.

              </p>
              <p class="invite_text">I just sent a referral to my friend - now what?</p>
              <p>
   If your friend makes their first keupons purchase from the time they click on the referral link you send them, we'll send you an email to tell you that we've put $10 worth of credits in your account.

              </p>
              <p class="invite_text">Can I refer as many people as I want?</p>
              <p>
               Yes!
              </p>
              <p class="invite_text">I received referral codes from three people - do they all get rewarded?</p>
              <p>
  No, only the last code you click on before making your first purchase will generate a reward for the person who sent it to you.

              </p>
              <p class="invite_text">When will Keupons be in my city?</p>
              <p>
               Hopefully soon - we're growing fast. If you'd like to help us launch keupons in your city, feel free to email us at support@keupons.com

              </p>
              <p class="invite_text">Where is Keupons based?</p>
              <p>
              Keupons is headquartered in Singapore.

              </p>
              <p class="invite_text">What if I subscribe to your newsletter, will I be able to see all the deals running in my city?</p>
              <p>
              Yes and no. There won’t always be a full catalog of deals, everybody will still always be able to see the deal designated as the “Hot deal” for that city and we’ll highlight a number of additional interesting regional deals on the Keupons.com homepage. 
But if you have selected the areas that interest you most, you will definitely not “miss out” on the deals that would be most relevant for you. 

              </p>
              <p class="invite_text">I love Keupons because it helps me discover new businesses that I didn’t know I’d like. Will that go away with personalization?</p>
              <p>
Not at all – we realize that discovery is a core part of keupons. Personalization on keupons newsletter is mostly about removing the most egregiously irrelevant deals for you, but you will still get to see the ‘hot deals’ in your city and also of course, go the homepage to see all the deals available. 

              </p>
              <p class="invite_text">What do you do with information about me?</p>
              <p>
             We take your personal privacy very seriously.  This information is being used expressly to help us give you deals that suit you better. Read our Privacy Policy. </p><p>
Data security is of utmost concern to us and we are doing everything to ensure that we leave no stone unturned to protect the data that resides with us.
We do not take, ask, or store your credit/debit card numbers or your net banking credentials.These are entered by you directly into secure payment gateways, that use state of the art encryption technology.</p><p>
We do not share your personal information such as email address, mobile number, etc with anyone. Access to our databases that house this information is restricted even among our own employees.</p><p>
We will never ask you for your credit/debit card numbers, net banking account numbers, bank passwords, secure codes, or your taggle account password. If anyone does, please refuse to give out the information, and report it immediately to support@keupons.com 

              </p>
              <p class="invite_text">What should I do, if I face an issue/problem while buying?</p>
              <p>
Please contact us immediately by calling our call center.

              </p>
              <p class="invite_text">Who are you guys?</p>
              <p>
      We are a bunch of seasoned marketing, sales and technology professionals who have worked with well known companies like Procter and Gamble, Oracle to name a few.

              </p>


            <td>
            <td width="2%">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      <tr>

        <td >&nbsp;</td>

      </tr>
