<div style="background:#404041; width:1021px; height:824px;">
    <div class="img_hot_deals" style="margin-left:50px;">
        <img src="images/c_faqs.png" align="left" />
    </div>
    <div style="height:30px;">
    </div>
    <div class="c_faq_body">
        <div class="faq_left" id="faq_txtnor">
            <span class="faq_redtxt">Who and what is Keupons.com?</span>
            <br/>
            <br/>
            Keupons.com is the better way for social and group buying. We continuously bring in new deals on our site for your                            benefit. Each day, Keupons.com features Super Bargain Deals on the best things to do, see, eat, and buy in your 
            city!
            <br/>
            <br/>
            <span class="faq_redtxt">Do we need to wait for the discount to
                <br/>
                increase before we decide to buy?
            </span>
            <br/>
            <br/>
            Don't wait to buy! Some of the deals have limited stock and may only last for a certain number of hours. Remember,                             you only pay the LOWEST PRICE even if you BUY NOW!
            <br/>
            <br/>
            <span class="faq_redtxt">Do I have to sign up a group of people I know 
                <br/>
                to get the deal?
            </span>
            <br/>
            <br/>
            No, you don't have to. But you may want to share the Super Bargain Deals with your friends and family so that you                             can enjoy them together. Also, when more people buy the deal, the discount that everyone enjoys increases!
            <br/>
            <br/>
            <span class="faq_redtxt">How do I make a payment?</span>
            <br/>
            <br/>
            You can use your Debit card, Credit card or PayPal account. We accept major cards like MasterCard, Visa, American Express and more. Simply click ÔBuyÕ and follow the instructions to complete your payment. If you need help buying an offer, contact us at support@keupons.com and we will help you complete the payment.
            <br/>
            <br/>
            <span class="faq_redtxt">Is the amount reflected in PayPal is what I have to pay?</span>
            <br/>
            <br/>
            NO. Remember our deal discount always increases as more and more people buy. At this point, we do not have a final amount as the deal is still open. So ignore the amount you see. What you are doing now is an authorization step for your order, where you need to submit your card detail, billing and address information on PayPal. Rest assure no charging is happening at this point.Simply proceed with the card authorization step.
        </div>
        <div class="faq_mid_line">
        </div>
        <div class="faq_right" id="faq_txtnor">
            <span class="faq_redtxt">How is Keupons.com different?</span>
            <br/>
            <br/>
            There are 2 ways in which Keupons.com are different from others.
            <br/>
            <br/>
            1.ENJOY INCREASING DISCOUNTS: At Keupons.com, we believe that everyone should enjoy the highest possible discount! All our deals work in such a way that the MORE people buy, the GREATER the DISCOUNT! Each time you click on a deal, you will see a ÔsliderÕ that shows that number of people who have ÔboughtÕ the deal and the current discount everyone enjoys.
            <br/>
            <br/>
            2.EVERYONE PAYS THE LOWEST PRICE: DonÕt wait to buy! EVERYONE will get to pay the lowest price when the deal ends even if you choose to BUY NOW!
            <br/>
            <br/>
            Using the example of a deal that lasts for 24 hours:
            You buy at: $50, at a current discount of 50%
            Deal Closes at: $40, at a final discount of 60%
            Your final price: You will only be charged $40 (LOWEST PRICE) when the deal closes.
            <br/>
            <br/>
            <span class="faq_redtxt">I like a deal, how do I buy it?</span>
            <br/>
            <br/>
            Simply click "BUY"! We'll charge your card ONLY when the deal is closed and you only pay the LOWEST PRICE.
            <br/>
            <br/>
            <span class="faq_redtxt">Is the payment gateway safe?</span>
            <br/>
            <br/>
            Yes we are using PayPal as our payment gateway. Kindly follow the steps in the paypal page. You will see our merchant name mentioned as our company Serendip Infotech Pte. Ltd.
            <br/>
            <br/>
            <span class="faq_redtxt">What I need to do once my card has been authorized?</span>
            <br/>
            <br/>
            Do nothing. Simply wait for the deal to close and you will receive an email from us
        </div>
    </div>
</div>