


            <tr>
        <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td ><img src="/images/faq_customer_header_text.jpg" width="973" height="48" /></td>
            </tr>
        </table></td>
      </tr>

      

      <tr>

        <td >&nbsp;</td>

      </tr>

      <tr>

        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>

            <td width="3%">&nbsp;</td>

            <td width="95%" align="left" valign="top" class="deals_content">
              <p class="invite_text1">Who and what is Keupons.com?</p>
              <p>
              Keupons.com is the better way for social and group buying. We continuously bring in new deals on our site for your benefit. Each day, Keupons.com features Super Bargain Deals on the best things to do, see, eat, and buy in your city!
              </p>

              <p class="invite_text1">How is Keupons.com different?</p>
              <p>
              There are 3 ways in which Keupons.com are different from others.<br/>

              <br/>1.	THE DEAL IS CONFIRMED: At Keupons.com, the deal is always on! There is no minimum number of buyers needed to confirm your deal.<br/>
              <br/>2.	ENJOY INCREASING DISCOUNTS: At Keupons.com, we believe that everyone should enjoy the highest possible discount! All our deals work in such a way that the MORE people buy, the GREATER the DISCOUNT! Each time you click on a deal, you will see a ‘slider’ that shows that number of people who have ‘bought’ the deal and the current discount everyone enjoys.<br/>
              <br/>3.	EVERYONE PAYS THE LOWEST PRICE: Don’t wait to buy! EVERYONE will get to pay the lowest price when the deal ends even if you choose to BUY NOW!<br/>
<br/>
Using the example of a deal that lasts for 24 hours:<br/>
You buy at: $50, at a current discount of 50%<br/>
Deal Closes at: $40, at a final discount of 60%<br/>
Your final price: You will only be charged $40 (LOWEST PRICE) when the deal closes.
              </p>

              <p class="invite_text1">Do we need to wait for the discount to increase before we decide to buy?</p>
              <p>
              Don’t wait to buy! Some of the deals have limited stock and may only last for a certain number of hours. Remember, you only pay the LOWEST PRICE even if you BUY NOW!
              </p>

              <p class="invite_text1">Do I have to sign up a group of people I know to get the deal?</p>
              <p>
              No, you don’t have to. But you may want to share the Super Bargain Deals with your friends and family so that you can enjoy them together. Also, when more people buy the deal, the discount that everyone enjoys increases!
              </p>

              <p class="invite_text1">I like a deal, how do I buy it?</p>
              <p>
              Simply click "BUY"! We'll charge your card ONLY when the deal is closed and you only pay the LOWEST PRICE.
              </p>

              <p class="invite_text1">How do I make a payment?</p>
              <p>
              You can use your Debit card, Credit card or PayPal account. We accept major cards like MasterCard, Visa, American Express and more. Simply click ‘Buy’ and follow the instructions to complete your payment. If you need help buying an offer, contact us at support@keupons.com and we will help you complete the payment.
              </p>

              <p class="invite_text1">Can my Debit Card be used for a payment?</p>
              <p>
              Yes, most Debit cards can be used to make payments. If you have made an online purchase using your Debit card before, you should not face any problems. If you are still unsure, do check with your Card Issuing Bank to ensure that you are able to make Internet / Online purchases on your Debit card.
              </p>

              <p class="invite_text1">I bought a deal, how do I redeem it?</p>
              <p>
              After the deal has closed, we will charge your card and you will receive your Keupons via email address that you used to register with us. The email contains all the information that you and the Merchant need to know for redemption. <br/>Alternatively, you may log-in and under the tab ‘My Account’ you can track your purchase details and items. You can print out your Keupons and present your NRIC for redemption. However, Keupons.com strongly encourages the more environmentally friendly option of paperless Keupons redemptions just by presenting your NRIC to the Merchant to redeem your Keupons.
              </p>
              <p class="invite_text1">Am I billed when I join Keupons.com?</p>
              <p>
              No, Keupons.com membership is free! You are only charged when you buy a deal on Keupons.com
              </p>
              <p class="invite_text1">I missed an offer, can you make the same offer available to me now?</p>
              <p>
              We try not to repeat similar offers too often. However, if there is a large number of a request for a particular deal from the Keupons.com Community, we may make an exception just for you! So do tell us your request.
              </p>
              <p class="invite_text1">Can I make purchase cancellations and request for a refund?</p>
              <p>
              Like other sites, cancellations will not be entertained. Please read the Terms & Conditions of each deal and Keupons.com Terms and Conditions carefully before buying a deal.
              </p>
              <p class="invite_text1">What happens if a deal doesn't reach its required minimum number of purchasers?</p>
              <p>
              A minimum number of purchasers is IRRELEVANT on Keupons.com! At Keupons.com, the deal is ALWAYS ON and you will definitely enjoy a discount.
              </p>
              <p class="invite_text1">Do I need to use my Keupons deal the same day I buy it?</p>
              <p>
              No, you will not have to use it on the same day but most Keupons deals have an expiration date, so take note of the expiry date and do not miss out on enjoying your deal.
              </p>
              <p class="invite_text1">Can I buy a Keupons Deal as a gift for someone else?</p>
              <p>
              Sorry, not at this moment. But we are working on improving our capabilities and we hope to offer you this option soon.
              </p>
              <p class="invite_text1">If I don't use the full value of the Keupons in one visit, can I use the remainder later?</p>
              <p>
              No, most Merchants do not allow this. Unless otherwise stated, you will not receive store credit or cash back for any value you do not use or do not redeem. Bring your friend – good deals should be shared!
              </p>
              <p class="invite_text1">Can I combine my Keupons with other offers or specials?</p>
              <p>
              No, most Merchants do not allow this unless the Keupons specifically states otherwise.
              </p>
              <p class="invite_text1">Is Keupons safe?</p>
              <p>
              Extremely Safe! Your Credit / Debit card number and transaction is transmitted by SSL directly to a secure electronic vault. At no time is your credit card information stored on our servers.
              </p>
              <p class="invite_text1">What happens if my Keupons expires?</p>
              <p>
              Most Merchants are not able to extend the Keupons expiry date, but drop us an email and we will submit your request to the Merchant. No promises, but we will try our best for you!
              </p>
              <p class="invite_text1">I just invited my friend to join Keupons.com, so now what?</p>
              <p>
              If your friend joins Keupons.com through the referral link that you sent them, you will receive $6 worth of Kredits in your Keupons account when they make their first Keupons purchase. And your Kredits don’t expire, so use it anytime you wish to!
              </p>
              <p class="invite_text1">Can I invite as many people as I want?</p>
              <p>
              Yes of course! The more the merrier, the more friends you invite, the more Kredits you get!
              </p>
              <p class="invite_text1">When can I use my Keupons Kredits?</p>
              <p>
              You can use your Kredits on your next Keupons purchase.
              </p>
              <p class="invite_text1">If I subscribe to your newsletter, will I be able to see all the deals running in my city?</p>
              <p>
              Yes and no. There won’t always be a full catalog of deals, but everybody will be able to see the deal designated as the “Hot deal” for that city and we’ll highlight a number of additional interesting regional deals on the Keupons.com homepage. But if you have selected the areas that interest you the most, you will definitely not miss out on the deals that you are most interested in.
              </p>
              <p class="invite_text1">Do you ever remove comments from the discussion board?</p>
              <p>
              We only intend to remove comments when someone is making personal attacks or engaging in other conventional forms of trolling, that being said, we reserve the right to remove any comments that we consider inappropriate.
              </p>
              <p class="invite_text1">How can I get my Business on Keupons.com?</p>
              <p>
              Check out our Merchant FAQs for more information.
              </p>
              <p class="invite_text1">When will Keupons.com be available in my city?</p>
              <p>
              Hopefully soon - we're growing fast. If you'd like to help us launch Keupons.com in your city, email us!
              </p>
              <p class="invite_text1">Where is Keupons.com based?</p>
              <p>
              Keupons.com is headquartered in Singapore.
              </p>
              <p class="invite_text1">What do you do with the information you collected from me?</p>
              <p>
              We take your personal privacy very seriously. Information we collect is only used to help us give you deals that suit you better. Do read our Privacy Policy for more details.
              </p>
              <p class="invite_text1">How serious is Keupons.com about ensuring customer security?</p>
              <p>
              Data security is of utmost concern to us and we are doing everything to ensure that your data is protected. We do not take, ask, or store your Credit / Debit card numbers or your banking credentials. These are entered by you directly into secure payment gateways that use state of the art encryption technology. Be assured that we do not share your personal information such as your email address, mobile number, etc. with anyone. Access to our database that houses this information is restricted even among our own employees. We will never ask you for your Credit / Debit card numbers, banking account numbers, bank passwords, secure codes, or your account password. If anyone does, please refuse to give out the information, and report it immediately to support@keupons.com
              </p>
            </td>
            <td width="2%">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      <tr>

        <td >&nbsp;</td>

      </tr>
