

<tr>
  <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td ><img src="/images/jobs_keupons_header_text.jpg" width="973" height="48" /></td>
      </tr>
    </table></td>
</tr>

<tr>

  <td >&nbsp;</td>

</tr>

<tr>

  <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>

        <td width="3%">&nbsp;</td>

        <td width="95%" align="left" valign="top" class="deals_content">
          <p>If you are a shopping addict like us, you're at the right place. We are constantly looking for the right candidate with the right enthusiasm to join our shopping paradise.</p>
          <p class="invite_text1">What our Team does:</p>
          <p>
            <br/><b>Business Development Team:</b> They do nothing else than shopping!<br/>
            <br/><b>Webmaster Team:</b> They are the creative and very social minded people.<br/>
            <br/><b>Support Team:</b> They always anxiously guide our customers around.
          </p>
          <p>
            <b>Interested Applicants please tell us:</b><br/>
• What you like to do at Keupons .com<br/>
• What ideas you have to make us more addictive<br/><br/>
Follow your submission of your resume to us at merchant@keupons.com
          </p>
        </td>

        <td width="2%">&nbsp;</td>

      </tr>

    </table></td>

</tr>

<tr>

  <td >&nbsp;</td>

</tr>
