 
<tr>
  <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td ><img src="/images/legal_header_text.jpg" width="973" height="48" /></td>
      </tr>
    </table></td>
</tr>


<tr>

  <td >&nbsp;</td>

</tr>

<tr>

  <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>

        <td width="3%">&nbsp;</td>

        <td width="95%" align="left" valign="top" class="deals_content">
          <p><span class="invite_text1">ACCEPTANCE OF TERMS AND CONDITIONS</span></p>
          <p>
          By using this site (the “Site” or “www.keupons.com”), you (“you” or the “End User”) agree to the terms and conditions that we (“Serendip Infotech Pte. Ltd.” Or “Keupons.com”) have provided. If you do not wish to agree to these terms and conditions (the “Terms of Use” or “Agreement”), please refrain from using the Site.
          </p>
          <p><span class="invite_text1">TERMS OF USE</span></p>
          <p><span class="invite_text1">1. General.</span></p>
          <p>
          The Site provides an interactive online service operated by Serendip Infotech Pte. Ltd. on the World Wide Web of the Internet (the “Web”), consisting of information services, content and transaction capabilities facilitated through www.keupons.com, affiliates of www.keupons.com or merchants (“Merchants”) offering Keupons for sale (“Keupons”) which may be exchanged for goods/services at Merchants and other third parties.</p><p>
          This Agreement sets forth the terms and conditions that apply to the use of this Site by the End User. By using this Site (other than to read this Agreement for the first time), End User agrees to comply with all of the terms and conditions hereof. The right to use this Site is personal to End User and is not transferable to any other person or entity. End User shall be responsible for protecting the confidentiality of End User’s password(s), if any. End User acknowledges that, although the Internet is often a secure environment, sometimes there are interruptions in service or events that are beyond the control of Keupons.com, and Keupons.com shall not be responsible for any data lost while transmitting information on the Internet. While it is Keupons.com’s objective is to make the Site accessible 24 hours per day, 7 days per week, the Site may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of the control of Keupons.com, access to the Site may be interrupted, suspended or terminated from time to time.</p><p>
          Keupons.com shall have the right at any time to change or discontinue any aspect or feature of the Site, including, but not limited to, content, hours of availability and equipment needed for access or use. Further, Keupons.com may discontinue disseminating any portion of information or category of information, may change or eliminate any transmission method and may change transmission speeds or other signal characteristics.</p><p>
          You represent that you are of legal age to form a binding contract. You must be at least 18 years old to be eligible to use the Site. However, if you are at least 13 years old but not yet 18, you may use the Site in conjunction with your parent or guardian who agrees to this Agreement. No one under age 13 may use the Site.
          </p>
          <p><span class="invite_text1">2. Modified Terms.</span></p>
          <p>
          Keupons.com reserves the right at all times to discontinue or modify any of our Terms of Use and/or our Privacy Policy as we deem necessary or desirable. Such changes may include, among other things, the adding of certain fees or charges. If Keupons.com makes any substantial changes, we will notify you by sending you an e-mail to the e-mail address that is registered with your account and/or by posting notice of the change on the Site. Any changes to these Terms of Use will be effective upon the earlier of our dispatch of an e-mail notice to you or our posting of notice of the changes on our Site, provided that these changes will not apply to Keupons purchased prior to the effective date of such changes. These changes will be effective immediately for new users of our Site and any Keupons purchased by such new users. We suggest to you, therefore, that you re-read this important notice containing our Terms of Use and Privacy Policy from time to time in order that you stay informed as to any such changes. Any use of the Site by End User after such notice shall be deemed to constitute acceptance by End User of such modifications.
          </p>
          <p><span class="invite_text1">3. Equipment.</span></p>
          <p>
          End User shall be responsible for obtaining and maintaining all telephone, computer hardware and other equipment needed for access to and use of this Site and all charges related thereto. Keupons.com shall not be liable for any damages to the End User’s equipment resulting from the use of this Site.
          </p>
          <p><span class="invite_text1">4. End User Conduct.</span></p>
          <p>
          This Site and any individual sites or merchant-specific, city-specific, or state-specific sites now or hereinafter contained within or otherwise available through external hyperlinks with our Site (the “Microsites”) are private property. All interactions on this Site and/or the Microsites must comply with these Terms of Use. Although we welcome and encourage user interaction on our Site, we do insist and require that all end users restrict any and all activity in connection with the use of this Site and the Microsites to that which involves lawful purposes only. End User shall not post or transmit through this Site any material which violates or infringes in any way upon the rights of others, or any material which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law, or which, without Keupons.com’s express prior, written approval, contains advertising or any solicitation with respect to products or services. Any conduct by an End User that in Keupons.com’s exclusive discretion restricts or inhibits any other End User from using or enjoying this Site and/or any of the Microsites is strictly prohibited. End User shall not use this Site or any of the Microsites to advertise or perform any commercial, religious, political or non-commercial solicitation, including, but not limited to, the solicitation of users of this Site and/or the Microsites to become users of other on- or offline services directly or indirectly competitive or potentially competitive with Keupons.com.</p><p>
          The foregoing provisions of this Section 4 apply equally to and are for the benefit of Keupons.com, its subsidiaries, affiliates, Merchants and its third-party content providers and licensors, and each shall have the right to assert and enforce such provisions directly or on its own behalf.
          </p>
          <p><span class="invite_text1">5. Copyright and Trademarks.</span></p>
          <p>
          Everything located on or in this Site, including the Microsites, is the exclusive property of Serendip Infotech Pte. Ltd. or used with express permission of the copyright and/or trademark owner. ANY COPYING, DISTRIBUTING, TRANSMITTING, POSTING, LINKING, DEEP LINKING, OR OTHERWISE MODIFYING OF THIS SITE OR ANY OF THE MICROSITES WITHOUT THE EXPRESS WRITTEN PERMISSION OF SERENDIP INFOTECH PTE. LTD. IS STRICTLY PROHIBITED. Any violation of this policy may result in a copyright, trademark or other intellectual property right infringement that may subject End User to civil and/or criminal penalties.</p><p>
          This Site and any Microsites contain copyrighted material, trademarks and other proprietary information, including, but not limited to, text, software, photos, video, graphics, music and sound, and the entire contents of the Site are protected by copyright as a collective work under the Singapore copyright laws. Keupons.com owns a copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. End User may not modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part. End User may download, print, and/or save copyrighted material for End User’s personal use only. Except as otherwise expressly stated under copyright law, no copying, redistribution, retransmission, publication or commercial exploitation of downloaded material without the express permission of Keupons.com or the copyright owner is permitted. If copying, redistribution or publication of copyrighted material is permitted, no changes in or deletion of author attribution, trademark legend or copyright notice shall be made. End User acknowledges that he/she/it does not acquire any ownership rights by downloading copyrighted material. Trademarks that are located within or on the Site or a Microsite otherwise owned or operated in conjunction with Keupons.com shall not be deemed to be in the public domain but rather the exclusive property of Keupons.com, unless such site is under license from the Trademark owner thereof, in which case such license is for the exclusive benefit and use of Keupons.com unless otherwise stated.</p><p>
          End User shall not upload, post or otherwise make available on this Site any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. Keupons.com does not have any express burden or responsibility to provide End User with indications, markings or anything else that may aid End User in determining whether the material in question is copyrighted or trademarked. End User shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission. By submitting material to any public area of this Site or any Microsite, End User warrants that the owner of such material has expressly granted Keupons.com the royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material. End User also permits any other end user to access, view, and store or reproduce the material for that End User’s personal use. End User hereby grants Keupons.com the right to edit, copy, publish and distribute any material made available on this Site or any Microsite by End User.</p><p>
          The foregoing provisions of Section 5 apply equally to and are for the benefit of Keupons.com, its subsidiaries, affiliates, Merchants and its third party content providers and licensors and each shall have the right to assert and enforce such provisions directly or on its own behalf.
          </p>
          <p><span class="invite_text1">6. Copyright Policy.</span></p>
          <p>
          Keupons.com reserves the right to terminate its agreement with any End User who repeatedly infringes third-party copyright rights upon prompt notification to Keupons.com by the copyright owner or the copyright owner’s legal agent. Without limiting the foregoing, if you believe that a copyrighted work has been copied and posted via the Site or any Microsite in a way that constitutes copyright infringement, you shall provide Keupons.com with the following information: (a) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyrighted work; (b) an identification and location on the Site or any Microsite of the copyrighted work that you claim has been infringed; (c) a written statement by you that you have a good faith belief that the disputed use is not authorized by the owner, its agent, or the law; (d) your name and contact information, such as telephone number or e-mail address; and (e) a statement by you that the above information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner’s behalf. Contact information for Keupons.com’s Copyright Agent for notice of claims of copyright infringement is as follows: support@keupons.com
          </p>
          <p><span class="invite_text1">7. Disclaimer of Warranty.</span></p>
          <p>
          END USER EXPRESSLY AGREES THAT USE OF THIS SITE AND THE MICROSITES IS AT END USER’S SOLE RISK. NEITHER KEUPONS.COM, ITS AFFILIATES NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR ANY OF THEIR OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS, WARRANT THAT USE OF THE SITE OR ANY MICROSITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS SITE, OR ANY MICROSITE, OR (II) THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICE OR KEUPONS PROVIDED THROUGH THIS SITE OR THE MICROSITES.</p><p>
          THIS SITE AND THE MICROSITES ARE MADE ACCESSIBLE ON AN “AS IS” AND “AS AVAILABLE” BASIS. KEUPONS.COM HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THOSE OF TITLE NONINFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE.
          </p>
          <p><span class="invite_text1">8. Limitation of Liability.</span></p>
          <p>
          IN NO EVENT SHALL KEUPONS.COM, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO THIS AGREEMENT. IN NO EVENT WILL KEUPONS.COM’S LIABILITY IN CONNECTION WITH A KEUPONS.COM EXCEED THE AMOUNTS PAID FOR SUCH KEUPONS.COM, AND TOTAL AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT SHALL NOT EXCEED THE AMOUNTS PAID BY END USER DURING THE SIX MONTHS PRECEDING THE BRINGING OF ANY CLAIM.
          </p>
          <p><span class="invite_text1">9. Monitoring.</span></p>
          <p>
          Keupons.com shall have the right, but not the obligation, to monitor the content of the Site and any Microsites at all times, including any chat rooms and forums that may hereinafter be included as part of the Site, to determine compliance with this Agreement and any operating rules established by Keupons.com, as well as to satisfy any applicable law, regulation or authorized government request. Without limiting the foregoing, Keupons.com shall have the right, but not the obligation, to remove any material that Keupons.com, in its sole discretion, finds to be in violation of the provisions hereof or otherwise objectionable.
          </p>
          <p><span class="invite_text1">10. Privacy.</span></p>
          <p>
          End User acknowledges that all discussion for ratings, comments, bulletin board service, chat rooms and/or other message or communication facilities (collectively “Communities”) are public and not private communications, and that, therefore, others may read End User’s communications without End User’s knowledge. Keupons.com does not control or endorse the content, messages or information found in any Community, and, therefore, Keupons.com specifically disclaims any liability concerning the Communities and any actions resulting from End Users’ participation in any Community, including any objectionable content. Generally, any communication which End User posts to Keupons.com (whether in chat rooms, discussion groups, message boards or otherwise) is considered to be non-confidential. If particular web pages permit the submission of communications that will be treated by Keupons.com as confidential, that fact will be stated on those pages. By posting comments, messages or other information on the Site or any Microsite, End User grants Keupons.com the right to use such comments, messages or information for promotions, advertising, market research or any other lawful purpose without territorial, time or other limitation. For more information see Keupons.com’s Privacy Policy.
          </p>
          <p><span class="invite_text1">11. License Grant.</span></p>
          <p>
          By posting communications on or through this Site or any Microsite, End User shall be deemed to have granted to Keupons.com a royalty-free, perpetual, irrevocable, non-exclusive license to use, reproduce, modify, publish, edit, translate, distribute, perform, and display the communication alone or as part of other works in any form, media, or technology whether now known or hereafter developed without territorial or time limitations, and to sublicense such rights through multiple tiers of sublicensees.
          </p>
          <p><span class="invite_text1">12. Indemnification/Release.</span></p>
          <p>
          End User agrees to defend, indemnify and hold harmless Keupons.com, its affiliates and their respective directors, officers, employees and agents from and against all claims and expenses, including attorneys’ fees, arising out of or related to any products or services purchased by End User in connection with the Site or any Microsites.</p><p>
          End User is solely responsible for interactions with Merchants and other users of the Site or Microsites. To the extent permitted under applicable laws, End User hereby releases Keupons.com from any and all claims or liability related to any product or service of a Merchant, any action or in-action by Merchant, including Merchant’s failure to comply with applicable law and/or failure to abide by the terms of a Voucher, and any conduct or speech, whether online or offline, of any other user.
          </p>
          <p><span class="invite_text1">13. Termination.</span></p>
          <p>
          Keupons.com may terminate this Agreement at any time. Without limiting the foregoing, Keupons.com shall have the right to immediately terminate or suspend any passwords or accounts of End User in the event of any conduct by End User or which Keupons.com, in its sole discretion, considers to be unacceptable, or in the event of any breach by End User of this Agreement. The provisions of Sections 2, 4, 5, 6, 7, 10, 11, and 12 will survive termination of this Agreement.”
          </p>
          <p><span class="invite_text1">14. Trademarks.</span></p>
          <p>
          www.keupons.com is a trademark of Serendip Infotech Pte. Ltd. All rights in respect of this trademark are hereby expressly reserved. Unless otherwise indicated, all other trademarks appearing on Keupons.com are the property of their respective owners.
          </p>
          <p><span class="invite_text1">15. Third-Party Content.</span></p>
          <p>
          Keupons.com, similar to an Internet Service Provider, is a distributor (and not a publisher) of content supplied by third parties and End Users. Accordingly, Keupons.com has no more editorial control over such content than does a public library, bookstore or newsstand. Any opinions, advice, statements, services, offers, or other information or content expressed or made available by third parties, including information providers, or any other end users are those of the respective author(s) or distributor(s) and not of Keupons.com.</p><p>
          In many instances, the content available through this Site represents the opinions and judgments of the respective information provider, end user, or other user not under contract with Keupons.com. Keupons.com neither endorses nor is responsible for the accuracy or reliability of any opinion, advice, or statement made on Keupons.com by anyone other than authorized Keupons.com employee spokespersons while acting in official capacities. Under no circumstances will Keupons.com be liable for any loss or damage caused by an end user’s reliance on information obtained through Keupons.com. It is the responsibility of End User to evaluate the accuracy, completeness, or usefulness of any information, opinion, advice, etc., or other content available through Keupons.com.</p><p>
          Keupons.com contains links to third-party websites maintained by other content providers. These links are provided solely as a convenience to you and not as an endorsement by Keupons.com of the contents on such third-party sites, and Keupons.com hereby expressly disclaims any representations regarding the content or accuracy of materials on such third-party websites. If End User decides to access linked third-party websites, End User does so at its own risk. Unless you have executed a written agreement with Keupons.com expressly permitting you to do so, you may not provide a hyperlink to the Site or any Microsite from any other website. Keupons.com reserves the right to revoke its consent to any link at any time in its sole discretion.
          </p>
          <p><span class="invite_text1">16. Miscellaneous.</span></p>
          <p>
          This Agreement, including the Terms of Sale set forth below (which are incorporated into this Agreement), and any operating rules for Keupons.com established by Keupons.com, constitute the entire agreement of the parties with respect to the subject matter hereof. No waiver by either party of any breach or default hereunder is a waiver of any preceding or subsequent breach or default. The section headings used herein are for convenience only and shall be of no legal force or effect. If any provision of this Agreement is held invalid by a court of competent jurisdiction, such invalidity shall not affect the enforceability of any other provisions contained in this Agreement, and the remaining portions of this Agreement shall continue in full force and effect. The failure of either party to exercise any of its rights under this Agreement shall not be deemed a waiver or forfeiture of such rights or any other rights provided hereunder.
          </p>
          <p><span class="invite_text1">17. Arbitration.</span></p>
          <p>
          By using this Site, End User agrees that: (1) any claim, dispute, or controversy End User may have against Keupons.com arising out of, relating to, or connected in any way with this Agreement, this Site, or any Microsite, or the purchase or sale of any Voucher(s), shall be resolved exclusively by final and binding arbitration administered in Singapore.
          </p>
          <p><span class="invite_text1">18.TERMS OF SALE</span></p>
          <p>
          All Keupons printed from the Site or any Microsite, or any other website associated with Keupons.com (hereinafter “Keupons”) are promotional Keupons that may be purchased from participating merchants (“Merchants”) through Keupons.com to be used in exchange for goods and services at a discount from their actual cost. By placing an order for a Voucher from a Merchant through Keupons.com, you make an offer to purchase the Keupons you have selected on the terms and conditions stated below. For more information about our collection of personal information, please view our Privacy Policy. You are required to create an account in order to purchase any Voucher. This is required so we can provide you with easy access to print your orders, view your past purchases, modify your preferences, and to ensure permissible use of the Voucher.</p><p>
          On the keupons.com website Keupons are sold which may be exchanged for products and services of our partners ("Keupons"). If you wish to ensure that you or the person that has received the Keupons can use it at your preferred Partner’s location listed on the website at the time of purchase, it should be handed in within the redemption/validity period. The Voucher you purchase through www.keupons.com is redeemable for goods or services by the Merchant. The Merchant, not Keupons.com, is the seller of the Voucher and the goods and services and is solely responsible for redeeming any Voucher you purchase. Keupons.com sells a Voucher that can be redeemed in connection with your purchase of the goods or services from Merchant.</p><p>
          All Keupons are only valid for a specific listed period of time commencing from date of purchase and expiring on the expiry date specified on the voucher (the "Redemption Period"). Failure to exchange or redeem any Keupons before the expiry of the Redemption Period will invalidate the offer. Before you place an order you will be given the opportunity to check if you have entered the correct details where prompted, and correct any input errors.</p><p>
          Please check your order carefully to make sure you enter the correct details. After you place an order on the website, we will acknowledge receipt of your order by sending you an order acknowledgement email. With some deals we only accept one order per person and will not accept additional orders. This is specified under the Conditions section of the offer. We will use all reasonable means to keep copies of all contracts for orders placed for Keupons by you, but cannot guarantee that we will keep a copy of every agreement for an unlimited time due to the number of orders for Keupons that we receive.</p><p>
          You should therefore print out a copy of these Terms and Conditions and the shipping confirmation email in relation to all purchases and keep them in a safe place as a record of each transaction. The prices for any Keupons ordered will be as quoted on our website. All prices are inclusive of GST and full payment terms will be specified at the time of the purchase. You may pay for your voucher by credit card, debit card and PayPal. Credit card and debit payments can be made on-line (via our SSL secure payment system), using one of the following credit cards: VISA, MasterCard and/or any other card that is acceptable.</p><p>
          The Keupons are not exchangeable for any form of cash or credit alternative, and may not be accepted if they have been tampered with or altered in any way. We will not be liable to any person if a Keupons is stolen or damaged in any way. All Keupons are subject to availability during the duration of the promotional period of the deal. The Keupons are sent within 2 working days via email and/or SMS (short message service). If the Keupons have not been delivered within 7 working days from the date of payment, please contact us at  support@keupons.com .</p><p>
          The goods and services are provided by the Merchants and not by www.keupons.com. Additional Terms and Conditions made by the merchants might apply and might be subject to change without former notice. If you have any complaints, please email our customer service at  support@keupons.com . The Keupons is valid from the date of purchase until the specified expiry date (the "Redemption Period"). Merchants may not accept the Keupons past the expiry date.
          </p>
          <p><span class="invite_text1">I. Terms and Conditions for Restaurant-Specific Keupons.</span></p>
          <p>
          For this section, “Restaurant” shall be defined as a Merchant who offers food and beverage for sale in its regular business operations, and is making such food and beverages available to purchasers of Keupons.</p><p>
        <br/>•	Redemption frequency is determined by Restaurants, and shall be contained in the Voucher offer on the Site.
        <br/>•	Use of Restaurant-Specific Keupons for alcoholic beverages is at the sole discretion of the Restaurant and is subject to compliance with applicable law
        <br/>•	Keupons cannot be combined with any other restaurant Keupons, third party certificates, coupons, or promotions, unless otherwise specified by Restaurant.
        <br/>•	Restaurant-Specific Keupons cannot be used for taxes, tips or prior balances, unless permitted by the Restaurant.
        <br/>•	Valid for dine in only unless otherwise stated.
        <br/>•	The issuing of restaurant credit is at the sole discretion of the Restaurant unless otherwise required by applicable law.
        <br/>•	Neither Keupons.com nor the Restaurant is responsible for lost or stolen Keupons or restaurant Voucher reference numbers.
        <br/>•	Reproduction, sale or trade of a Restaurant-Specific Voucher is prohibited unless done so in compliance with applicable law.
        <br/>•	Any attempted redemption not consistent with these terms & conditions will render the Restaurant-Specific Voucher void.
        <br/>•	Void to the extent prohibited by law.
          </p>
          <p><span class="invite_text1">II. Terms and Conditions for Non-Restaurant Merchant Keupons</span></p>
          <p>
          •	Merchant Voucher may be applied only to merchandise sold by Merchant, and may not be applied to shipping or handling charges.
          <br/>•	Limit one (1) Voucher per redemption. Only one Voucher can be used per order unless otherwise specified by Merchant.
          <br/>•	Neither Keupons.com nor the Merchant is responsible for lost or stolen Keupons or Voucher’s reference number.
          <br/>•	Voucher cannot be combined with any other Keupons, third party certificates, coupons, or promotions, unless otherwise specified by Merchant.
          <br/>•	Reproduction, sale or trade of this Voucher is prohibited unless done so in compliance with applicable law.
          <br/>•	Any attempted redemption not consistent with these terms and conditions will render the Voucher null and void.
          <br/>•	Void to the extent prohibited by law.
          </p>
          <p><span class="invite_text1">III. Additional Terms and Conditions for All Keupons at Keupons.com.</span></p>
          <p>
          All Keupons shall be subject to the terms and conditions of Keupons.com and the participating Restaurant or Merchant. The Merchant or Restaurant are the sellers of the goods or services which you are purchasing.</p><p>
          The holder and issuer of a Restaurant-Specific Voucher is the Restaurant. The holder and issuer of a Merchant Voucher is the Merchant. As a holder and issuer of the Voucher, the Restaurant or Merchant shall be fully responsible for any and all injuries, illnesses, damages, claims, liabilities and costs suffered by or in respect of a customer, caused in whole or in part by the Restaurant or the Merchant, as well as for any unclaimed property liability arising from unredeemed Keupons or portions thereof. You waive, and release Keupons.com and its officers, directors, employees and agents from, any claim, liabilities, damages, or injury arising from or related to any act or omission of Merchant or Restaurant in connection with a Voucher or the services/goods provided in connection therewith and/or as it relates to compliance with applicable unclaimed property and other laws relating to the redemption of the Keupons or any portion thereof. Restaurant-Specific Keupons and Merchant Keupons are redeemable in their entirety and on a one time basis only and may not be redeemed incrementally.
          </p>
        </td>

        <td width="2%">&nbsp;</td>

      </tr>

    </table></td>

</tr>

<tr>

  <td >&nbsp;</td>

</tr>
