<div style="background:#404041; width:1021px; height:418px;">
    <div class="img_hot_deals" style="margin-left:50px;">
        <img src="images/terms.jpg" />
    </div>
    <div style="height:30px;">
    </div>
    <div class="terms_lexttxt">
        ACCEPTANCE OF TERMS AND CONDITIONS
        <br/>
        By using this site (the 'Site’ or 'www.keupons.com’), you ('you’ or the 'End User’) agree to the terms and conditions that we ('Serendip Infotech Pte. Ltd.’ Or 'Keupons.com’) have provided. If you do not wish to agree to these terms and conditions (the 'Terms of Use’ or 'Agreement’), please refrain from using the Site.
        <br/>
        <br/>
        TERMS OF USE
        <br/>
        1. General.
        <br/>
        The Site provides an interactive online service operated by Serendip Infotech Pte. Ltd. on the World Wide Web of the Internet (the 'Web’), consisting of information services, content and transaction capabilities facilitated through www.keupons.com, affiliates of www.keupons.com or merchants ('Merchants’) offering Keupons for sale ('Keupons’) which may be exchanged for goods/services at Merchants and other third parties.
        <br/>
        <br/>
        This Agreement sets forth the terms and conditions that apply to the use of this Site by the End User. By using this Site (other than to read this Agreement for the first time), End User agrees to comply with all of the terms and conditions hereof. The right to use this Site is personal to End User and is not transferable to any other person or entity. End User shall be responsible for protecting the confidentiality of End User’s password(s), if any. End User acknowledges that, although the Internet is often a secure environment, sometimes there are interruptions in service or events that are beyond the control of Keupons.com, and Keupons.com shall not be responsible for any data lost while transmitting information on the Internet. While it is Keupons.com’s objective is to make the Site accessible 24 hours per day, 7 days per week, the Site may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of the control of Keupons.com, access to the Site may be interrupted, suspended or terminated from time to time.
        <br/>
        <br/>
        Keupons.com shall have the right at any time to change or discontinue any aspect or feature of the Site, including, but not limited to, content, hours of availability and equipment needed for access or use. Further, Keupons.com may discontinue disseminating any portion of information or category of information, may change or eliminate any transmission method and may change transmission speeds or other signal characteristics.
    </div>
</div>