 <tr>
  <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td ><img src="/images/faq_merchant_header_text.jpg" width="973" height="48" /></td>
      </tr>
    </table></td>
</tr>
      <tr>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%">&nbsp;</td>
            <td width="95%" align="left" valign="top" class="deals_content">
            <p class="invite_text1">Who and what is Keupons.com?</p>
            <p>
            Keupons.com is the better way for social and group buying. Businesses get to enjoy and gain beyond their expectations!<br/>
            We are the ONLY group-buying site in town that provides an INCREASING DISCOUNT! <br/>
            The more people buy, the higher the discount gets……
            </p>
            <p class="invite_text1">Why Keupons.com?</p>
            <p>
            Here are 5 Reasons why your business should consider Keupons.com:<br/>
                <br/>•	No upfront marketing fee
                <br/>•	Brand awareness and multiple brand recall at no extra cost
                <br/>•	Match and make discounts versus number of customers
                <br/>•	Acquire new customers
                <br/>•	Increase sales
            </p>
            <p class="invite_text1">Are you already considering doing any of these?</p>
            <p>
            We want to work with businesses that are looking to seize the opportunities with the power of group buying!<br/>
                <br/>•	Showcase your new product or services
                <br/>•	Invite early bird crowds to your business
                <br/>•	Bring in more customers at off-peak hours or poorer performing outlets
                <br/>•	Stock clearance
                <br/>•	Time-critical clearance
            </p>
            <p class="invite_text1">How does it work?</p>
            <p>
            Keupons.com is based on the principle of “group-size based discount”. At Keupons.com we believe that EVERYONE should enjoy the best possible discount! And in keeping with our aim of “The More The Merrier”, our deals are made in such a way that the discount INCREASES as MORE people sign-up for a deal! This way, you can tailor your discount based on the number of people who sign-up.
            </p>
            <p><i>
              For example, you may be willing to give a 40% discount if less than 50 customers buy your deal, 50% off if 51-100 customers buy your deal, and increase your discount progressively as the number of customers increase. </i>
            </p>
            <p>
              As you can see based on the example above, you have the flexibility to tailor the size of your discount, while still ensuring that there is an incentive for customers to buy your offer. Decide based on your expectations, and match and make the discount you are willing to offer for different numbers of people. Remember though, that if you give too low a discount or require too many people to sign-up for the maximum discount, the results you get may not match up to your expectations. But do not worry, our experienced business development team will work with you to design the optimal deal and help you can gain maximum brand recall at no extra cost!
            </p>
            <p class="invite_text1">Will Keupons.com guarantee me customers?</p>
            <p>
            Yes! We have in place an aggressive customer acquisition program. When you work with us, our members become your potential customers. Keupons.com targets and acquires a broad range of customers including those who may not know your brand or tried it before. We provide a low entry barrier to your brand, providing you the opportunity to win them over with a favorable experience and convert them into regular customers.
            </p>
            <p class="invite_text1">What is the cost?</p>
            <p>
            There is NO UPFRONT marketing investment when you work with Keupons.com. Not only that, you earn revenue even before the customer uses your product or service. When customers buy your offer, you pay only a percentage of the revenue as commission to us, so your marketing spend is purely dictated by the amount of business we bring you.</p>
            <p>Keupons.com’s in-depth understanding of social and mobile media allows you to take your product to your most relevant audience at a fraction of the cost that you would incur with traditional marketing. With Keupons.com, you will get better and measurable returns on your marketing spend?
            </p>
            <p class="invite_text1">How is Keupons.com different from traditional marketing? How can it maximize my ROI?</p>
            <p>
            Most businesses do not have the budget for traditionally mass advertising which requires large upfront spending without being able to predict the number of actual end users. </p>
            <p>What Keupons.com offers is performance-based spending. Your marketing spend translates directly into higher sales, allowing you to maximize your ROI. This is an ideal solution where spending is done based on actual customer conversions, also known as <i>‘Pay-as-You-Go’</i>.
            </p>
            <p class="invite_text1">Will I be seen as a discount brand? Will my existing customers feel let down?</p>
            <p>
            Even the biggest brands use promotions to drive footfalls and increase revenues on a tactical basis - whether as a special offer to institutions or to customers during special occasions.
            </p>
            <p class="invite_text1">Who are the people behind Keupons.com?</p>
            <p>
            We are a group of experienced marketing, sales, banking and technology professionals who have worked with well-known companies like Procter and Gamble, Oracle to name a few.
            </p>
            <p class="invite_text1">How to Start? </p>
            <p>
            Please contact us at merchant@Keupons.com and we will work with you to better understand your business and your needs before recommending to you the next steps!
            </p>

           </td>
            <td width="2%">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      <tr>

        <td >&nbsp;</td>

      </tr>
