  <tr>
        <td height="55" background="/static_pages/images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13%" align="left"><img src="/static_pages/images/faq_merchant_header_text.jpg" width="320" height="55" /></td>
            <td width="87%" class="header_text">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%">&nbsp;</td>
            <td width="95%" align="left" valign="top" class="deals_content">
            <p class="invite_text1">What is www.keupons?</p>
            <p>
             <%=auto_link( "www.keupons.com is the new way in social and group buying. Almost continuously it keeps updating new deals on the site. Each day, keupons.com features unbeatable deals on the best stuff to do, see, eat, and buy in your city. By promising businesses a customers, we get discounts you won't find anywhere else. </p><p>
Increasing Discounts: At Keupons.com we believe that EVERYONE should get the best possible discount! And living with our aim of More the merrier”, our deals are made in such a way that as MORE people sign-up for a deal the discount INCREASES! 
You will see that whenever you click at a deal there is a ‘slider’  showing that number of people who have ‘bought’ and the current discount. And as the number of people who buy the deal increases so does the discount. </p><p>
On-Demand deals: There are many instances when “we” as customers are a big group and are looking for an offer but there’s nothing in the market; such as say 10 friends want to go on a holiday for the weekend, but there isn’t any offer in the market at the time. You can register your ‘demand’ at www.keupons.com and merchants (hotels, travel operators in this case) can offer the best deals. And you can choose to buy any of the personalized offers that are sent to you. Of course, if you like none of the offers, you don’t have to buy – no obligation! </p><p>
So, no more “Deals of day” that you have to wait for and leave you frustrated if you didn’t buy it on the day it was featured. Now, deals are available longer and in fact as more and more customers buy the deal, the bigger the discount they get! ")%>

            </p>
            <p class="invite_text1">How can I partner with Keupons. What is the process of making an offer to Keupons customers?</p>
            <p>
Please contact us and we will work with you to understand your business and explain you the next steps!

            </p>
            <p class="invite_text1">How is www.keupons.com different from traditional marketing channels?</p>
            <p>
Performance-based spending: Most merchants do not have the budgets for mass advertising which needs upfront (large) spending but cannot predict the number of actual end users. What merchants would want is that their marketing spending can be traced back to higher sales. An ideal solution for them is a marketing model where the payment is done based on the actual customer conversions. </p><p>

With keupons, there is no upfront marketing investment. Not just that, you start making revenue even before the customer uses your product or service. Keupons.com’s in-depth understanding of social and mobile media allows you to take your product to an audience to whom it has most relevance. And that too at a fraction of the cost you incur on traditional marketing that has the inherent disadvantage of speaking to a wider audience, many of whom, may not even relate to your offering

            </p>
            <p class="invite_text1">How does it keupons work?</p>
            <p>
Keupons.com is based on the principle of “Group-size based discount”: So the more number of people buy your offer, the higher discount they are eligible for. This way, you can tailor your discount based on the number of people who sign-up: </p><p>
For example, you might think that if less than 10 customers buy your deal, you will give only 10% off and between 11-50 customers you will give 25% off and more than that 50% off. </p><p>

So as you can see above, you don’t need to give a big discount if a large number of people don’t sign up. While at the same time, there is always an incentive for customers to buy your offer.</p><p> 

You can decide, based on your expectations on what is the discount to be given for different number of people. However, remember, if you give too low a discount or require too many people to sign-up for the maximum discount, you might get results which are not up to your expectations. To help you, our business development team will work with you to design the deal to get the optimal offer design. </p><p>
<p class="invite_text1">What is On-demand deals? </p>
<p>There are many instances when customers are looking for an offer but there’s nothing in the market; such as say 10 friends want to go on a holiday for the weekend, but there isn’t any offer in the market at the time. </p><p>

Similarly, as a merchant, you might want to get extra business whenever such a need exists. <br/>

<%=auto_link("The way this works is that customers register their ‘demand’ at www.keupons.com and keupons.com sends the ‘demand’ to merchants; allowing you to offer your bid to the customer. And keupons.com passes on all the offers that the different merchants have made to the customer for them to choose whether to buy or not.")%> </p><p>
<%=auto_link("So, this is an additional source of potential business that www.keupons.com gives you rather than just having you sending offers to customers; now customers can send their offers to you and you can get higher business.")%>

            </p>
            <p class="invite_text1">Will keupons,com guarantee me customers?</p>
            <p>
Yes!<br/>
We have in place an aggressive customer acquisition program. When you work with us our members become your potential customers. You will decide on the discount to be given based on the number of customers you require. Keupons.com will target and acquire a broad range of customers including those who may have never tried your brand in the past. By providing them a favorable experience of your brand, you have the opportunity to convert them into regular customers. 

            </p>
            <p class="invite_text1">Will I get measurable returns on my marketing spends?</p>
            <p>
Yes. When customers buy your offer, you pay only a percentage of the revenue as commission to us. So your marketing spend is purely dictated by the amount of business we bring you.

            </p>
            <p class="invite_text1">Will signing up with keupons.com help my cash flow?</p>
            <p>
Yes.<br/>
Let's figure out the math. For instance, you invest $10,000 in marketing your brand the traditional way and you receive 200 enquiries (it is sure to keep your staff busy). Let us assume that 10% of the calls are converted into walk-ins that earn you $100 per customer. So 20 customers (10% conversion), give you $2000 worth of business What does it reveal? A marketing expenditure of $10,000 for acquiring $2,000 worth of business. 

            </p>
            <p class="invite_text1">The result: A negative ROI.</p>
            <p>
You could shrug your shoulders and say you paid for brand awareness. Our question is, for how long? At some point in time, you will need to initiate tactical measures to increase footfalls and acquire customers.<br/>

It's here that keupons.com comes in.The question of a negative ROI will not arise with keupons.com there is no upfront marketing investment. What's more, your customers pay for your products and services even before using them. Keupons.com thus provides you a unique marketing channel that is both measurable and performance based.

            </p>
            <p class="invite_text1">Will I be seen as a discount brand? Will my existing customers feel let down?</p>
            <p>
Keupons.com will work with Brands that are well established and recognized. Everyone knows that even the biggest Brands use promotions to drive footfalls and increase revenue on a tactical basis -either as special offers to institutions or to customers during special occasions.<br/>
Your partnership with keupons.com will be yet another such promotion. Moreover, customers are used to receiving special offers from the best of Brands and are fully aware that these offers are few and far between.

            </p>
            <p class="invite_text1">When can I expect to see payments?</p>
            <p>
You can expect to be paid even before the customer uses your product or service.<br/>
On keupons.com, an interested customer buys and pays for an offer before receiving a voucher to redeem it. We make payments to you after the end of the offer period (1-4 days), as per our agreed schedule in the signed agreement.

            </p>
            <p class="invite_text1">What do I have to pay?</p>
            <p>
When customers sign up, you pay only a percentage of the revenue as marketing fee to Keupons.com. No upfront payment! 

            </p>
            <p class="invite_text1">Can I withdraw my offer mid-course?</p>
            <p>
No. Once you sign an agreement with keupons.com, there is the commitment to customers which cannot be evaded.

            </p>
            <p class="invite_text1">What if the customer decides to cancel the purchase?</p>
            <p>
There is no provision for cancellation once an offer is bought by the customer.

            </p>
            <p class="invite_text1">Can the customer claim a refund if he does not use the voucher?</p>
            <p>
As a standard practice, refunds are not allowed. If the customer fails to use the voucher within the stipulated timeframe, you keep the payment. However, you may decide to make a special offer to a customer carrying an expired keupons.com voucher. It's your decision entirely.

            </p>
            <p class="invite_text1">What if he decides to use part of the voucher value now and the rest later?</p>
            <p>
Unless expressly agreed between you and keupons.com, the customer will have to use the entire value of the voucher in a single visit. This will be clearly communicated to the customer. You have complete control over the usage of the voucher.

            </p>
            <p class="invite_text1">I wish to use my own vouchers for the promotion.</p>
            <p>
Sure. You can co-brand your voucher with keupons.com. And the voucher should have all the relevant information that a keupons.com deal must have to establish the source of the offer, its authenticity and to communicate all the relevant information pertaining to the offer.

            </p>
            <p class="invite_text1">Who are the people behind keupons?</p>
            <p>
We are a bunch of seasoned marketing, sales and technology professionals who have worked with well known companies like Procter and Gamble, Oracle to name a few.

            </p>
            <p class="invite_text1">Can you briefly summarize the benefits of working with keupons?</p>
            <p>
You decide on the % discount, based on the number of customers
On-demand deals from customers making your marketing job even easier.
Lowest cost of customer acquisition
Guaranteed revenue generating customers-and-performance-based marketing channel
No upfront marketing investment
Measurable results
Healthy cash flow
Brand building at no extra cost
Generation of new customer base


            </p>
            <p class="invite_text1">How can I contact you?</p>
            <p>
Write to us at merchants@keupons.com

            </p>

           <td>
            <td width="2%">&nbsp;</td>

          </tr>

        </table></td>

      </tr>

      <tr>

        <td >&nbsp;</td>

      </tr>
