<div style="background:#404041; height:442px;">
    <div class="img_hot_deals" style="margin-left:400px;">
        <img src="images/press.png" width="200" height="57" />
    </div>
    <div class="contact_box1" style="margin-left:350px; margin-top:100px">
        <div class="con_txt1">
            MEDIA 
            <br/>
            CONTACTS
        </div>
        <div class="con_line1">
        </div>
        <div class="con_txt2">
            We welcome all media enquiries or coverage. 
        </div>
        <div class="con_txt3" style="margin-top:30px;">
            <a href="#">marketing@keupons.com</a>
        </div>
    </div>
</div>