<div id="page">
<h4 align="center">Do Void</h4>
<h3 align="center">Authorization voided!</h3>		
<dl>
<table>	
<% @response.each do |k,v| %>
<tr><td><%= "#{k}" %>:</td><td><%= "#{v}" %></td>
 <% end -%>
</table>
</dl>       
</div>
	


