/* styles included for some demos but not related to functionality */

body { font: 14px/1.3 verdana, arial, helvetica, sans-serif; }
h1 { font-size:1.3em; margin: .6em 0 .8em 0; }
h2 { font-size:1.2em; margin: 1.2em 0 .6em 0; }
a:link { color:#33c; }    
a:visited { color:#339; }
ul { margin-bottom: 2.4em; }
ul li { margin-bottom:.5em; }
#index p { max-width: 60em; }