/*body {
        margin: 0; padding: 0;
       font-size: 12px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        
        
}
ul,li {list-style-type: none;}
.container {
        width: 960px;
        margin: 0 auto;
        position: relative;
}
#header {
        background: url(../images/header_bg.gif) no-repeat center top;
        padding-top: 120px;
}
#header .disclaimer {
        color: #999;
        padding: 100px 0 7px 0;
        text-align: right;
        display: block;
        position: absolute;
        top: 0; right: 0;
}
#header .disclaimer a {        color: #ccc;}
ul.topnav {
        list-style: none;
        padding: 0 20px;
        margin: 0;
        float: left;
        width: 920px;
        background: #222;
        font-size: 1.2em;
        background: url(../images/topnav_bg.gif) repeat-x;
}
ul.topnav li {
        float: left;
        margin: 0;
        padding: 0 15px 0 0;
        position: relative; 
}




ul.topnav li a{
        padding: 10px 5px;
        color: #fff;
        display: block;
        text-decoration: none;
        float: left;
}
ul.topnav li a:hover{
        background: url(../images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span {
        width: 17px;
        height: 35px;
        float: left;
        background: url(../images/subnav_btn.gif) no-repeat center top;
}


ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} 
ul.topnav li ul.subnav {
        list-style: none;
        position: absolute; 
        left: 0; top: 35px;
        background: #333;
        margin: 0; padding: 0;
        display: none;
        float: left;
        width: 170px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border: 1px solid #111;
}
ul.topnav li ul.subnav li{
        margin: 0; padding: 0;
        border-top: 1px solid #252525; 
        border-bottom: 1px solid #444; 
        clear: both;
        width: 170px;
}
html ul.topnav li ul.subnav li a {
        float: left;
        width: 145px;
        background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
        padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { 
        background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
}
#header img {
        margin: 20px 0 10px;
}
*/

/************************New Layout******************/

/*Home CSS*/

body {
	background-color: #8d8d8d;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.footer_links{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fe4646;
	text-decoration:none;


}
.footer_links:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffa000;
	text-decoration:none;


}
.copyright_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;


}
.table_header_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;

}
.content_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;


}
.button_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;


}
.button_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	font-weight:bold;


}
.deals_content_red_bold{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
	text-decoration:none;

}
.deals_content1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;

}
#popup_view_deal
        {
                width:            100%;
               height:           100%;
                position:         absolute;
                top:              0;
                left:             0;
                z-index:          15;
                background:       transparent url(/images/transparent.png) repeat top left;
                display:          none;
                padding:          200px 0 0 138px;
        }


