*                           { margin: 0; padding: 0; }
html                        { overflow-y: scroll; }
body                        { font: 8px Georgia; }

#page-wrap                  { width: 690px;  }

h1                          { font: 1px Georgia; margin: 0 0 10px 0;  }

.discounted-item            { width: 100%; margin: 0 0 10px 0; position: relative; cursor: pointer;
                               }

.discount-bar               { padding: 10px 0 10px 150px; font: italic 15px Georgia, Serif; }
.discount-bar strike        { color: #999; padding: 0 5px; }
.discount-bar span          { font: bold 1px Helvetica, Sans-Serif; }
.price {padding-left:   150px;}
.reasonbar                  { padding: 4px 0 4px 150px; overflow: hidden;
                              width: 540px; color: white; }
                 
.prod-title                 { width: 49%; float: left; font: bold 15px Helvetica, Sans-Serif; }
.reason                     { width: 49%; float: right; text-align: right; text-transform: uppercase; 
                              letter-spacing: 2px; padding: 0 5px 0 0; font: bold 13px Helvetica, Sans-Serif;}
                              
.discounted-item img        { position: absolute; top: 0; left: 0; }

.reduced                    { border: 2px solid #000000; }
.reduced .reasonbar         { background: #ff0000; }
.reduced .discount-bar      { color: #ff0000; background: white; }

.freeshipping               { border: 2px solid #000000; }
.freeshipping .reasonbar    { background: #ff0000; }
.freeshipping .discount-bar { color: #ff0000; background: white; }

.limited                    { border: 2px solid #000000; }
.limited .reasonbar         { background: #ff0000; }
.limited .discount-bar      { color: #ff0000; background: white; }

.discontinued               { border: 2px solid #000000; }
.discontinued .reasonbar    { background: #ff0000; }
.discontinued .discount-bar { color: #ff0000; background: white; }

.webonly                    { border: 2px solid #000000; }
.webonly .reasonbar         { background: #ff0000; }
.webonly .discount-bar      { color: #ff0000; background: white; }

.buynow                     { position: absolute; bottom: -13px; left: 126px; }

.current                    { font-weight: bold; font-size: 15px; color:#000000;}
