

/* imgage alignment
----------------------------------------------------------------------------------------------------*/
.alignright {
  float: right; 
  margin: 0 0 20px 20px;
  width:auto;
}
.alignleft {
  float: left; 
  margin: 0 20px 10px 0;
  width:auto;
}
a img {
	border:none;
}

blockquote{
	border:1px solid #ddd;
	background-color:#eee;
	padding:10px 10px 10px 20px;
	margin:10px 0px 10px 0px;
	border-left:3px solid #ddd;
	font-size:12px;
	color:#555;
}
.tn-br{
	border:1px solid #eee;
	background-color:#fff;
	padding:5px;
}
.tn-br2{
	border:1px solid #ccc;
	background-color:#eee;
	padding:8px;
}

p{
margin-bottom:10px;

}

ol {
	list-style: decimal;
	margin-left:20px;
	line-height:22px;
}

ul {
	list-style: square;
	padding-left:15px;

}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
img.view-more{

}
a.view-more2{
background-color:#333;
padding:3px 5px;
text-decoration:none;
color:#555;
margin-top:20px;
padding-top:30px;

}
.vpace{
display:block;
height:20px;

}




/*---------------------slider--------------------*/

.slider-frame{
	width:800px;
	height:191px;
	margin-bottom:20px;
	background-image: url(./images/slider-bg.png);
	background-repeat: no-repeat;

	
}
.sliderImages  {
	margin-left:115px;
	padding-top:11px;
	height:171px;
        width:950px;
	

}

.sliderImages ul{
	margin:0px;
	padding:0px;

}
.sliderImages ul li {
	margin:0;
	list-style:none;
	width:245px;
	height:160px;
	margin-left:1px;
	display:inline;


	
}

.arrow-but{
	position:relative;
	z-index:10;

}
.prev {
	position: absolute;
	left:40px;
	top:-145px;
	z-index:10;
}
.next {
	position:absolute;
	left:880px;
	top:-145px;
	z-index:10;
}

