@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,p,ul,li,div,a,img {margin:0px; padding:0px;  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
ul,li {list-style:none;}

#loading{
  position: absolute; 
  right: 0px; 
  top: 0px; 
  background-color: #dd0000; 
  font-weight:bold;
  color: white; 
  margin: 5px; 
  padding: 3px;
}

span > div#loading {
  position: fixed;
}


/* General Styling 
ul,li {list-style-type: none;}

a span, button span, ul#navigation span, h2 span, h3 span {display: none;}

.nodisplay{display:none;} */

/* Navigation */
/* ============================================================================= */

ul#navigation {height: 32px; margin:0; padding:0;margin-left: 200px;}
ul#navigation li {width: 160px;float:left;}
ul#navigation li a {display: block;height: 32px;cursor: pointer;}
ul#navigation li a#home {background: url(../images/today_deal.jpg) 0 0 no-repeat;}
ul#navigation li a#port {background: url(../images/recent_deals.jpg) 0 0 no-repeat;}
ul#navigation li a#services {background: url(../images/how_it_works.jpg) 0 0 no-repeat;}
ul#navigation li a#blog {background: url(../images/Iwandadeal.jpg) 0 0 no-repeat;}
ul#navigation li a#contact {background: url(../images/locationdeals.jpg) 0 0 no-repeat;}
ul#navigation li a#keupons {background: url(../images/mykeupoints.jpg) 0 0 no-repeat;}
/* ul#navigation li a#ad {background: url(../images/advertise.jpg) 0 0 no-repeat;} */


ul#navigation li a#home_front {background: url(../images/today_deal.jpg) 0 -32px no-repeat;}
ul#navigation li a#port_front {background: url(../images/recent_deals.jpg) 0 -32px no-repeat;}
ul#navigation li a#services_front {background: url(../images/how_it_works.jpg) 0 -32px no-repeat;}
ul#navigation li a#blog_front {background: url(../images/Iwandadeal.jpg) 0 -32px no-repeat;}
ul#navigation li a#contact_front {background: url(../images/locationdeals.jpg) 0 -32px no-repeat;}
ul#navigation li a#keupons_front {background: url(../images/mykeupoints.jpg) 0 -32px no-repeat;}
/*ul#navigation li a#ad_front {background: url(../images/advertise.jpg) 0 -32px no-repeat;} */


ul#navigation li a#home:hover,
ul#navigation li a#port:hover,
ul#navigation li a#services:hover,
ul#navigation li a#blog:hover,
ul#navigation li a#contact:hover {background-position: 0 -32px;}

ul#navigation li .selected{background-position: 0 -32px;}

.submenu{background:url(../images/bg_submenu.jpg) no-repeat; height:55px;}
#sub-nav{padding-top:22px; margin-left:0; padding-left:28px; font-size:11px;}
#sub-nav li{list-style:none; float:left;}
#sub-nav li a{margin-right:5px; color:#999; float:left; padding-left:15px; background:url(../images/bullet.jpg) no-repeat; padding-right:10px;}
#sub-nav li a:hover{color:#151515; background:url(../images/bullet_selected.jpg) no-repeat;}
#sub-nav li a.selected {background:url(../images/bullet_selected.jpg) no-repeat; padding-left:15px; float:left; color:#151515;}

/* ============================================================================= */

/* Navigation for customers*/

ul#navigation_merchant {height: 32px; margin:0; padding:0;margin-left: 240px;}
ul#navigation_merchant li {width: 160px;float:left;}
ul#navigation_merchant li a {display: block;height: 32px;cursor: pointer;}
ul#navigation_merchant li a#home {background: url(../images/deals_button.jpg) 0 0 no-repeat;}
ul#navigation_merchant li a#port {background: url(../images/deal_bull.jpg) 0 0 no-repeat;}
ul#navigation_merchant li a#services {background: url(../images/my_profile.jpg) 0 0 no-repeat;}
ul#navigation_merchant li a#blog {background: url(../images/analytics.jpg) 0 0 no-repeat;}
ul#navigation_merchant li a#contact {background: url(../images/locationdeals.jpg) 0 0 no-repeat;}

ul#navigation_merchant li a#home_front {background: url(../images/deals_button.jpg) 0 -32px no-repeat;}
ul#navigation_merchant li a#port_front {background: url(../images/deal_bull.jpg) 0 -32px no-repeat;}
ul#navigation_merchant li a#services_front {background: url(../images/my_profile.jpg) 0 -32px no-repeat;}
ul#navigation_merchant li a#blog_front {background: url(../images/analytics.jpg) 0 -32px no-repeat;}
ul#navigation_merchant li a#contact_front {background: url(../images/locationdeals.jpg) 0 -32px no-repeat;}


ul#navigation_merchant li a#home:hover,
ul#navigation_merchant li a#port:hover,
ul#navigation_merchant li a#services:hover,
ul#navigation_merchant li a#blog:hover,
ul#navigation_merchant li a#contact:hover {background-position: 0 -32px;}

ul#navigation_merchant li .selected{background-position: 0 -32px;}

.submenu{background:url(../images/bg_submenu.jpg) no-repeat; height:55px;}
#sub-nav{padding-top:22px; margin-left:0; padding-left:28px; font-size:11px;}
#sub-nav li{list-style:none; float:left;}
#sub-nav li a{margin-right:5px; color:#999; float:left; padding-left:15px; background:url(../images/bullet.jpg) no-repeat; padding-right:10px;}
#sub-nav li a:hover{color:#151515; background:url(../images/bullet_selected.jpg) no-repeat;}
#sub-nav li a.selected {background:url(../images/bullet_selected.jpg) no-repeat; padding-left:15px; float:left; color:#151515;}

/* ============================================================================= */

/*Navigation for submenu*/


ul#navigation_sub_merchant {height: 23px; margin:0; padding:0;margin-left: 80px;}
ul#navigation_sub_merchant li {width: 160px;float:left;}
ul#navigation_sub_merchant li a {display: block;height: 23px;cursor: pointer;}
ul#navigation_sub_merchant li a#home {background: url(../images/newdeals.jpg) 0 0 no-repeat;}
ul#navigation_sub_merchant li a#port {background: url(../images/mydeals.jpg) 0 0 no-repeat;}
ul#navigation_sub_merchant li a#services {background: url(../images/redeemdeals.jpg) 0 0 no-repeat;}


ul#navigation_sub_merchant li a#home_front {background: url(../images/newdeals.jpg) 0 -23px no-repeat;}
ul#navigation_sub_merchant li a#port_front {background: url(../images/mydeals.jpg) 0 -23px no-repeat;}
ul#navigation_sub_merchant li a#services_front {background: url(../images/redeemdeals.jpg) 0 -23px no-repeat;}


ul#navigation_sub_merchant li a#home:hover,
ul#navigation_sub_merchant li a#port:hover,
ul#navigation_sub_merchant li a#services:hover,
ul#navigation_sub_merchant li a#blog:hover,
ul#navigation_sub_merchant li a#contact:hover {background-position: 0 -23px;}

ul#navigation_sub_merchant li .selected{background-position: 0 -23px;}

.submenu{background:url(../images/bg_submenu.jpg) no-repeat; height:55px;}
#sub-nav{padding-top:22px; margin-left:0; padding-left:28px; font-size:11px;}
#sub-nav li{list-style:none; float:left;}
#sub-nav li a{margin-right:5px; color:#999; float:left; padding-left:15px; background:url(../images/bullet.jpg) no-repeat; padding-right:10px;}
#sub-nav li a:hover{color:#151515; background:url(../images/bullet_selected.jpg) no-repeat;}
#sub-nav li a.selected {background:url(../images/bullet_selected.jpg) no-repeat; padding-left:15px; float:left; color:#151515;}

/* ============================================================================= */

.discussionboard
{
background-image:url(../images/topnav_bg.gif);
background-repeat: repeat;

}

#popup_view_deal
        {
                width:            100%;
                height:           500%;
                position:         absolute;
                top:              0;
                left:             0;
                z-index:          15;
                background:       transparent url(/images/transparent.png) repeat top left;
                display:          none;
                padding:          200px 0 0 138px;
        }

#popup_create_deal
        {
                width:            100%;
                height:           500%;
                position:         absolute;
                top:              0;
                left:             0;
                z-index:          15;
                background:       transparent url(/images/transparent.png) repeat top left;
                display:          none;
                padding:          200px 0 0 138px;
        }

.popup table {
    width: 100%;
    cellpadding: 0px;
    cellspacing: 0px;
    align: center;
}

.popup td {    
    height: 25px;
}



/*New Style html css*/



#wraper {
	padding: 0px;
	height: auto;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;

}

#header {
	float: left;
	height: auto;
	width: 1000px;
	background-color: #FFF;
}
#top {
	float: left;
	height: 162px;
	width: 1000px;
}
#logo {
	float: left;
	height: 162px;
	width: 252px;
}
#head1 {
	float: left;
	height: 55px;
	width: 748px;
}
#hot_deals {
	float: left;
	height: 28px;
	width: 280px;
	margin-top: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000;
	line-height: 28px;
	color: #F00;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	padding-left: 10px;
}
#findCity {
	float: left;
	height: 32px;
	width: 167px;
	margin-top: 12px;
       
}
#facebook {
	float: right;
	height: auto;
	width: 167px;
	padding-left: 5px;
        margin-right: 125px;
        margin-top: -50px;
	padding-top: 12px;
}
#go {
	float: left;
	height: auto;
	width: 60px;
	padding-top: 17px;
	padding-left: 5px;
}
#head2 {
	float: left;
	height: auto;
	width: 748px;
}
#addMoreFrnd {
	float: left;
	width: 226px;
	height: auto;
	padding-left: 25px;
	padding-top: 10px;
}
#advertise {
	float: left;
	height: 64px;
	width: 208px;
	padding-top: 10px;
}
#watchVid {
	float: left;
	height: auto;
	width: 135px;
	padding-top: 10px;
}
#nav {
	float: left;
	height: 41px;
	width: 966px;
	padding-left: 34px;
}
#nav ul {
	margin: 0px;
	padding: 0px;
}
#nav ul li {
	display: block;
	float: left;
	width: 148px;
	height: 31px;
	list-style-type: none;
	margin-left: 7px;
	color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
#nav ul li a {
	margin: 0px;
	float: left;
	height: 34px;
	width: 148px;
	background-image: url(/images/RedNAv.jpg);
	background-repeat: no-repeat;
	color: #FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
#nav ul li a:hover {
	background-image: url(/images/BlackNAV.jpg);
	background-repeat: no-repeat;
	height: 41px;
	width: 148px;
	color: #FFF;
	text-decoration: none;
}

#nav ul li a.current {
	background-image: url(/images/BlackNAV.jpg);
	background-repeat: no-repeat;
	height: 41px;
	width: 148px;
	color: #FFF;
	text-decoration: none;
}

#todayHOT {
	background-image: url(/images/todayBG.jpg);
	float: left;
	height: 48px;
	width: 1000px;
}
.todHotdeal {
	float: left;
	height: 48px;
	width: 300px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	line-height: 48px;
	color: #FFF;
	padding-left: 20px;
}
.keypoint {
	float: left;
	height: 48px;
	width: 174px;
}
.keyValue {
	float: right;
	height: 43px;
	width: 470px;
	padding-top: 5px;
        padding-right: 5px;
}
.red {
	background-image: url(/images/red.jpg);
	float: left;
	height: 38px;
	width: 94px;
	line-height: 19px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 14px;
}
.white {
	background-image: url(/images/white.jpg);
	float: left;
	height: 38px;
	width: 94px;
	line-height: 19px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #000;
	text-align: center;
}
.KeypointRight {
	float: left;
	height: 48px;
	width: 121px;
	padding-top: 0px;
	padding-left: 0px;
}
#user1 {
	float: left;
	height: 390px;
	width: 1000px;
}

#offered_deals {
	float: left;
	min-height: 390px;
	width: 1000px;
}

.dealsoffered
{
background-image:url(/images/bg_module.jpg);
background-repeat: repeat;
color:#222222;
padding:4px;
_padding:0px;
text-align:center;
}

#user_recent {
	float: left;
	height: auto;
	width: 1000px;
}
.cont1 {
	float: left;
	height: 351px;
	width: 322px;
	border:1px solid #AFAFAF;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	margin-top: 8px;
	margin-right: 11px;
	margin-left: 13px;
	background-color: fbfbfb;
	padding: 10px;

}
.shadow {
       -moz-box-shadow: 3px 3px 4px #000;
       -webkit-box-shadow: 3px 3px 4px #000;
       box-shadow: 3px 3px 4px #000;
}
.for_P {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	text-align: left;
}
.for_PW {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFF;
}

.for_Ph {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #F00;
}


#userform {
	float: left;
	height: 690px;
	width: 650px;
        background:url("/images/style4_2_bg.gif") repeat-x scroll center top rgb(54, 53, 53);
}
#userform2 {
        float: right;
	height: 690px;
	width: 350px;
}

.contform {
	float: left;
	height: 1000;
	width: 700;
	border:1px solid #AFAFAF;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	margin-top: 8px;
	margin-right: 11px;
	margin-left: 13px;
	background-color: fbfbfb;
	padding: 10px;

}

.cont2 {
	float: left;
	height: 381px;
	width: 267px;
	margin-top: 8px;
	margin-left: 15px;
	margin-right: 11px;
	background-image: url(/images/hurry_up.jpg);
	background-repeat: no-repeat;
}
.save {
	float: left;
	height: 40px;
	width: 267px;
	padding-top: 50px;
	line-height: 35px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #FFF;
}
.timeLeft {
	float: left;
	height: 25px;
	width: 155px;
	padding-top: 24px;
	padding-left: 110px;
}
.clickHear {
	float: left;
	height: 26px;
	width: 267px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 26px;
	color: #FFF;
	text-align: center;
}
.button {
	float: left;
	height: 55px;
	width: 267px;
}
.for_nav {
	color: #FFF;
	text-decoration: none;
}
.addFive {
	float: left;
	height: 40px;
	width: 267px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 40px;
	font-weight: normal;
	color: #FFF;
	text-align: center;
}
.socielICONs {
	float: left;
	height: 38px;
	width: 237px;
	padding-left: 30px;
	padding-top: 7px;
}
.socielICONs ul {
	margin: 0px;
	padding: 0px;
}
.socielICONs ul li {
	display: block;
	float: left;
	padding-left: 7px;
	list-style-type: none;
}
.buynow {
	float: left;
	height: 60px;
	width: 267px;
	text-align: center;
	padding-top: 5px;
}
.cont3 {
	float: left;
	height: 285px;
	width: 304px;
	margin-top: 8px;
	margin-left: 12px;
	border:1px solid #ff0000;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}
.priseDisco {
	float: left;
	height: 26px;
	width: 237px;
	background-image: url(/images/pricetag.jpg);
	background-repeat: no-repeat;
	margin-left: 25px;
	padding-top: 35px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
	padding-left: 20px;
}
#user2 {
	float: left;
	height: 271px;
	width: 910px;
	border:2px solid #AFAFAF;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	margin-left: 41px;
	padding-top: 11px;
	padding-left: 11px;
}
.user2IMG {
	float: left;
	height: 250px;
	width: 184px;
	padding-left: 18px;
	background-image: url(/images/apple.jpg);
	background-repeat: no-repeat;
	padding-top: 10px;
}
.user2TEXT {
	float: left;
	height: 260px;
	width: 660px;
	padding-left: 30px;
}
#user3 {
	float: left;
	height: 171px;
	width: 1000px;
	margin-top: 10px;
}
.user3Head {
	float: left;
	height: 33px;
	width: 980px;
	padding-left: 20px;
	background-image: url(/images/red_gradient.jpg);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: 33px;
	color: #FFF;
}

.imgGallery {
	float: left;
	height: 138px;
	width: 1000px;
}

#user4 {
	float: left;
	height: 125px;
	width: 967px;
	padding-top: 10px;
	padding-left: 11px;
}
.user4IMG1 {
	float: left;
	height: 117px;
	width: 306px;
	padding-left: 11px;
}
#footer {
	float: left;
	height: 100px;
	width: 967px;
	background-image: url(/images/footer.jpg);
	padding-left: 33px;
}
.quickLink {
	float: left;
	height: 178px;
	width: 495px;
}
.Quick1 {
	float: left;
	width: 165px;
	height: auto;
	padding-top: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
}
.Quick1 ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.Quick1 ul li {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FF4546;
	list-style-type: none;
	margin-top: 3px;
}
.Quick1 ul li a {
	color: #FF4546;
	text-decoration: none;
}
.Quick1 ul li a:hover {
	color: #FFF;
}
#partner {
	float: left;
	width: 424px;
	height: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #FFF;
	margin-top: 15px;
	padding-left: 26px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333;
}
#partner img {
	margin-top: 10px;
}
#copyright {
	float: left;
	width: 454px;
	height: 25px;
	padding-top: 25px;
	padding-left: 41px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFF;
}
#footerFollowUs {
	float: left;
	height: 40px;
	width: 300px;
	padding-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 40px;
	color: #FFF;
	padding-left: 150px;
}
#footerFollowUs ul {
	margin: 0px;
	padding: 0px;
}
#footerFollowUs ul li {
	display: block;
	float: left;
	margin-left: 5px;
	list-style-type: none;
}

h2 {font:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#FFF;}

.menu_body {
	display:none;
	width:167px;
	border-right:1px solid #998675;
	border-bottom:1px solid #998675;
	border-left:1px solid #998675;
	position: absolute;
}
.menu_body li{
	background-color: #FF0000;
}
.menu_body li.alt{
	background:#000000;
}
.menu_body li a{color:#FFFFFF; text-decoration:none; padding:10px; display:block;}
.menu_body li a:hover{padding:15px 10px; font-weight:bold;}
.dateBlog {
	float: left;
	height: auto;
	width: 322px;
	margin-top: 8px;
	margin-right: 11px;
	margin-left: 13px;
}
.dateB1 {
	float: left;
	width: 300px;
	height: 286px;
	border: 1px solid #CCC;
	padding-left: 20px;
}
.dateB1_top {
	float: left;
	height: 31px;
	width: 300px;
	line-height: 31px;
	font-size: 14px;
	font-weight: normal;
	color: #000;
}
.dateB1_center {
	float: left;
	height: auto;
	width: 300px;
}
.dateB1_C1 {
	width: 204px;
	float: left;
	height: auto;
	border: 1px solid #F00;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	margin-top: 7px;
}
.dateB1_C2 {
	float: left;
	width: 79px;
	height: 143px;
	background-image: url(/images/price_discount.jpg);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #FFF;
	text-align: center;
	padding-top: 33px;
}
.dateB1_text {
	float: left;
	height: auto;
	width: 300px;
	padding-top: 10px;
	font-size: 16px;
	color: #000;
}
.dateB2 {
	float: left;
	width: 260px;
	background-image: url(/images/keupons_bought.jpg);
	background-repeat: no-repeat;
	height: 38px;
	
	font-size: 16px;
	line-height: 38px;
	color: #FFF;
	padding-left: 62px;
}

/* Styles that relton has defined */
/* Style for Customer Demand Deals Scrollbar Header*/
#demandDealSubTitle {
	background-image: url(/images/todayBG.jpg);
	float: left;
	height: 30px;
	width: 350px;
}
.yourDemandDealSubTitle {
	float: left;
	height: 30px;
	width: 350px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: 30px;
	color: #FFF;
	padding-left: 10px;
}
/* Style for Vertical tabs in the scrollbar of I want a deal page*/
.iwantdeal_vertical_tabs {
	float: left;
	width: 79px;
	height: 143px;
	background-image: url(/images/iwantdeal_vertical_tabs.jpg);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #FFF;
	text-align: center;
	padding-top: 33px;
}


/*image slider*/

			#slider {
				height:353px;
				width:970px;
				clear: both;
				position: relative;
				background: url(/images/slide-bg.jpg) no-repeat left top;
 			}

  			#slideh{
 				position: relative;
				left:0px;
				_left:-490px;
 			}

			.slider_item{
				position:absolute;
				width:200px;
				top:20px;
				left:318px;
				z-index: 1;
				overflow: hidden;
				cursor: pointer;
			}

			#slide .sliderh1{
				position:absolute;
				width:430px;
				top:20px;
				left:270px;
				_left:276px;
				z-index: 3;
			}

			#slide .sliderh1 img{
				width:430px;
			}

			#slide .sliderh5, #slide .sliderh2{
				width:200px;
				left:54px;
				_left:60px;
				top:60px;
				z-index: 2;
			}

 			#slide #slideh .sliderh2{
				left:716px;
				_left:718px;
			}

			#slide #slideh .slideh3{
				left:547px;
			}

			#slide #slideh .slideh4{
				left:240px;
			}

			.slider_item img{
				width:200px;
			}

			#slide .sliderh5 img, #slide .sliderh2 img{
				width:200px;
			}

			.item, .wrapper img{
 			}


			.slider_item img{
				display:block;
				position: relative;
			}

 			.scrollButtons {
				position: absolute;
				top: 126px;
				cursor:pointer;
			}

			.scrollButtons.left {
				left: -4px;
 			}

			.scrollButtons.right {
				right: -5px;
				top:131px;
			}

/* --- LAYOUT
________________________________________*/




.fullwidth							{ width:860px; margin:0 auto; position:relative; }

.half_width 						{ width:47%;	}
.one_third 							{ width:30.66%;	}
.two_third 							{ width:65.33%;	}
.one_fourth							{ width:22%;	}
.one_fifth							{ width:16.7%;	}
.three_fourth						{ width:74%;	}
.four_fifth							{ width:79%;	}
.two_fifth							{ width:37.2%; 	}
.three_fifth						{ width:58%; 	}
.one_sixth 							{ width:13.3%;	}

.half_width,
.one_third,
.two_third,
.one_fourth,
.one_fifth,
.four_fifth,
.two_fifth,
.one_sixth,
.three_fifth,
.three_fourth						{ float:left; position:relative; display:inline; margin-right:4%; }

.last 								{ margin-right:0 !important;}





/* --- FEATURED SLIDER
________________________________________*/

#featured_slider			{ width:100%; margin:20px auto 0px auto; padding:0 0 20px 0; position:relative; z-index:2; overflow:hidden; height:100%;}
.slider						{ width:920px; margin:0 auto; position:relative;  }

.plan_box					{ width: auto; height: 200px; overflow: hidden; position: relative; padding:0 0px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  }

.plan_box .plan_info 		{ width:100%; position:absolute; height:350px;  top:0; left:0; text-align:center; cursor:pointer; z-index:1;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  }
.plan_box .plan_details 	{ width:100%; margin:0 auto; height:200px; text-align:center; z-index:0;}
.plan_box .content			{ margin:0 10px; }

ul.boxlist					{ margin:10px 0 10px 0;  }
ul.boxlist li				{ list-style-type:none; text-align:left; line-height:18px; padding:10px 35px; margin:0px 0; list-style-position:outside; font-size:12px;}

.plan_box h2				{ font-weight:bold; background:none; border:none; margin:20px 0 0 0 ; padding:0; }
.plan_box h3.price			{ margin:0; font-weight:bold; padding:0;}
.plan_box h3.price span,
.plan_box h4				{ margin:0; padding:0; font-size:90%; font-weight:normal;
opacity: .8; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
.plan_box h4				{ font-size:100%; font-weight:bold; margin:10px 0;}
.plan_box h5 				{ color:#fff; }


.footer_links{
color: #FF4546;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;

}


