<style type="text/css">
  .subscription_text{



    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;


    color:#ffffff;
    text-decoration:none;

  }

  }


</style>
<br/>
<%@deal=KeuponSubscribers.new()%>
<div id='popup_center' style=" width: 604px; padding-left: 80px; display: block;margin-top: -150px;">
  <a href="#" onclick="hideElt('first_time_popup');" ><img src="/images/close1.png" border="0" style="float:right;position: absolute;margin-left: 765px;margin-top: -10px;" /></a>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
    	<td align="center" valign="bottom" height="">
        <img src="/images/pop1_01.jpg" />
        </td>
    </tr>
  <tr>
    <td valign="top" style="background:url(/images/pop1_02.jpg) center top no-repeat;"  width="758" height="290">
    	<div style="width:758px; height:50px; padding-left:80px; " >
    	  <table width="360%" border="0" cellspacing="0" cellpadding="0"><tr><td class="pop_up_text"><table width="360%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="36" height="36"><img src="/images/1.jpg" /></td>
              <td class="pop_up_text"> Keupons features high-end merchandise from the nation's top web merchants. </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/2.jpg" /></td>
              <td class="pop_up_text" style="padding-top:5px;">Our sales begin and end at noon each weekday. Some items have limited <br />
                supply, and once it's gone, it's gone..</td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/3.jpg" /></td>
              <td class="pop_up_text">Prices always start at 50% off or better </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/4.jpg" /></td>
              <td class="pop_up_text" style="padding-top:5px;"> As more people buy, the price gets lower. We won't charge your credit card until the sale ends, <br />
                and everyone pays the day's lowest price. </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/5.jpg" /></td>
              <td class="pop_up_text">Refer your friends, and earn $10 keupons credit for each one that becomes a customer. </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/6.jpg" /></td>
              <td class="pop_up_text">Find us on Facebook, where we offer a prize every single weekday. </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/7.jpg" /></td>
              <td class="pop_up_text">Spread the word, and we'll all save more! .</td>
            </tr>
          </table></td>
  </tr>
    	</table>

      </div>
    </td>
  </tr>
  <tr>
    	<td align="center"><img src="/images/pop1_03.jpg" /></td>
    </tr>
</table>
</div>
