<style type="text/css">
  .subscription_text{



    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;


    color:#ffffff;
    text-decoration:none;

  }

  }


</style>
<br/>
<%@deal=KeuponSubscribers.new()%>
<div id='popup_center' style=" width: 604px; padding-left: 80px; display: block;margin-top: -150px;">
  <a href="#" onclick="hideElt('first_time_popup');" ><img src="/images/close1.png" border="0" style="float:right;position: absolute;margin-left: 765px;margin-top: -10px;" /></a>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
    	<td align="center" valign="bottom" height="">
        <img src="/images/pop1_01.jpg" />
        </td>
    </tr>
  <tr>
    <td valign="top" style="background:url(/images/pop1_02.jpg) center top no-repeat;"  width="758" height="290">
    	<div style="width:758px; height:50px; padding-left:80px; " >
    	  <table width="360%" border="0" cellspacing="0" cellpadding="0"><tr><td class="pop_up_text"><table width="360%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="36" height="36"><img src="/images/1.jpg" /></td>
              <td class="pop_up_text"> Keupons.com feature Super Bargain Deals you can’t get anywhere else! </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/2.jpg" /></td>
              <td class="pop_up_text" style="padding-top:5px;">Prices always start at 40% Off and More<br />
                <i>Some deals are LIMITED and may last as fast as 24hour OR up to 72hours only</i>
              </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/3.jpg" /></td>
              <td class="pop_up_text">The ONLY site in Town where Prices gets lower and lower as more people buy</td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/4.jpg" /></td>
              <td class="pop_up_text" style="padding-top:5px;">EVERYONE pays the LOWEST price at end of deal even if you BUY now!<br />
                <i>Your card will be charged only when the deal ends.</i>
              </td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/5.jpg" /></td>
              <td class="pop_up_text">Follow us on Facebook & Twitter for Hot Deals</td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/6.jpg" /></td>
              <td class="pop_up_text">Keupons always KISS -Keep It Short Simple to be your preferred Shopping Paradise!</td>
            </tr>
            <tr>
              <td width="36" height="36"><img src="/images/7.jpg" /></td>
              <td class="pop_up_text">Invite Your Friends and earn $6 Kredits for every friend that becomes a customer!</td>
            </tr>
          </table></td>
  </tr>
    	</table>

      </div>
    </td>
  </tr>
  <tr>
    	<td align="center"><img src="/images/pop1_03.jpg" /></td>
    </tr>
</table>
</div>
