


              <div style="float:left;width:890px;background-color: #1589FF;">
             <table style="font-family:georgio;color:#ffffff;font-size:16px;font-weight:bold;">
               <tr><td style="padding-left:20px;">Website Developed By :Hibiscustech</td>
               <td style="padding-left:38px;"><a href='/about_us' style="text-decoration:none;color:#ffffff;"> About Us</a>&nbsp;|&nbsp;<a href='/contact_us' style=text-decoration:none;color:#ffffff;>Contact Us</a>&nbsp;|&nbsp;<a href=# style=text-decoration:none;color:#ffffff;>Feedback</a>&nbsp;|&nbsp;<a href=# style=text-decoration:none;color:#ffffff;>Site Map</a></td>
               <td style="padding-left:23px;">Copyright &copy;2010,KidPic </td>
             </tr>
             </table>
        </div>


 