<!--
<td height="110" background="/images/footer_bg.jpg" ><table width="100%" border="0"  cellspacing="3" cellpadding="0">
          <tr>
            <td colspan="2"  align="center">
                  <a href="/contact" class="footer_links">Contact Us</a> <span class="break" >|</span>
                  <a href="/about" class="footer_links">About keupons</a> <span class="break">|</span>
                  <a href="/jobs" class="footer_links" >Jobs at keupons</a> <span class="break">|</span>
                  <a href="/customer_faqs" class="footer_links" >Customer FAQ’s</a><span class="break">|</span>
                  <a href="/merchant_faqs" class="footer_links" >Merchant FAQ’s</a><span class="break">|</span>
                  <a href="/press" class="footer_links" >Press</a> <span class="break">|</span>
                  <a href="/legal" class="footer_links" >T&Cs</a> <span class="break">|</span>
                  <a href="/privacy" class="footer_links" >Privacy policy</a>
            </td>
            </tr>
          <tr>
            <td width="43%" align="center" class="footer_links"> Copyright © 2010 www.keupons.com. All Rights Reserved </td>
            <td width="57%"><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="62%" align="right" class="footer_links">Follow us on</td>
                <td width="7%" align="center"><a target="_blank" href="http://twitter.com/keupons_sg"><img src="/images/twitericon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="7%" align="center"><a target="_blank" href="Http://www.facebook.com/keupons"><img src="/images/facefootIcon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="3%">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
-->
<td>
  <div id="footer" style="background:url(/images/footer.jpg) repeat-x;">
    <div class="quickLink">
      <div class="Quick1">
        <p><strong>Quick Links</strong></p>
        <ul>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/customer_faqs" >Customer FAQ’s</a></li>
          <li><a href="/legal" >T&Cs</a></li>
        </ul>
      </div>

        <div class="Quick1">
          <p><strong>&nbsp;</strong></p>
        <ul>
          <li><a href="/about">About keupons</a></li>
          <li><a href="/merchant_faqs" >Merchant FAQ’s</a></li>
          <li><a href="/privacy" >Privacy policy</a></li>
        </ul>
        </div>

        <div class="Quick1">
          <p><strong>&nbsp;</strong></p>
        <ul>
          <li><a href="/jobs" class="footer_links" >Jobs at keupons</a></li>
          <li><a href="/press" class="footer_links" >Press</a></li>
        </ul>
        </div>
    </div>
    <div id="partner">
      <strong>Our Partners</strong><br />
      <img src="/images/our_partners_image.jpg" border="0px" />
    </div>

    <div id="copyright">Copyright © 2010 www.keupons.com. All Rights Reserved</div>
    <div id="footerFollowUs">
      <p style="float:left;">Follow Us On </p>
      <ul>
        <li><a target="_blank" href="http://twitter.com/keupons_sg"><img src="/images/twitericon.jpg" border="0" /></a></li>
        <li><a target="_blank" href="Http://www.facebook.com/keupons"><img src="/images/facefootIcon.jpg" border="0" /></a></li>
      </ul>
    </div>
  </div>
</td>

