<td>
  <div id="footer" style="background:url(/images/footer.jpg) repeat-x;">
    <div class="quickLink">
      <div class="Quick1">
          <p>Company</p>
        <ul>

          <li><a href="/about" >About keupons.com</a></li>
          <li><a href="/contact" >Contact us</a></li>
          <li><a href="/jobs" >Jobs</a></li>
          <li><a href="/legal" >Terms & Conditions</a></li>
        </ul>
        </div>

        <div class="Quick1">
          <p>More</p>
        <ul>
          <li><a href="/press" >Press</a></li>
          <li><a href="/customer_faqs" >Customer faqs</a></li>
          <li><a href="/merchant_faqs" >Merchant faqs</a></li>
          <li><a href="/privacy" >Privacy policy</a></li>
        </ul>
        </div>

        <div class="Quick1">
          <p>Quick Links</p>
        <ul>
          <li><a href="/invite_friends" >Invite friends</a></li>
          <li><a href="#" onclick="createsubscription('popup_create_deal');">Keupons Subscribe</a></li>
        </ul>
        </div>
        <div  class="footer_new">Copyright © 2010 www.keupons.com. All Rights Reserved</div>
    </div>
    <div id="partner">
      <div style="margin-top:20px; float:left;"><a onclick="alert('The iPhone App is coming soon.')" href="#"><img src="/images/apps.png" border="0" /></a></div>
        <div style="float:left; margin-top:30px;">
          <div style="padding-left:20px;">Follow Us On</div>
            <div style="padding-left:25px;"><a target="_blank" href="http://twitter.com/keupons_sg"><img src="/images/twitericon.jpg" border="0" /></a>&nbsp;<a target="_blank" href="Http://www.facebook.com/keupons"><img src="/images/facefootIcon.jpg" border="0" /></a></div>
        </div>
        <div style="float:right; margin-top:10px;">
          <div style="padding-left:30px;">Featured Partner</div>
                <div  style="padding-left:20px;"><a target="_blank"  href="http://www.bodycontours.com.sg  "><img src="/images/body.png" border="0" /></a></div>
        </div>
    </div>

    </div>
</td>

