 <td height="110" background="/images/footer_bg.jpg"><table width="100%" border="0" cellspacing="3" cellpadding="0">
          <tr>
            <td colspan="2" align="center"><a href="/contact" class="footer_links">Contact Us</a> <span class="footer_links">|</span> <a href="/about" class="footer_links">About keupons</a> <span class="footer_links">|</span> <a href="/recent_deals" class="footer_links">Recent Deals</a> <span class="footer_links">|</span> <a href="/jobs" class="footer_links">Jobs at keupons</a> <span class="footer_links">|</span> <a href="/press" class="footer_links">Press</a> <span class="footer_links">|</span> <a href="/legal" class="footer_links">Legal</a> <span class="footer_links"> | <a href="/customer_faqs" class="footer_links">Customer FAQ's</a> <span class="footer_links"> | <a href="/merchant_faqs" class="footer_links">Merchant FAQ's</a> <span class="footer_links"> | </span> <a href="/privacy" class="footer_links">Privacy policy</a></td>            </tr>
          <tr>
            <td width="43%" align="center" class="copyright_text"> Copyright © 2010 <a href="http://www.keupons.com" style="color: #fff;">www.keupons.com</a>. All Rights Reserved </td>
            <td width="57%"><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="62%" align="right" class="copyright_text">Follow us on</td>
                <td width="7%" align="center"><a href="http://twitter.com/keupons_sg"><img src="/images/twitericon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="7%" align="center"><a href="Http://www.keupons.com/blog"><img src="/images/blogicon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="7%" align="center"><a href="Http://www.facebook.com/keupons"><img src="/images/facefootIcon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="3%">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>



