
  	<div class="quickLink">
        <div class="Quick1">
    	<p><strong>Quick Links</strong></p>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About keupons</a></li>
          <li><a href="#">Jobs at keupons</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
    	</div>
    </div>
    <!--<div id="partner">
    	<strong>Our Partners</strong><br />
<img src="/images/our_partners_image.jpg" border="0px" />
    </div>-->

    <div id="copyright">Copyright © 2010  www.keupons.com. All Rights Reserved</div>
    <div id="footerFollowUs">
      <p style="float:left;">Follow Us On </p>
      <ul>
        <li><a href="#"><img src="/images/twitericon.jpg" border="0px" /></a></li>
        <li><a href="#"><img src="/images/yahooIcon.jpg" border="0px" /></a></li>
        <li><a href="#"><img src="/images/blogicon.jpg" border="0px" /></a></li>
        <li><a href="#"><img src="/images/diggIcon.jpg" border="0px" /></a></li>
        <li><a href="#"><img src="/images/facefootIcon.jpg" border="0px" /></a></li>
      </ul>
    </div>
