<!--
<td height="110" background="/images/footer_bg.jpg" ><table width="100%" border="0"  cellspacing="3" cellpadding="0">
          <tr>
            <td colspan="2"  align="center">
                  <a href="/contact" class="footer_links">Contact Us</a> <span class="break" >|</span>
                  <a href="/about" class="footer_links">About keupons</a> <span class="break">|</span>
                  <a href="/jobs" class="footer_links" >Jobs at keupons</a> <span class="break">|</span>
                  <a href="/customer_faqs" class="footer_links" >Customer FAQ’s</a><span class="break">|</span>
                  <a href="/merchant_faqs" class="footer_links" >Merchant FAQ’s</a><span class="break">|</span>
                  <a href="/press" class="footer_links" >Press</a> <span class="break">|</span>
                  <a href="/legal" class="footer_links" >T&Cs</a> <span class="break">|</span>
                  <a href="/privacy" class="footer_links" >Privacy policy</a>
            </td>
            </tr>
          <tr>
            <td width="43%" align="center" class="footer_links"> Copyright © 2010 www.keupons.com. All Rights Reserved </td>
            <td width="57%"><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="62%" align="right" class="footer_links">Follow us on</td>
                <td width="7%" align="center"><a target="_blank" href="http://twitter.com/keupons_sg"><img src="/images/twitericon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="7%" align="center"><a target="_blank" href="Http://www.facebook.com/keupons"><img src="/images/facefootIcon.jpg" width="35" height="34" border="0" /></a></td>
                <td width="3%">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
-->
<td>
  <div id="footer" style="background:url(/images/footer.jpg) repeat-x;">
    <div class="quickLink">
      <div class="Quick1">
          <p>Company</p>
        <ul>

          <li><a href="/about" >About keupons.com</a></li>
          <li><a href="/contact" >Contact us</a></li>
          <li><a href="/jobs" >Jobs</a></li>
          <li><a href="/legal" >Terms & Conditions</a></li>
          <li><a href="/privacy" >Privacy Policy</a></li>
        </ul>
        </div>

        <div class="Quick1">
          <p>More</p>
        <ul>
          <li><a href="/press" >Press</a></li>
          <li><a href="/customer_faqs" >Customer faqs</a></li>
          <li><a href="/merchant_faqs" >Merchant faqs</a></li>
          <li><a href="/privacy" >Privacy policy</a></li>
        </ul>
        </div>

        <div class="Quick1">
          <p>Quick Links</p>
        <ul>
          <li><a href="/invite_friends" >Invite friends</a></li>
          <li><a href="#" >Keupons Subscribe</a></li>
        </ul>
        </div>
        <div  class="footer_new">Copyright © 2010 www.keupons.com. All Rights Reserved</div>
    </div>
    <div id="partner">
      <div style="margin-top:20px; float:left;"><a onclick="alert('The iPhone App is coming soon.')" href="#"><img src="/images/apps.png" border="0" /></a></div>
        <div style="float:left; margin-top:30px;">
          <div style="padding-left:20px;">Follow Us On</div>
            <div style="padding-left:25px;"><a target="_blank" href="http://twitter.com/keupons_sg"><img src="/images/twitericon.jpg" border="0" /></a>&nbsp;<a target="_blank" href="Http://www.facebook.com/keupons"><img src="/images/facefootIcon.jpg" border="0" /></a></div>
        </div>
        <div style="float:right; margin-top:10px;">
          <div style="padding-left:30px;">Featured Partner</div>
                <div  style="padding-left:20px;"><a target="_blank"  href="http://www.bodycontours.com.sg  "><img src="/images/body.png" border="0" /></a></div>
        </div>
    </div>

    </div>
</td>

