<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30%" align="left" valign="middle"><a href="/"><img src="/images/hot_deals.png" border="0" /></a></td>
                    <td width="33%" align="left" valign="middle"><a href="/open_deals"><img src="/images/open_deals.png" border="0"  /></a></td>
                    <td width="30%" align="left" valign="middle"><a href="/invite_friends"><img src="/images/earn_money.png" border="0" /></a></td>

                    <td width="32%" align="center"><a href="#"><a href="#" onclick="createsubscription('popup_create_deal');" style="color: rgb(3, 77, 124);"><img src="/images/subscribe_tab.jpg" width="170" height="75" border="0"/></a></td>
                  </tr>
                </table>

<div id="popup_create_deal">
  <%= render :partial => "shared/subscription" %>
</div>

<div id="first_time_popup">
  <%= render :partial => "shared/first_pop_up" %>
</div>