<%if (params[:controller] == 'merchant' and params[:action] != 'new') or params[:controller] == 'deals' or params[:controller] == 'merchant_analytics' %>
    <ul id="navigation_merchant" style="">
      <li><a href="/index" id="home_front" title="Home"></a></li>
      <li><a href="/deals_on_demand" id="port" title="Deals on Demand"><span>recent deals</span></a></li>
      <li><a href="#" id="services" title="About Us"><span>howitworks</span></a></li>
      <li><a href="#" id="blog" title="Contact Us"><span>iwantadeal</span></a></li>
      <li><a href="/location_deals" id="contact" title=""><span>locationdeal</span></a></li>
      <li><a href="#" id="ad" title="Contact Us"><span>ad</span></a></li>
       
    </ul>

<%end%>
