
<%if (params[:controller] == 'merchant' and params[:action] != 'new') or params[:controller] == 'deals' or params[:controller] == 'merchant_analytics' %>
    <ul id="navigation_merchant" style="">
      <li><a href="/index" id="home_front" title="Home"></a></li>
      <li><a href="#" id="port" title="Our Programs"><span>recent deals</span></a></li>
      <li><a href="#" id="services" title="About Us"><span>howitworks</span></a></li>
      <li><a href="/merchant_analytics" id="blog" title="Contact Us"><span>iwantadeal</span></a></li>
    </ul>
<%else%>
    <ul id="navigation">
      <li><a href="/deal_of_the_day" id="home_front" title="Home"></a></li>
      <li><a href="#" id="port" title="Our Programs"><span>recent deals</span></a></li>
      <li><a href="#" id="services" title="About Us"><span>howitworks</span></a></li>
      <li><a href="#" id="blog" title="Contact Us"><span>iwantadeal</span></a></li>
      <li><a href="#" id="contact" title=""><span>locationdeal</span></a></li>
      <li><a href="#" id="ad" title="Contact Us"><span>ad</span></a></li>
    </ul>
<%end%>