<div id="header">
      <div id="logo"><img src="/images/logo.jpg" border="0px" /></div>
      <div id="head1">
        <div id="hot_deals">Hot Deals in <span style="font-size:22px;">Singapore</span></div>
        <div id="findCity">
       		<img src="/images/navigate.jpg" width="167" height="32" class="menu_head" />
<ul class="menu_body">
<li><a href="#">City One</a></li>
<li><a href="#">City Two</a></li>
<li><a href="#">City Three</a></li>
</ul>
        </div>
        <div id="go"><a href="#"><img src="/images/go_btn.jpg" border="0px" /></a></div>
        <div id="facebook"><a href="#"><img src="/images/facebook_connect.jpg" border="0px" /></a></div>
      </div>
      <div id="head2">
        <div id="addMoreFrnd"><a href="#"><img src="/images/add_more_friends.jpg" border="0px" /></a></div>
        <div id="advertise"><a href="#"><img src="/images/advertise_with_us.jpg" border="0px" /></a></div>
        <div id="watchVid"><a href="#"><img src="/images/watch_video.jpg" border="0px" /></a></div>
      </div>
    </div>