
<div id="header">
      <div id="logo"><img src="/images/logo.jpg" border="0px" /></div>
      <div id="head1">
        <div id="hot_deals">Hot Deals in <span style="font-size:22px;">Singapore</span></div>
        <!-- <div id="findCity">
       		<img src="/images/navigate.jpg" width="167" height="32" class="menu_head" />
<ul class="menu_body">
<li><a href="#">City One</a></li>
<li><a href="#">City Two</a></li>
<li><a href="#">City Three</a></li>
</ul>
        </div>
        <div id="go"><a href="#"><img src="/images/go_btn.jpg" border="0px" /></a></div> -->
               
      </div>
      <%if !logged_in?%>
       <div id="facebook" style="margin-left: 12px;"><a href="#"><img src="/images/facebook_connect.jpg" border="0px" /></a></div>
         <div id="head2">



        <div id="addMoreFrnd"></div>



        <div id="advertise"></div>



        <div id="watchVid" style="width: 150px;"><a href="#"><img src="/images/signup_btn.jpg" border="0px" />
            <div style="margin-top:  -25px;text-align: center;margin-left: 93px;font-size: 15px;color: #fff;"><%=link_to 'Sign In','/' ,{:style=> 'text-decoration: none;color:white;'}%></div>
          <div style="margin-top:  -18px;margin-left: 30px;text-align: left;font-size: 15px;color: #fff;"><%=link_to 'Login','/login',{:style=> 'text-decoration: none;color:white;'}%></div></a></div>


    </div>
       <%else%>
       <div id="head2" align="right">
        <table>
          <tr>
            <td>
              <div id="watchVid" style="font-size: 14px;font-weight: bold;margin-left: 20px; width: 300px;">
                <table>
                  <tr>
                    <td align="left">Welcome! <%=current_customer.login%></td>
                  </tr>
                  <tr><td>&nbsp;</td></tr>
                  <tr><td><a href="/my_profile"><img src="/images/my_profile_btn.jpg" border="0px" /></a>&nbsp;&nbsp;<a href="/logout"><img src="/images/logout.jpg" border="0px" /></a></td></tr>
               </table>
              </div>
            </td>
            <td>
              <div id="advertise" style="width: auto; padding-top: 0px">
                <%if current_customer.customer_photo.blank?%>
                  <img src="/images/profile_pic.jpg" style="border:2px solid red;"  />
                <%else%>
                  <img src="<%=current_customer.customer_photo.url(:small)%>" style="border:2px solid red; width: 95px; height: 79px;"  />
                <%end%>
              </div>
            </td>
          </tr>
        </table>
          
          
    </div>
       <%end%>
    </div>