

    <ul id="navigation">
      <li><a href="index.html" id="home" title="Home"></a></li>
      <li><a href="index.html" id="services" title="Our Programs"><span>our Programs</span></a></li>
      <li><a href="about.html" id="blog" title="About Us"><span>About Us</span></a></li>
      <li><a href="contact.html" id="port" title="Contact Us"><span>Contact Us</span></a></li>
      <li><a href="contact.html" id="contact" title=""><span></span></a></li>
      <li><a href="contact.html" id="port" title="Contact Us"><span>Contact Us</span></a></li>
    </ul>
