  <td height="55" background="images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="17%" align="left"><img src="images/hot_deals_header_text.jpg" width="182" height="55" /></td>
            <td width="83%">&nbsp;</td>
          </tr>
        </table></td>
