<div class="todHotdeal"><%=@page%></div>    
    <div class="keyValue">
      <div class="red"><strong>Available </strong><br />
        05</div>
      <div class="white"><strong>Used </strong><br />
        02</div>
      <div class="red"><strong>Expired</strong><br />
        01</div>
      <div class="white"><strong>All</strong><br />
        08</div>
      <div class="red"><strong>Keupoints</strong><br />
        01</div>
    </div>