<br/>
<link href="/marketing_msg/css/css.css" rel="stylesheet" type="text/css" />
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="34" align="center" background="/marketing_msg/images/message_mkg_bg.jpg" class="message_text"><%=get_marketing_message%></td>
  </tr>
</table>
