<%#*<br/>%>
<%#*<link href="/marketing_msg/css/css.css" rel="stylesheet" type="text/css" />%>
<%#*<table width="1000" border="0" cellspacing="0" cellpadding="0">%>
  <%#*<tr>%>
    <%#*<td height="34" align="center" background="/marketing_msg/images/message_mkg_bg.jpg" class="message_text"><%=get_marketing_message%><!--</td>-->
  <%#*</tr>%>
<%#*</table>%>
      <tr>
        <td background="images/marketing_msg_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="28%" align="left"><img src="/images/marketing_msg_img.jpg" width="274" height="120" /></td>
            <td width="70%" align="center" class="marketing_msg_text"> Welcome to Keupons, <br />
              the only site where you are guaranteed a discount! </td>
            <td width="2%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>