
<!--<br/><div id="header_merchant" >
  <ul id="webmenu" class="first-menu">
    <li><a href="/deals_of_mine" target="_self" style="color:#fff;text-decoration: none;">My Deals</a>
      <ul style="display: none;" id="subMusic" class="second-menu">                        
        <li><a href="/deals/index" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Deals</a>
          <ul class="third-menu">
            <li><a href="/deals/index" style="color:#fff;text-decoration: none;">New Deal</a></li>
            <li><a href="/keupoint_deals" style="color:#fff;text-decoration: none;" >New Keupoint Deal</a></li>
            <li><a href="/gift_deals" style="color:#fff;text-decoration: none;" >New Gift Deal</a></li>
          </ul>
        </li>
        <li><a href="/deals_of_mine" style="color:#fff;text-decoration: none;">Review Deals</a></li>
      </ul>
    </li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">On-Demand Deals Open</a></li>
    <li><a href="/redeem_deals" target="_self" style="color:#fff;text-decoration: none;">Redeem Deal</a></li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">Analytics</a>
      <ul style="display: none;" id="subMusic" class="second-menu">
        <li><a href="/merchant_analytics/deals_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Deals Profit/Loss</a></li>
        <li><a href="/merchant_analytics/customers_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Customers Report</a></li>
        <li><a href="/merchant_analytics" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Sales Report</a></li>
        <li><a href="/merchant_analytics/customers_usage_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Customer Usage Report</a></li></ul>
    </li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">My Account</a>
      <ul style="display: none;" id="subMusic" class="second-menu">
        <li><a href="/profile" class="arrow" target="_self" style="color:#fff;text-decoration: none;">My Profile</a></li>
        <li><a href="/company" class="arrow" target="_self" style="color:#fff;text-decoration: none;">My Company</a></li>
        <li><a href="/password_change" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Change Password</a></li>
      </ul></li>
      
  </ul>
</div> -->

  <td height="48" background="/images/merchant/dropdown-bg.gif"><ul id="navigation" class="nav-main">
    <li><a href="/index">Home</a></li>
    <li class="list"><a href="#">Deals</a>
	<ul class="nav-sub">
                <li><a href="/deals/index">New Deal</a></li>
		<li><a href="/deals_of_mine">Review Deals</a></li>
	</ul>
    </li>
    <li><a href="/deals_on_demand">On-Demand Deals Open</a></li>
    <li class="list" ><a href="http://www.psdgraphics.com/contact/">Analytics</a>
       <ul class="nav-sub">
    <li><a href="/merchant_analytics/deals_report">Deals Profit/Loss</a></li>
 		<li><a href="/merchant_analytics/customers_report">Customers Report</a></li>
		<li><a href="/merchant_analytics">Sales Report</a></li>
                <li><a href="/merchant_analytics/customers_usage_report">Customer Usage Report</a></li>
	</ul>
    </li>
    <li class="list"><a href="http://www.psdgraphics.com/contact/">My Account</a>
    <ul class="nav-sub">
    <li><a href="/profile">My Profile</a></li>
 		<li><a href="/company">My Company</a></li>
		<li><a href="/password_change">Change Password</a></li>
	</ul></li>
        <li ></li>
        <%if logged_in?%>
<li><a href="/logout" style="margin-left: 12px;color: red;font-size: 15px;">LOGOUT</a></li><%end%>
</ul></td>