
<br/><div id="header_merchant" style="margin-left: 125px;">
        <ul class="topnav" style="width:960px;">
            <li><a href="/deals_of_mine">My Deals</a>
                <ul class="subnav">
                    <li><a href="/deals/index">New Deals</a>
                      <ul class="subnav">
                        <li><a href="/deals/index">New Deal</a></li>
                        <li><a href="/keupoint_deals">New Keupoint Deal</a></li>
                        <li><a href="/gift_deals">New Gift Deal</a></li>
                      </ul>
                    </li>
                    <li><a href="/location_deals">Edit Deals</a></li>
                </ul></li>            
            <li>
                <a href="/deals_on_demand">On-Demand Deals Open</a>
            </li>
            <li>
                <a href="/redeem_deals">Redeem Deal</a>
            </li>
            <li>
                <a href="">Analytics</a>
                <ul class="subnav">
                  <li><a href="/merchant_analytics/deals_report">Deals Report</a></li>
                  <li><a href="/merchant_analytics/customers_report">Customers Report</a></li>
                  <li><a href="/merchant_analytics">Sales Report</a></li>
                  <li><a href="/merchant_analytics/customers_usage_report">Customer Usage Report</a></li>
                </ul>
            </li>
            <li><a href="#">My Account</a>
                <ul class="subnav">
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">My Company</a></li>
                  <li><a href="#">Change Password</a></li>
                </ul>
            </li>
        </ul>
    </div>
