<br/><div id="header_merchant" style="margin-left: 125px;">
        <ul class="topnav" style="width:960px;">
            <li><a href="/deals_of_mine">Deals</a>
                <ul class="subnav">
                    <li><a href="/deals/index">Deal of the Day</a></li>
                    <li><a href="/location_deals">Location Deals</a></li>
                    <li><a href="/location_deals">Keupoint Deals</a></li>
                    <li><a href="/location_deals">Gift Deals</a></li>
                </ul></li>
            <li>
                <a href="/redeem_deals">Redeem Deal</a>
            </li>
            <li>
                <a href="/deals_on_demand">Demand Deals</a>
            </li>
            <li>
                <a href="">Analytics</a>
                <ul class="subnav">
                  <li><a href="#">Deals Report</a></li>
                  <li><a href="#">Customers Report</a></li>
                  <li><a href="#">sales Report</a></li>
                </ul>
            </li>
            <li><a href="#">My Account</a>
                <ul class="subnav">
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">My Company</a></li>
                  <li><a href="#">Change Password</a></li>
                </ul>
            </li>
        </ul>
    </div>