<br/><div id="header_merchant">

        <ul class="topnav">
            <li><a href="/deals_of_mine">Deals</a>
 <ul class="subnav">
                    <li><a href="/deals/index">New deal</a></li>
                    <li><a href="/location_deals">New Location Deal</a></li>
                    <li><a href="/location_deals">Keupons deals</a></li>

                </ul></li>
            <li>
                <a href="/redeem_deals">Redeem Deal</a>


            </li>
   <li>
                <a href="/deals_on_demand">Demand Deals</a>


            </li>
            <li>
                <a href="">Analytics</a>
                <ul class="subnav">
                    <li><a href="#">Deals Report</a></li>
                    <li><a href="#">Customers Report</a></li>

                    <li><a href="#">sales Report</a></li>

                </ul>
            </li>
            <li><a href="#">My Account</a>
 <ul class="subnav">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">My Company</a></li>

                    <li><a href="#">Change Password</a></li>

                </ul></li>


        </ul>
    </div>
<br/><br/><br/>