
<br/><div id="header_merchant">
  <ul id="webmenu" class="first-menu" style="margin-left: 125px;">
    <li><a href="/deals_of_mine" target="_self" style="color:#fff;text-decoration: none;">My Deals</a>
      <ul style="display: none;" id="subMusic" class="second-menu">
        <li><a href="/deals/index" class="arrow" target="_self" style="color:#fff;text-decoration: none;">New Deals</a>
          <ul class="third-menu">
            <li><a href="/deals/index" style="color:#fff;text-decoration: none;">New Deal</a></li>
            <li><a href="/keupoint_deals" style="color:#fff;text-decoration: none;" >New Keupoint Deal</a></li>
            <li><a href="/gift_deals" style="color:#fff;text-decoration: none;" >New Gift Deal</a></li>
          </ul>
        </li>
        <li><a href="/location_deals" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Edit Deals</a></li>
      </ul>
    </li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">On-Demand Deals Open</a></li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">Redeem Deal</a></li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">Analytics</a>
      <ul style="display: none;" id="subMusic" class="second-menu">
        <li><a href="/merchant_analytics/deals_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Deals Report</a></li>
        <li><a href="/merchant_analytics/customers_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Customers Report</a></li>
        <li><a href="/merchant_analytics" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Sales Report</a></li>
        <li><a href="/merchant_analytics/customers_usage_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Customer Usage Report</a></li></ul>
    </li>
    <li><a href="/deals_on_demand" target="_self" style="color:#fff;text-decoration: none;">My Account</a>
      <ul style="display: none;" id="subMusic" class="second-menu">
        <li><a href="/merchant_analytics/deals_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">My Profile</a></li>
        <li><a href="/merchant_analytics/customers_report" class="arrow" target="_self" style="color:#fff;text-decoration: none;">My Company</a></li>
        <li><a href="/merchant_analytics" class="arrow" target="_self" style="color:#fff;text-decoration: none;">Change Password</a></li>
      </ul></li>
     <li></li>
  </ul>
</div>