<div style="float:right;font-size:12px;border:1px dotted #CCCCCC;margin-right:16px;padding:2px;">
    <a href="#" onClick="window.print()" style="text-decoration:none;">
      <%= image_tag('printer_icon.gif', :style => "margin-bottom:-3px;margin-right:2px;border:0px;") %>
      Print

    </a>
</div>