<style type="text/css">
  .subscription_text{



    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;


    color:#ffffff;
    text-decoration:none;

  }

  }


</style>
<br/>
<%@deal=EmailDeal.new()%>
<div id='popup_center' style=" width: 604px; padding-left: 210px; display: block;margin-top: -150px;">
  <table class="popup" align="center" width="100%" cellspacing="1px"  >
    <tr>
      <td align="right" class="popup"><a href="#" onclick="hideElt('popup_create_deal');" ><img src="/images/close_btn.png" border="0" style="position: absolute; margin-left: -65px;margin-top: -12px;" /></a></td>
    </tr>
    <tr>
      <td class="popup">
        <table width="570px" border="0" cellspacing="0" cellpadding="0" style="border:3px solid red;">
          <tr>
            <td background="/images/subscribe_lady_img.jpg" bgcolor="#000000" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="4%">&nbsp;</td>
                  <td width="72%">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="subscription_text">Hi, Keupons.com keeps getting a regular stream of offers. <br />
                    We understand you can't keep checking it every second of the day! <br />
                    Why not, subscribe to the Keupons mailing list and we'll send you<br />
                    the latest offers and discounts via e-mail or SMS&quot;. <br />
                    <br />
                    &quot;How do you want to hear about the Keupons offers <br />
                    (you can click more than one)&quot;:<br /></td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <% form_for @deal, :url => { :controller=>'deals',:action => "get_deals_by_email" } , :html => { :multipart => true }  do |f| %>
                <tr>
                  <td height="148">&nbsp;</td>
                  <td colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="5%" height="25"><!--<input type="checkbox" name="checkbox" id="checkbox" />--></td>
                              <td width="15%" class="subscription_text">Email</td>
                              <td width="80%"><%= f.text_field :email, :size=>"20%",:onBlur=>"validate_email();"  %></td>
                            </tr>
                            <!--<tr>
                              <td><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                              <td width="15%" class="subscription_text">SMS</td>
                              <td><input type="text" name="textfield2" id="textfield2" /></td>
                            </tr> -->
                          </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="40" class="subscription_text"><strong>What are the areas of discounts that you would like (you can choose as many as you want&quot; </strong></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="4%" height="25"><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
                              <td width="23%" class="subscription_text">Health and Beauty</td>
                              <td width="4%" height="25"><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
                              <td width="20%" class="subscription_text">Food and Drink</td>
                              <td width="4%" height="25"><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
                              <td width="45%" class="subscription_text">Restaurants</td>
                            </tr>
                            <tr>
                              <td width="4%" height="25"><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
                              <td width="23%" class="subscription_text">Retail and Services</td>
                              
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                  <td width="4%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="63">&nbsp;</td>
                  <td align="left"><%=image_submit_tag ("subscribe_btn.jpg"), :onclick => "return Validates();"%></td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <% end %>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
              </table>    </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
