<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="21%" align="left"><a href="#"><img src="/images/merchant/logo.jpg" width="209" height="149" border="0" /></a></td>
            <td width="77%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="52%" align="left"><img src="/images/merchant/hot_deals_singapore_text.jpg" width="332" height="78" /></td>
                    <td width="2%">&nbsp;</td>
                    <td width="46%" rowspan="2" align="right"><img src="/images/merchant/header_img.jpg" width="333" height="149" /></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" class="header_text">Give your coustomers the best shoping exprience online!</td>
                    <td>&nbsp;</td>
                    </tr>
                </table></td>
              </tr>

            </table></td>
            <td width="2%">&nbsp;</td>
          </tr>
        </table>
