
        
<form action="/change_password_update" id="edit_customer_password" method="post" onsubmit="new Ajax.Request('/change_password_update', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"><div style="margin: 0pt; padding: 0pt; display: inline;"><input name="authenticity_token" value="Q5GDeKFVogiBeoNx0qpfjD/VhmG7oqDAy++m7w2KkTE=" type="hidden"></div>
          <%=hidden_field_tag 'current_user', "#{current_customer.id}"%>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;">Old Password:</td>
            <td width="10%"><%= password_field_tag 'old_password', {}, :size => 20, :class => 'text' %></td>
          </tr>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;">New Password:</td>
            <td width="10%"><%= password_field_tag 'password', {}, :size => 20, :class => 'text' %></td>
          </tr>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;">Confirm Password :</td>
            <td width="10%"> <%= password_field_tag 'password_confirmation', {}, :size => 20, :class => 'text' %></td>
          </tr>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;"></td>
            <td width="10%">
              <a href="#" onclick="$('edit_customer_password').onsubmit();return false;"><img src="/images/update_btn.png" border="0" height="24" width="73"/></a>&nbsp;
              <a href="#" onclick="new Ajax.Request('/customers/cancel_customer_password', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;"><img src="/images/cancel_search.png" border="0" height="24" width="73"/></a>
            </td>
          </tr>
      












