<div class="myacc_left">
    PASSWORD
</div>
<div class="myacc_right">
	<input name="tb1a" type="text" class="myacc_tb3" value="**********"/>
</div>
<div style="float:right; ">
    <%= link_to_remote image_tag('/images/change.jpg'), :update => "customer_password", :url => {:controller => "customers", :action => "edit_customer_password", :id => @customer.id} %>
</div>