<div class="myacc_left" style="margin-top:40px;">
    <span>AVATAR</span>
</div>
<div style="float:left;">
	<%= current_customer.customer_photo_file_name.nil? ? image_tag("/images/default_avatar_small.jpg") : (image_tag current_customer.customer_photo.url(:small)) %>
</div>
<div style="float:right; margin-top:35px;">
    <%#=link_to image_tag('/images/change.jpg'),'javascript:void(0);',:onclick=>'avatar_down()',:style=>'color:#19A2FF;' %>
    <%= link_to_remote image_tag('/images/change.jpg'), :update => "customer_pic", :url => {:controller => "customers", :action => "edit_customer_avatar"} %>
</div>