<div id='popup_center' style="height: 472px; width: 350px; padding-left: 350px; display: block;">
  <div align="right" style="width: 410px;height: 24px;"><a href="#" onclick="hideElt('popup_view_deal');" ><img src="/images/close_btn.png" height="33" width="33" border="0" style="margin-top: -17px;"/></a></div>
  <div id="viewcustomerdeal">
  </div>
</div>