<div class="myacc_left" style="margin-top:40px;">
    <span>AVATAR</span>
</div>
<div style="float:left;">
    <% if current_customer.customer_photo.nil? %>
    <img src="/images/profile_pic.jpg" border="0px" /><% else %>
    <%=image_tag (@customer.customer_photo.url(:small)) %>
    <% end %>
</div>
<div style="float:right; margin-top:35px;">
    <%#=link_to image_tag('/images/change.jpg'),'javascript:void(0);',:onclick=>'avatar_down()',:style=>'color:#19A2FF;' %>
    <%= link_to_remote image_tag('/images/change.jpg'), :update => "customer_pic", :url => {:controller => "customers", :action => "edit_customer_avatar"} %>
</div>