<%=@customer_profile.first_name%>&nbsp;<%=@customer_profile.last_name%>
<a style="color:#19A2FF;" href="#" onclick="alert('hi');new Ajax.Request('/customers/edit_customer_name/'<%=@customer.id%>, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')});alert('hi2');return false;">Change</a>