<div id="chartdiv" align="center">FusionGadgets</div>

<script type="text/javascript">
  var myChart = new FusionCharts("/charts/HLinearGauge.swf", "myChartId", "415", "120", "0", "0");
  myChart.setDataXML("<%=@deal_scale_xml%>");
  myChart.render("chartdiv");
</script>
