<% if !flash[:error_msg].blank? || !@error.blank? %>
<div style="background-color:grey;color:#fff;" onclick="Effect.toggle('error_msg','appear');">
  <% if !flash[:error_msg].blank? %>
    <%= flash[:error_msg] %>
  <% elsif !@error.blank? %>
    <table>
      <% @error.each do |k,v| %>
      <tr><td align="left"><%= "#{k}" %>:</td><td><%= "#{v}" %></td></tr>
      <% end -%>
    </table>
  <% end %>
</div>
<% end %>