<div id='popup_center' style=" width: 604px; padding-left: 210px; display: block;margin-top: -150px;">
  <form action="/forgot_password" method="post">
<table width="296" border="0" cellspacing="0" cellpadding="0" style="border:3px solid #FF0000;margin-top: 150px;margin: auto;">
  <tr>
    <td bgcolor="#000000"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="133" align="center"><img src="images/forgot_password_text.jpg" width="239" height="117" /></td>
      </tr>
      <tr>
        <td align="center"><input type="text" name="email" id="email"  size="25" /></td>
      </tr>
      <tr>
        <td height="19" align="center">&nbsp;</td>
      </tr>
      <tr>
        <td height="33" align="center"><a href="#"><img src="images/submit_btn.jpg" width="78" height="27" border="0"/></a>  <a href="#"><img src="images/cancel_btn.jpg" width="78" height="27" border="0" /></a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
    </form>
</div>

