<div style="width:686px;height:728px;background:url(/images/bg_pop.png) no-repeat;margin:93px auto 0 auto;">
    <a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});"><img src="/images/close_btn1.png" border="0" style="margin-top:8px; position:absolute; margin-left:596px;"/></a>
</div>