<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="29%" height="30" align="center" bgcolor="#b71415" class="billing_text1">Quantity</td>
                      <td width="6%" bgcolor="#b71415">&nbsp;</td>
                      <td width="33%" align="center" bgcolor="#b71415" class="billing_text1">Price</td>
                      <td width="6%" align="center" bgcolor="#b71415">&nbsp;</td>
                      <td width="26%" align="center" bgcolor="#b71415" class="billing_text1">Total</td>
                    </tr>
                    <tr>
                      <td height="30" align="center" bgcolor="#000000">
                        <input name="quantity" id="quantity" type="text" id="textfield" value="1" size="1" />
                        <script type="text/javascript">
                        //<![CDATA[
                        new Form.Element.EventObserver('quantity', function(element, value) {new Ajax.Request('/customers/check_transaction_quantity', {asynchronous:true, evalScripts:true, parameters:'quantity=' + encodeURIComponent(value) + '&id=<%=@deal.id%>&authenticity_token=' + encodeURIComponent('BlUBplpSWg/1vcqOEoaaN9Epl9UKXe4Vc/qgC5r7Pus=')})})
                        //]]>
                        </script>
                      </td>
                      <td align="center" bgcolor="#000000" class="billing_text1">X</td>
                      <td align="center" bgcolor="#000000" class="billing_text1">S$ <%= @deal.buy %></td>
                      <td align="center" bgcolor="#000000" class="billing_text1">=</td>
                      <td align="center" bgcolor="#000000" class="billing_text1">S$ <%= @deal.buy %></td>
                    </tr>
                  </table>