<div class="share_mainbg">
    <div class="share_close">
        <a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});">
			<img src="images/close_btn1.png" border="0" />
		</a>
    </div>
    <div class="share_keured"></div>
    <div class="share_txtbox">
        <span style="font-size:18px;">Share this great deal with your friends!</span>
        <span style="float:left;padding:10px 0 0;">
			Get $20 Kredit when your invited friend gets their first Keupon.<br/>
            Please <span class="share_login"><%= link_to_remote_redbox "log in", :url => {:controller => "sessions", :action => "new"} %></span> to your Keupons account first.
        </span>
    </div>
	<% form_tag :controller => 'customers', :action => 'share_this_deal', :deal_id => @deal.id do |f| %>
    <div class="share_midbox">
        <div style="height:auto; float:left;">
            <div class="share_mainbox">
                <div style="height:35px;">
                    <span class="share_logbox">FRIEND'S NAME</span>
                    <input name="share[name][]" id="share_name" type="text" class="share_tb1b"/>
                </div>
                <div style="height:35px; margin-top:5px;">
                    <span class="email" style="width:50px;">FRIEND'S EMAIL</span>
                    <input name="share[email][]" id="share_email" type="text" class="share_tb1b"/>
                </div>
            </div>
            <div class="share_mainbox" style="width:300px; margin-left:30px;">
                <div style="height:35px;">
                    <span style="width:50px; float:left;">FRIEND'S NAME</span>
                    <input name="share[name][]" id="share_name" type="text" class="share_tb1b"/>
                </div>
                <div style="height:35px; margin-top:5px;">
                    <span class="email" style="width:50px;">FRIEND'S EMAIL</span>
                    <input name="share[email][]" id="share_email" type="text" class="share_tb1b"/>
                </div>
            </div>
        </div>
        <div class="share_line1">
        </div>
        <div class="share_log2bx">
            <div class="share_mainbox">
                <div style="height:35px;">
                    <span class="share_logbox">FRIEND'S NAME</span>
                    <input name="share[name][]" id="share_name" type="text" class="share_tb1b"/>
                </div>
                <div style="height:35px; margin-top:5px;">
                    <span class="email" style="width:50px;">FRIEND'S EMAIL</span>
                    <input name="share[email][]" id="share_email" type="text" class="share_tb1b"/>
                </div>
            </div>
            <div class="share_mainbox" style="width:300px; margin-left:30px;">
                <div style="height:35px;">
                    <span style="width:50px; float:left;">FRIEND'S NAME</span>
                    <input name="share[name][]" id="share_name" type="text" class="share_tb1b"/>
                </div>
                <div style="height:35px; margin-top:5px;">
                    <span class="email" style="width:50px;">FRIEND'S EMAIL</span>
                    <input name="share[email][]" id="share_email" type="text" class="share_tb1b"/>
                </div>
            </div>
        </div>
        <div STYLE="float:left;padding:10px 0 0 376px;">
			<%= image_submit_tag('/images/submit.jpg', :align => "right", :hspace => "48")%>
        </div>
    </div>
	<% end %>
</div>