 <%= stylesheet_link_tag '/slider/layout' %>
 <%= stylesheet_link_tag '/slider/style' %>

<script type="text/javascript" src="/javascripts/jquery_new_slider.js"></script>
<script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
<script type="text/javascript" src="/javascripts/script_new_slider.js"></script>



<script type="text/javascript">
 $(document).ready( function(){
		$('#lofslidecontent45').lofJSidernews( { interval:2000,
											 	easing:'easeInOutQuad',
												duration:1200,
												auto:true } );
	});

</script>
<style>

	ul.lof-main-wapper li {
		position:relative;
	}
</style>

 <tr>
        <td background="/images/marketing_msg_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" background="/images/up_banner_img.jpg" width="973" height="118" align="center" class="login_welcome_text">
            <div style="float:right;width:600px; text-align:center">
              <span  style="padding-left:20px;">Welcome to Keupons,
                <span class="login_welcome_text_small"><p>The only site where you are guaranteed a discount!</p></span></span>
            </div>
             </td>
          </tr>
        </table></td>
      </tr>
       <tr>
        <td height="48" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" ><img src="/images/hot_deals_strip.jpg" /></td>
            </tr>
        </table></td>
      </tr>


       <tr>
        <td height="350" width="955" >
        <iframe src="/slider" height="335" width="973" style="position:static; margin-top:0px;" hspace="0" scrolling="no" vspace="0" frameborder="0" align="middle" ></iframe>
        </td>
      </tr>


       <tr>
        <td height="48" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="48" align="left"><img src="/images/open_deal_strip.jpg" /></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="220" align="center">
       <!-- ********************SLIDER IMAGES*******************************-->
          <div id="wrapper">

		<div class="slider-frame">
                <div class="sliderImages">
                  <ul>

                    <%for opdd in @open_deal_recents
                      discount = opdd[1]
                      open_deal = @open_deals_recents[opdd[0]]
                      opd = Deal.find(open_deal.id)
                    %>
                      <li>
                        <a href="/deal_details?id=<%= open_deal.id %>" ><img src="<%=opd.deal_photo.url%>" width="240" height="160" alt="Project Title 1" /></a></li>
                    <%end%>
                  </ul>
                </div>
	 </div>
			 <div class="arrow-but">
				<a href="#" class="prev"><img src="./images/previous.png" alt="Previous" width="43" height="42" /></a>
				<a href="#" class="next"><img src="./images/next.png" alt="Next"  width="43" height="42"/></a>			</div>

<!-- ********************END SLIDER IMAGES*******************************-->
   </div>
        </td>
      </tr>