<div id="slide">
  <div id="slider" class="png">
    <div id="slideh">
      <% i = 1
      for hot_deal in @hot_deals
        htdeal = Deal.find(hot_deal.id)
      %>
      <div class="slider_item sliderh<%=i%>">
        <h3><a href="#">Keupons Bought: <%= hot_deal.no_of_customers%></a></h3>
        <p><%= hot_deal.name %></p>
        <img class="item" src="<%=htdeal.deal_photo.url%>" alt="" />
      </div>
      <%
        i+=1
      end
      %>
    </div>
    <img class="scrollButtons left" src="/images/leftarrow.jpg"/>
    <img class="scrollButtons right" src="/images/rightarrow.jpg"/>
  </div>
</div>

<br/> <img class="" src="/images/open_deal.jpg"/>

<div id="featured_slider">
  <div class="slider">

    <div class="one_third">
      <div class="plan_box" style="background-color:#222222;">
        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Keupons Bought</h2>
            <h3 class="price">0</h3>
            <p><img SRC="/images/macpro.png" alt="img" /></p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h3 class="price">Keupons Bought: 0</h3>
            <ul class="boxlist">
              <li style="padding: 5px">Title Title Title</li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px">
                <table>
                  <tr><td align="center">Price</td><td align="center">Discount</td><td align="center">Savings</td></tr>
                  <tr><td align="center">S$ 12</td><td align="center">10 %</td><td align="center">S$ 2</td></tr>
                </table>
              </li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px">Keupon Closes on 12/12/12</li>
            </ul>
            <a href="http://wwww.google.com" style="color: orange" class="medium orange">Get this Deal</a>
          </div>
        </div>
      </div>
    </div>
    <div class="one_third">
      <div class="plan_box" style="background-color:#222222;">
        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Keupons Bought</h2>
            <h3 class="price">0</h3>
            <p><img SRC="/images/macpro.png" alt="img" /></p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h3 class="price">Keupons Bought: 0</h3>
            <ul class="boxlist">
              <li style="padding: 5px">Title Title Title</li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px">
                <table>
                  <tr><td align="center">Price</td><td align="center">Discount</td><td align="center">Savings</td></tr>
                  <tr><td align="center">S$ 12</td><td align="center">10 %</td><td align="center">S$ 2</td></tr>
                </table>
              </li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px">Keupon Closes on 12/12/12</li>
            </ul>
            <a href="http://wwww.google.com" style="color: orange" class="medium orange">Get this Deal</a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan_box last">
      <div class="plan_box" style="background-color:#222222;">
        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Keupons Bought</h2>
            <h3 class="price">0</h3>
            <p><img SRC="/images/macpro.png" alt="img" /></p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h3 class="price">Keupons Bought: 0</h3>
            <ul class="boxlist">
              <li style="padding: 5px">Title Title Title</li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px">
                <table>
                  <tr><td align="center">Price</td><td align="center">Discount</td><td align="center">Savings</td></tr>
                  <tr><td align="center">S$ 12</td><td align="center">10 %</td><td align="center">S$ 2</td></tr>
                </table>
              </li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px">Keupon Closes on 12/12/12</li>
            </ul>
            <a href="http://wwww.google.com" style="color: orange" class="medium orange">Get this Deal</a>
          </div>
        </div>
      </div>
    </div>


    

    

  </div>
</div>
<br/> <img class="" src="/images/recent_deals_header.jpg"/>