<div id="popup_center" class="view_moredetails">
    <a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});">
    	<img src="/images/close_btn1.png" border="0" style="margin-top:15px; position:absolute; margin-left:684px;"/>
	</a>
	<% if !@deal.more_details.blank? %>
    <div class="more_txt">
        MORE DETAILS
    </div>
    <div class="more">
        <%= @deal.more_details %>
    </div>
	<% end %>
    <div class="more1_txt">
        ABOUT THE MERCHANT
    </div>
    <div id="faq_txtnor" style="margin-left:40px;">
        <span style="font-size:16px;"><%= @company.name if !@company.name.nil? %></span>
        <br/>
        <br/>
		<%= @company.address1 %>
        <br/>
        <br/>
		<%= @company.detail %>
    </div>
    <!--<div class="more1_txt">
        MORE PICTURES
    </div>
    <div style="margin-left:40px; ">
        <table width="60%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="margin:10px; margin-left:50px; ">
                    <img src="/images/pro_01.png" style="border:1px solid #8d8d8d; "/>
                </td>
                <td style="margin:10px;">
                    <img src="/images/pro_02.png" style="border:1px solid #8d8d8d; "/>
                </td>
                <td style="margin:10px;">
                    <img src="/images/pro_03.png" style="border:1px solid #8d8d8d; "/>
                </td>
                <td style="margin:10px;">
                    <img src="/images/pro_04.png" style="border:1px solid #8d8d8d; "/>
                </td>
            </tr>
        </table>
    </div>
    <div class="more1_txt">
        VIDEOS
    </div>
    <div style="margin-left:40px;">
        <img src="/images/video.jpg" />
    </div>-->
</div>
