<div id="slide">
  <div id="slider" class="png">
    <div id="slideh">

      <div class="slider_item sliderh1">
        <h3><a href="#">FIRST SLIDE TITLE</a></h3>
        <p>Slide title and detail text here</p>
        <img class="item" src="/images/1.jpg" alt="" />
      </div>

      <div class="slider_item sliderh2">
        <h3><a href="#">SECOND SLIDE TITLE</a></h3>
        <p>Slide title and detail text here</p>
        <img class="item" src="/images/1.jpg" alt="" />
      </div>

      <div class="slider_item slideh3">
        <h3><a href="#">THIRD SLIDE TITLE</a></h3>
        <p>Slide title and detail text here</p>
        <img class="item" src="/images/1.jpg" alt="" />
      </div>

      <div class="slider_item slideh4">
        <h3><a href="#">FOURTH SLIDE TITLE</a></h3>
        <p>Slide title and detail text here</p>
        <img class="item" src="/images/1.jpg" alt="" />
      </div>

      <div class="slider_item sliderh5">
        <h3><a href="#">FIFTH SLIDE TITLE</a></h3>
        <p>Slide title and detail text here</p>
        <img class="item" src="/images/1.jpg" alt="" />
      </div>

    </div>
    <img class="scrollButtons left" src="/images/leftarrow.jpg"/>
    <img class="scrollButtons right" src="/images/rightarrow.jpg"/>
  </div>
</div>

<br/> <img class="" src="/images/open_deal.jpg"/>

<div id="featured_slider">
  <div class="slider">

    <div class="one_third">

      <!-- .plan_box -->
      <div class="plan_box" style="background-color:#222222;">

        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Basic</h2>
            <h3 class="price">$8<span>/month</span></h3>
            <h4>Basic Tag line here</h4>
            <p><img SRC="/images/macpro.png" alt="img" /></p>
            <p><small>No Setup Fee, No Monthly Fee.</small><br/> <span class="yellow_hl">24/7 Technical Support </span>Available </p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h2>Basic</h2>
            <h3 class="price">$8<span>/month</span></h3>
            <ul class="boxlist">
              <li>Setup Fee, Monthly Fee</li>
            </ul>
            <p><a href="http://wwww.google.com" class="button medium orange">Get this Deal</a></p>
          </div>
        </div>

      </div>
      <!-- .plan_box -->

    </div>

    <div class="one_third">

      <!-- .plan_box -->
      <div class="plan_box" style="background-color:#333333;"><div class="ribbon_large"><img SRC="images/ribbons/11_large.png" alt="" /></div>

        <div class="plan_info" style="background-color:#333333;">
          <div class="content">
            <h2>Professional</h2>
            <h3 class="price">$36<span>/month</span></h3>
            <h4>Basic Tag line here</h4>
            <p><img SRC="/images/macpro2.png" alt="img" /></p>
            <p><small>No Setup Fee, No Monthly Fee.</small><br/> <span class="red_hl">100%</span>Money Back Guarantee</p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h2>Professional</h2>
            <h3 class="price">$36<span>/month</span></h3>
            <ul class="boxlist">
              <li>Free Web Tools &amp; Applications</li>
            </ul>
            <p><a href="#" class="button medium orange">Get this Deal</a></p>
          </div>
        </div>

      </div>
      <!-- .plan_box -->

    </div>

    <div class="plan_box last">

      <!-- .sliding_box -->
      <div class="plan_box" style="background-color:#444444;">

        <div class="plan_info" style="background-color:#444444;">
          <div class="content">
            <h2>Expanded</h2>
            <h3 class="price">$189<span>/month</span></h3>
            <h4>Basic Tag line here</h4>
            <p><img SRC="/images/macpro3.png" alt="img" /></p>
            <p><small>No Setup Fee, No Monthly Fee.</small><br/> <span class="blue_hl">Wordpress</span> Support Included</p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h2>Expanded</h2>
            <h3 class="price">$189<span>/month</span></h3>
            <ul class="boxlist">
              <li>Free Web Tools &amp; Applications</li>
            </ul>
            <p><a href="#" class="button medium orange">Get this Deal</a></p>
          </div>
        </div>

      </div>
      <!-- .plan_box -->

    </div>

  </div>
</div>
<br/> <img class="" src="/images/recent_deals_header.jpg"/>