
     <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="100%" height="180" valign="top" background="/images/merchant/deal_bg.jpg" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="8" colspan="4" align="center"></td>
                </tr>
              <tr>

                <td colspan="2">

<form action="/forgot_password" method="post">
<table align="center" width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="70%" align="left"><br/>Hey Customer, don't you remember your password? </td>
  </tr>
  <tr>
    <td width="70%" align="left"><br/>Please Enter Your Email ID: <input type="text" name="email" id="email" /> </td>
  </tr>


  <tr>
    <td colspan="2">
      <br/><input type="submit" name="Forgot Password" value="Forgot Password" />
      &nbsp;
      <input type="button" name="Cancel" value="Cancel" onclick="window.location='/'" />
    </td>
  </tr>
 </table>

</form>




      </td>
    </tr>


    <tr><td></td><td></td></tr>
  </table>






                </td>
                <td width="2%">&nbsp;</td>
              </tr>

            </table></td>
           
          </tr>






       