<form action="/forgot_password" method="post">
<table>
  <tr>
    <td colspan="2">Hey Customer, don't you remember your password?</td>
  </tr>
  <tr>
    <td>Enter You Email: </td>
    <td><input type="text" name="email" id="email" /></td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="submit" name="Forgot Password" value="Forgot Password" />
      &nbsp;
      <input type="button" name="Cancel" value="Cancel" onclick="window.location='/'" />
    </td>
  </tr>
</table>
</form>
