<div id="popup_center" class="how_it_works">
    <a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});">
    	<img src="images/close_grey.jpg" border="0" style="margin-top:15px; position:absolute; margin-left:684px;"/>
	</a>
    <div style="position:absolute; margin-top:77px; margin-left:460px;">
		<a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});wopen('/customers/how_keupon_works', 'popup', 800, 600); return false;">
			<img src="/images/watch.png" />
		</a>
    </div>
</div>