<div class="mid_body">
    <div class="myacc_bg" id="actionChanger">
    	<% if @disp_page == "account" %>
        	<%= render :partial => "my_account" %>
		<% elsif @disp_page == "invitees" %>
			<%= render :partial => "my_invitees" %>
		<% else %>
			<%= render :partial => "profile" %>
		<% end %>
    </div>
</div>
