

<tr>
        <td height="49" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td ><img src="/images/open_deal_strip.jpg" width="973" height="48" /></td>
            </tr>
        </table></td>
      </tr>
<tr>
  <td height="35" background="/images/fine_print_black_gradient.jpg" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3%">&nbsp;</td>
        <td width="95%" align="right"><div id="search-button"><a href="#" onclick="Element.hide('search-button');Element.show('open_deals_search');return false;"><img src="/images/search1.jpg" width="120" height="26" border="0" /></a></div></td>
        <td width="2%">&nbsp;</td>
      </tr>
    </table></td>
</tr>
<tr id="open_deals_search" style="display: none;">
        <td>
          <%= form_remote_tag(:url => {:controller => "customers", :action => "open_deals"},:html => {:id => "open_deals_search_form"})%>
          <table cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" width="100%">
          <tbody>
            <tr>            
            <td height="40" align="right" width="6%" class="open_deal_text1">Location:</td>
            <td align="left" width="15%"><input type="text" id="location" name="location" size="30"/></td>            
            <td align="right" width="8%" class="open_deal_text1">Expiry Date:</td>
            <td align="left" width="16%">
              <input id="expiry_date" name="expiry_date" type="text" /> <img alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {year_range:100} );" src="/images/calendar_date_select/calendar.gif" style="border: 0px none ; cursor: pointer;"/>
            </td>
            <td align="right" width="3%"><input type="checkbox" name="match" value="and" /></td>
            <td align="left" width="5%" class="open_deal_text1">Match All</td>
            <td align="left" width="15%"><a href="#" onclick="$('open_deals_search_form').onsubmit();return false;"><img height="24" border="0" width="73" src="/images/search_btn.png"></a>&nbsp;<a href="#" onclick="Element.hide('open_deals_search');Element.show('search-button');new Ajax.Request('/customers/open_deals', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;"><img height="24" border="0" width="73" src="/images/cancel_search.png"></a></td>
            </tr>
          </tbody></table>
          </form>
        </td>
</tr>
<tr>
  <td >&nbsp;</td>
</tr>
<tr>
  <td >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2%">&nbsp;</td>
        <td width="52%" valign="top" id="open_deals_summary">
          <%= render :partial => "open_deals_summary" %>
        </td>
        <td width="3%">&nbsp;</td>
        <td width="41%" valign="top"><%= render :partial => "hottest_deal_of_the_day" %></td>
        <td width="2%">&nbsp;</td>
      </tr>
    </table></td>
</tr>
<tr>
  <td >&nbsp;</td>
</tr>
