<div id="user1">
  <%for deal in @deals%>
    <div class="dateBlog">
      <div class="dateB1">
        <div class="dateB1_top"><%=deal.name%> </div>
        <div class="dateB1_center">
          <div class="dateB1_C1"><img src="/images/dateIphone.jpg" border="0px" /></div>
          <div class="dateB1_C2">
          $1300
          <br />
          <br />
          <br />

          <p style="padding-top:10px;">50%</p>
          <br />
          <br />

          <p style="padding-top:10px;">$750</p>

          </div>
        </div>
        <div class="dateB1_text">$189 for New iPhone 4G with wireless
Speaker and Cover, Just go for it
(Up to $700 Value) </div>
      </div>
      <div class="dateB2">Keupons Bought: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#F00;">600</span></div>
    </div>
   
    <%end%>

  </div>
  