
<style type="text/css">
    .form-label{
        width:150px !important;
    }
    .form-label-left{
        width:150px !important;
    }
    .form-line{
        padding:10px;
    }
    .form-label-right{
        width:150px !important;
    }
    .form-all{
        width:650px;
        background:url("img/style4_2_bg.gif") repeat-x scroll center top rgb(54, 53, 53);
        color:white !important;
        font-family:"Trebuchet MS";
        font-size:12px;
    }
</style>

<script type="text/javascript">
   JotForm.init();
</script>



<div id="userform">
<form class="jotform-form" action="#" method="post" name="form_2730422465" id="2730422465" accept-charset="utf-8">
    <input type="hidden" name="formID" value="2730422465" />
    <div class="form-all">
        <ul class="form-section">
            <li class="form-line" id="id_6">
                <div id="cid_6" class="form-input-wide">
                    <img alt="" class="form-image" border="0" src="images/head.png" height="228" width="570" />
                </div>
            </li>
            <li class="form-line" id="id_1">
                <label class="form-label-left" id="label_1" for="input_1"> Your Name </label>
                <div id="cid_1" class="form-input">
                    <input type="text" class="form-textbox" id="input_1" name="q1_yourName" size="20" />
                </div>
            </li>
            <li class="form-line" id="id_3">
                <label class="form-label-left" id="label_3" for="input_3"> Your Email Id </label>
                <div id="cid_3" class="form-input">
                    <input type="text" class="form-textbox" id="input_3" name="q3_yourEmail" size="20" />
                </div>
            </li>
            <li class="form-line" id="id_4">
                <label class="form-label-left" id="label_4" for="input_4"> City </label>
                <div id="cid_4" class="form-input">
                    <select class="form-dropdown" style="width:150px" id="input_4" name="q4_city">
                        <option>  </option>
                        <option value="Option 1"> Option 1 </option>
                        <option value="Option 2"> Option 2 </option>
                        <option value="Option 3"> Option 3 </option>
                    </select>
                </div>
            </li>
            <li class="form-line" id="id_5">
                <label class="form-label-left" id="label_5" for="input_5"> Which kind of deals you want us to showcase on Keupons? </label>
                <div id="cid_5" class="form-input">
                    <textarea id="input_5" class="form-textarea" name="q5_whichKind" cols="40" rows="6"></textarea>
                </div>
            </li>
            <li class="form-line" id="id_2">
                <div id="cid_2" class="form-input-wide">
                    <div style="margin-left:156px" class="form-buttons-wrapper">
                        <button id="input_2" type="submit" class="form-submit-button">
                            I want a Deal
                        </button>
                    </div>
                </div>
            </li>
            <li style="display:none">
                Should be Empty:
                <input type="text" name="website" value="" />
            </li>
        </ul>
    </div>

    <input type="hidden" id="simple_spc" name="simple_spc" value="2730422465" />
    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "2730422465-2730422465";
    </script>
</form>
</div>