<table align=left  style="font-family:arial;font-size:14px;" CELLPADDING="3" CELLSPACING="6">
  <tr>
	<td style="width:0px;"> </td>
	<td width="15%" style="color:#000000;">Sub-Category :</td>
	<td width="30%">
          <%= render :partial => "company_new_subcategory" %>
        </td>
   </tr>
</table>