<div id='popup_center' style="height: 472px; width: 350px; padding-left: 350px; display: block;">
  <div><a href="#" onclick="hideElt('popup_view_deal');" ><img src="/images/close_btn.png" height="33" width="33" border="0" style="margin-top: 100px;"/></a></div>
  <table class="popup" align="center" width="100%" cellspacing="1px" style="border:0px solid;">
            <tr>
              
              <td align="right" class="popup">&nbsp;
                </td>
            </tr>
            <tr>
              <td class="popup" style="border:1px solid;" BACKGROUND="/images/transparent.png">
                <div id="view_demand_deal">
                </div>
              </td>
            </tr>
          </table>
</div>