<div id='popup_center' style="height: 472px; width: 350px; padding-left: 350px; display: block;">
          <table class="popup" align="center" width="100%" cellspacing="1px" style="border:1px solid;">
            <tr>
              <td align="right" class="popup"><a href="#" onclick="hideElt('popup_view_deal');" >X</a></td>
            </tr>
            <tr>
              <td class="popup" style="border:1px solid;" BACKGROUND="/images/transparent.png">
                <div id="view_demand_deal">
                </div>
              </td>
            </tr>
          </table>
</div>