
        <% form_remote_tag(:url => {:controller => "merchant", :action => "verify_deal"},:html => {:id => "verification_form", :style=> "padding:0;margin:0;"})do -%>
  Enter Customer NRIC/FIN#:<input type="text" name="customer_pin" id="customer_pin" />
            <input type="button" name="Verify" value="Verify" onclick="$('verification_form').onsubmit();return false;"/>
            <% end %>
    </form>