<div id='popup_center' style="height: 472px; width: 604px; padding-left: 210px; display: block;margin-top:-10px;">
  <div align="right" style="width: 410px;height: 24px;"><a href="#" onclick="hideElt('popup_create_deal');" ><img src="/images/close_btn.png" height="33" width="33" border="0" style="margin-top: -17px;"/></a></div>
  <div id="create_demand_deal">
  </div>
</div>