<tr>
        <td height="36" align="left" background="images/header_gray_bg.jpg"><img src="images/review_deals_text.jpg" width="238" height="36" /></td>
      </tr>
<div id="summary">
  <%= render :partial => "open_deals_summary" %>
</div>