    <tr>
        <td height="36" background="/images/merchant/header_gray_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" align="left"><img src="/images/merchant/new_deal_text.jpg" width="132" height="36" /></td>
            <td width="50%" align="left"><img src="/images/merchant/new_keupoint_deal_text.jpg" width="251" height="36" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="48%" height="180" valign="top" background="/images/merchant/deal_bg.jpg" style="border:1px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="8" colspan="4" align="center"></td>
                </tr>
              <tr>
                <td width="43%" align="center"><img src="/images/merchant/deal_img.jpg" width="184" height="148" /></td>
                <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="55" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque</td>
                  </tr>
                  <tr>
                    <td height="66" valign="top" background="/images/merchant/price_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="46%" height="30" align="center" class="deals_content2">Price Offered</td>
                        <td width="54%" align="center" class="deals_content2">Discount Offered</td>
                        </tr>
                      <tr>
                        <td height="33" align="center" class="deals_content1">$450</td>
                        <td align="center" class="deals_content1">Min 20% - Max 60%</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="25" align="left" class="deals_content_red_bold">Deal Expires on: 21/12/2010</td>
                  </tr>
                </table></td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">&nbsp;</td>
                <td width="30%">&nbsp;</td>
                <td width="25%" height="23" align="center" background="/images/merchant/creat_new_deal_bg.jpg"><a href="#" class="deals_white_link">Creat New Deal</a></td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
            <td width="1%">&nbsp;</td>
            <td width="48%" height="180" valign="top" background="/images/merchant/deal_bg.jpg" style="border:1px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="8" colspan="4" align="center"></td>
                </tr>
              <tr>
                <td width="43%" align="center"><img src="/images/merchant/deal_img1.jpg" width="184" height="148" /></td>
                <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="55" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque</td>
                  </tr>
                  <tr>
                    <td height="66" valign="top" background="/images/merchant/price_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="46%" height="30" align="center" class="deals_content2">Price Offered</td>
                        <td width="54%" align="center" class="deals_content2">Discount Offered</td>
                        </tr>
                      <tr>
                        <td height="33" align="center" class="deals_content1">$450</td>
                        <td align="center" class="deals_content1">Min 20% - Max 60%</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="25" align="left" class="deals_content_red_bold">Deal Expires on: 21/12/2010</td>
                  </tr>
                </table></td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">&nbsp;</td>
                <td width="30%">&nbsp;</td>
                <td width="25%" height="23" align="center" background="/images/merchant/creat_new_deal_bg.jpg"><a href="#" class="deals_white_link">Creat New Deal</a></td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
            <td width="1%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="36" background="/images/merchant/header_gray_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" align="left"><img src="/images/merchant/new_gift_deal_text.jpg" width="180" height="36" /></td>
            <td width="50%" align="left"><img src="/images/merchant/all_deal_text.jpg" width="180" height="36" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="48%" height="180" valign="top" background="/images/merchant/deal_bg.jpg" style="border:1px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="8" colspan="4" align="center"></td>
                </tr>
                <tr>
                  <td width="43%" align="center"><img src="/images/merchant/deal_img.jpg" width="184" height="148" /></td>
                  <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="55" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque</td>
                      </tr>
                      <tr>
                        <td height="66" valign="top" background="/images/merchant/price_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="46%" height="30" align="center" class="deals_content2">Price Offered</td>
                              <td width="54%" align="center" class="deals_content2">Discount Offered</td>
                            </tr>
                            <tr>
                              <td height="33" align="center" class="deals_content1">$450</td>
                              <td align="center" class="deals_content1">Min 20% - Max 60%</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="25" align="left" class="deals_content_red_bold">Deal Expires on: 21/12/2010</td>
                      </tr>
                  </table></td>
                  <td width="2%">&nbsp;</td>
                </tr>
                <tr>
                  <td align="center">&nbsp;</td>
                  <td width="30%">&nbsp;</td>
                  <td width="25%" height="23" align="center" background="/images/merchant/creat_new_deal_bg.jpg"><a href="#" class="deals_white_link">Creat New Deal</a></td>
                  <td>&nbsp;</td>
                </tr>
            </table></td>
            <td width="1%">&nbsp;</td>
            <td width="48%" height="180" valign="top" background="/images/merchant/deal_bg.jpg" style="border:1px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" align="center"><a href="#"><img src="/images/merchant/left_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
                <td width="94%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="8" colspan="3"></td>
                      </tr>
                    <tr>
                      <td width="20%" align="center"><a href="#"><img src="/images/merchant/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td width="20%" align="center"><a href="#"><img src="/images/merchant/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td width="20%" align="center"><a href="#"><img src="/images/merchant/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                    </tr>
                    <tr>
                      <td height="8" colspan="3"></td>
                    </tr>
                    <tr>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet</a> </td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet</a></td>
                    </tr>
                </table></td>
                <td width="3%"><a href="#"><img src="/images/merchant/right_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
              </tr>
            </table></td>
            <td width="1%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>