
<script type="text/javascript">


$().ready(function() {


	// validate signup form on keyup and submit
	$("#formElem").validate({
		rules: {
			firstname: "required",
			lastname: "required",
			username: {
				required: true,
				minlength: 2
			},
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			},
			email: {
				required: true,
				email: true
			},
			topic: {
				required: "#newsletter:checked",
				minlength: 2
			},
			agree: "required"
		},
		messages: {
			firstname: "Please enter your firstname",
			lastname: "Please enter your lastname",
			username: {
				required: "Please enter a username",
				minlength: "Your username must consist of at least 2 characters"
			},
			password: {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long"
			},
			confirm_password: {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long",
				equalTo: "Please enter the same password as above"
			},
			email: "Please enter a valid email address",
			agree: "Please accept our policy"
		}
	});




});
</script>
      <tr>
        <td height="36" align="left" background="images/header_gray_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="78%" align="left"><img src="images/merchant_signup_text.jpg" width="238" height="36" /></td>
            <td width="21%" align="right"><a href="#"><img src="images/already_member_text.jpg" width="189" height="36" border="0" /></a></td>
            <td width="1%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>

       <form id="formElem" name="formElem" action="/merchant_register" enctype="multipart/form-data" method="post">

      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="30%" height="48" background="images/signup_red_header_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="6%">&nbsp;</td>
                <td width="78%" align="left" class="deals_content1">Personal Information</td>
                <td width="16%">&nbsp;</td>
              </tr>
            </table></td>
            <td width="59%">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="5%">&nbsp;</td>
            <td colspan="2" valign="top" bgcolor="#e1e1e1" ><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="19%" align="right">&nbsp;</td>
                <td width="27%" align="left">&nbsp;</td>
                <td width="22%" align="right">&nbsp;</td>
                <td width="32%" align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>First Name:</td>
                <td align="left">
                <input id="firstname" name="merchant_profile[first_name]" class='required'/> </td>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Gender:</td>
                <td align="left" class="deals_content2"><input id="merchant_profile_gender" name="merchant_profile[gender]" type="radio" value="m"/> Male <input id="merchant_profile_gender" name="merchant_profile[gender]" type="radio" value="f"/> Female</td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Last Name:</td>
                <td align="left"><input id="lastname" name="merchant_profile[last_name]" class='required'/></td>
                <td align="right" class="deals_content2"> <font style="color:red">*</font>NRIC/ FIN#:</td>
                <td align="left"><input id="merchant_pin" name="merchant_profile[merchant_pin]" class='required'/></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>

            </table></td>
            <td width="6%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="30%" height="48" background="images/signup_red_header_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="6%">&nbsp;</td>
                  <td width="78%" align="left" class="deals_content1">Contact Details </td>
                  <td width="16%">&nbsp;</td>
                </tr>
            </table></td>
            <td width="59%">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="5%">&nbsp;</td>
            <td colspan="2" valign="top" bgcolor="#e1e1e1" ><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="19%" align="right">&nbsp;</td>
                <td width="27%" align="left">&nbsp;</td>
                <td width="22%" align="right">&nbsp;</td>
                <td width="32%" align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Address 1:</td>
                <td align="left"> <input id="merchant_profile_address1" name="merchant_profile[address1]"  type="text" class='required'/></td>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Country:</td>
                <td align="left" class="deals_content2"><input id="merchant_profile_country" name="merchant_profile[country]" type="text" class='required'/></td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Address 2:</td>
                <td align="left"><input id="merchant_profile_address2" name="merchant_profile[address2]"  type="text" class='required'/></td>
                <td align="right" class="deals_content2"> <font style="color:red">*</font>Zip code:</td>
                <td align="left"><input id="merchant_profile_zipcode" name="merchant_profile[zipcode]"  type="text" class='required'/></td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Phone:</td>
                <td align="left"><input id="merchant_profile_contact_number" class='required' name="merchant_profile[contact_number]"  type="text" /></td>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Email:</td>
                <td align="left"><input id="merchant_profile_email_address" class='required' name="merchant_profile[email_address]"  type="text" /></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
            </table></td>
            <td width="6%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="30%" height="48" background="images/signup_red_header_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="6%">&nbsp;</td>
                  <td width="78%" align="left" class="deals_content1">Company Details</td>
                  <td width="16%">&nbsp;</td>
                </tr>
            </table></td>
            <td width="59%">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="5%">&nbsp;</td>
            <td colspan="2" valign="top" bgcolor="#e1e1e1" ><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="19%" align="right">&nbsp;</td>
                <td width="33%" align="left">&nbsp;</td>
                <td width="16%" align="right">&nbsp;</td>
                <td width="32%" align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Name:</td>
                <td align="left"><input id="company_name" name="company[name]"  type="text" class='required'/></td>
                <td align="right" class="deals_content2"><font style="color:red">*</font>URL:</td>
                <td align="left" class="deals_content2"><input id="company_website" name="company[website]" type="text" class='required'/></td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Address 1:</td>
                <td align="left"><input id="company_address2" name="company[address1]" type="text" class='required'/></td>
                <td align="right" class="deals_content2"> <font style="color:red">*</font>Address 2:</td>
                <td align="left"><input id="company_address2" name="company[address2]" type="text" class='required'/></td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Country:</td>
                <td align="left"><input id="company_country" name="company[city]" type="text" class='required'/></td>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Zipcode:</td>
                <td align="left"><input id="company_zipcode" name="company[zipcode]" type="text" class='required'/></td>
              </tr>
              <tr>
                <td align="right" class="deals_content2"><font style="color:red">*</font>Company Photo/Logo:</td>
                <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="63%"><input id="merchant_company_photo" name="merchant[company_photo]" type="file" class='required'/></td>
                    <td width="37%"></td>
                  </tr>
                </table></td>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
                <td align="right">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
            </table></td>
            <td width="6%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="27%" height="48" background="images/signup_red_header_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="6%">&nbsp;</td>
                  <td width="78%" align="left" class="deals_content1">About the Company</td>
                  <td width="16%">&nbsp;</td>
                </tr>
            </table></td>
            <td width="56%">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="8%">&nbsp;</td>
            <td colspan="2" valign="top" bgcolor="#e1e1e1" ><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="3%">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
                <td width="3%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="left" class="deals_content2"><font style="color:red">*</font>Description:( A small introduction of your companu)</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="left">
                  <textarea cols="75%"  rows="5" id="company_detail" name="company[detail]" class='required'></textarea>
                  </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td width="10%" align="right" class="deals_content2">Category:</td>
                <td width="84%" align="left"><select name="select" id="select">
                  <option>Select a category</option>
                </select>                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td align="right" class="deals_content2">&nbsp;</td>
                <td align="left">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
            <td width="9%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>
            <td width="5%">&nbsp;</td>
            <td width="89%" colspan="2" valign="top" ><table width="100%" border="0" cellspacing="3" cellpadding="0">

                <tr>
                  <td colspan="2" align="left" class="deals_content2">Everything in the form was correctly filled if all the steps have a green checkmark icon. A red checkmark icon
                    indicates that some field is missing or filled out with invalid data. In this last step the user can confirm the submission of the form. </td>
                  </tr>
                <tr>
                  <td colspan="2" align="left">&nbsp;</td>
                  </tr>
                <tr>
                  <td width="30%" align="left" class="deals_content2"><font style="color:red">*</font><strong><a href='#' onclick="document.getElementById('popup_center').style.display='block';"> I Agree to Terms and Conditions</a><input type="checkbox" id="tos" name='tos'></input>
                  </strong></td>
                  <td width="70%" align="left">
                    <%=image_submit_tag("register_btn.jpg" , :width=>"92", :height=>"34", :border=>"0"  )%>
                    </td>
                </tr>

            </table></td>
            <td width="6%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
     </form>


