<script>
function validatePwd() {
var invalid = " "; // Invalid character is a space
var minLength = 6; // Minimum length
var pw1 = document.myForm.user_password.value;
var pw2 = document.myForm.user_confirm_password.value;
// check for a value in both fields.
if (pw1 == '' || pw2 == '') {
alert('Please enter your password twice.');
return false;
}
// check for minimum length
if (document.myForm.user_password.value.length < minLength) {
alert('Your password must be at least ' + minLength + ' characters long. Try again.');
return false;
}
// check for spaces
if (document.myForm.user_password.value.indexOf(invalid) > -1) {
alert("Sorry, spaces are not allowed.");
return false;
}
else {
if (pw1 != pw2) {
alert ("You did not enter the same new password twice. Please re-enter your password.");
return false;
}
else {
//alert('Nice job.');
return true;
      }
   }
}
</script>
<tr>
        <td height="36" align="left" background="/images/header_gray_bg.jpg"><img src="/images/change_password_text.jpg" height="36" /></td>
      </tr>
  <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="100%" height="180" valign="top" background="/images/merchant/deal_bg.jpg" style="border:1px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="8" colspan="4" align="center"></td>
                </tr>
              <tr>

                <td colspan="2">



                

  <table  style="font-size:14px;min-height:150px;" CELLPADDING="3" CELLSPACING="6">
           <% form_tag '/password_change',:name=>'myForm' do -%>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;" align="right">New Password:</td>
      <td width="10%"><%=password_field 'user','password',:size=> '15'%>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;" align="right">Confirm Password :</td>
      <td width="10%"><%#=password_field 'user','confirm_password', :size=> '15'%>
<input id="user_confirm_password" type="password" size="15" name="user[confirm_password]" onblur='validatePwd();'/>
    </tr>
<tr>
  <td width="5%"> </td>      
    <td width="15%" align="center" colspan="2"><%=image_submit_tag ("update_btn.png")%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
          <% end -%>
      </td>
    </tr>


    <tr><td></td><td></td></tr>
  </table>
 





                </td>
                <td width="2%">&nbsp;</td>
              </tr>
             
            </table></td>
            <td width="1%">&nbsp;</td>

            <td width="1%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
     