<tr>
        <td height="36" background="/images/header_gray_bg.jpg"><img src="/images/redeem_deal_text.jpg" width="238" height="36" /></td>
      </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>
<tr>
        <td id="redeem_deal" align="center"><%= render :partial => "redeem_deal" %></td>
</tr>
