<div id="redeem_deal">
       <tr>
        <td height="36" background="/images/header_gray_bg.jpg"><img src="/images/redeem_deal_text.jpg" width="238" height="36" /></td>
      </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>
           
<%= render :partial => "redeem_deal" %>
</div>
