<div id='popup_center' style="height: 472px; width: 604px; padding-left: 210px; display: block;margin-top:-10px;">
          <table align="center" width="100%" cellspacing="3px" style="border:1px solid;" BACKGROUND="/images/bg_white.jpg">
            <tr>
              <td align="right"><a href="#" onclick="hideElt('popup_view_deal');" >X</a></td>
            </tr>
            <tr>
              <td>
                <div id="view_deal">                  
                </div>
              </td>
            </tr>
          </table>
</div>