<span align="center"><h2><%= @month_name %> <%= @year %></h2></span>
<br/>
<%=
calendar({:year =>@year, :month => @month,:abbrev => (0..2),:previous_month_text =>"", :next_month_text =>"" }) do |d|
cell_text = "#{d.mday}"
cell_attrs = {:class => 'day'}
if !@schedules[d.mday.to_s].blank?
  schedule = @schedules[d.mday.to_s]    
  cell_text = '<a href="#" title="" onclick="showViewDeal(\'popup_view_deal\',\''+schedule["deal_id"].to_s+'\');">'+schedule["company_name"].to_s+'</a>'
  cell_attrs[:class] = 'specialDay'
else
  deal_date = "#{@year}-#{@month}-#{d.day}"
  cell_text = '<a href="#" title="" onclick="showCreateDeal(\'popup_create_deal\',\''+deal_date+'\');">'+d.day.to_s+'</a>'
end
[cell_text, cell_attrs]
end
%>
<br/>
