<form action="/deals/create_step2" method="post">
  <div style="margin: 0pt; padding: 0pt; display: inline;"><input name="authenticity_token" value="BmPe0GrYKkk01gUWpWRaNOjDfE7CxQoNoH7vr+5swdw=" type="hidden"/></div>
  <input type="hidden" name="deal_id" value="<%=params[:deal_id]%>" />
<table align=left  style="font-size:14px;" CELLPADDING="3" CELLSPACING="6">
      <tr>
        <td style="color:#000000;"><%=image_submit_tag ("register.jpg")%>   </td>
      </tr>
</table>
</form>