<select id="operator" name="operator"><option value="">Select an Operator</option><option value="between">Between</option><option value="greater">Greater than</option></select>
                  <%=observe_field "operator",
                  :url => {:controller => 'deals', :action => 'deal_discount_operator1'},
                  :on => 'change',
                  :with => "operator"%>