<div id='popup_center' style="height: 472px; width: 604px; padding-left: 210px; display: block;margin-top:-10px;">
          <table class="popup" align="center" width="100%" cellspacing="1px" style="border:1px solid;" BACKGROUND="/images/bg_white.jpg">
            <tr>
              <td align="right" class="popup"><a href="#" onclick="hideElt('popup_create_deal');" >X</a></td>
            </tr>
            <tr>
              <td class="popup">
                <div id="create_deal">
                </div>
              </td>
            </tr>
          </table>
</div>