<script Language="JavaScript">
<!--
function form_validator1(min_discount){
  var theForm = document.forms['dd_form'];

  if (theForm.customer.value == "" || theForm.customer.value.length < 1)
  {
  alert("You must enter the number of Minimum Customers.");
  theForm.customer.focus();
  return (false);
  }
  else if(!IsNumeric(theForm.customer.value,"0123456789")){
    alert("You must enter only Numeric value for number of Minimum Customers.");
    theForm.customer.focus();
    return (false);
  }

  if (theForm.max_customer.value == "" || theForm.max_customer.value.length < 1)
  {
  alert("You must enter the number of Maximum Customers.");
  theForm.max_customer.focus();
  return (false);
  }
  else if(!IsNumeric(theForm.max_customer.value,"0123456789")){
    alert("You must enter only Numeric value for number of Maximum Customers.");
    theForm.max_customer.focus();
    return (false);
  }
  else if(theForm.max_customer.value <= theForm.customer.value){
    alert("Maximum Customers must be greater than "+theForm.customer.value);
    theForm.max_customer.focus();
    return (false);
  }

  if (theForm.discount.value == "" || theForm.discount.value.length < 1)
  {
  alert("You must enter the Discount");
  theForm.discount.focus();
  return (false);
  }
  else if(!IsNumeric(theForm.discount.value,"0123456789.")){
    alert("You must enter only Numeric value for Discount.");
    theForm.discount.focus();
    return (false);
  }
  else if(theForm.discount.value < min_discount){
    alert("The Discount has to be greater than "+min_discount);
    theForm.discount.focus();
    return (false);
  }
  theForm.onsubmit();
}
function form_validator(){
var theForm = document.forms['new_deal'];
var i;
if (theForm.deal_name.value == "" || theForm.deal_name.value.length < 1)
{
alert("You must enter Deal Title.");
theForm.deal_name.focus();
return (false);
}

if (theForm.deal_value.value == "" || theForm.deal_value.value.length < 1)
{
alert("You must enter Original Value.");
theForm.deal_value.focus();
return (false);
}

if (theForm.deal_rules.value == "" || theForm.deal_rules.value.length < 1)
{
alert("You must enter Rules.");
theForm.deal_rules.focus();
return (false);
}

if (theForm.deal_highlights.value == "" || theForm.deal_highlights.value.length < 1)
{
alert("You must enter Highlights.");
theForm.deal_highlights.focus();
return (false);
}

if (theForm.deal_start_date.value == "" || theForm.deal_start_date.value.length < 1)
{
alert("You must enter Start Date.");
theForm.deal_start_date.focus();
return (false);
}

if (theForm.deal_close_date.value == "" || theForm.deal_close_date.value.length < 1)
{
alert("You must enter Close Date.");
theForm.deal_close_date.focus();
return (false);
}

if (theForm.deal_expiry_date.value == "" || theForm.deal_expiry_date.value.length < 1)
{
alert("You must enter Expiry Date.");
theForm.deal_expiry_date.focus();
return (false);
}

return true;
}

function IsNumeric(sText, ValidChars)

{
   var IsNumber=true;
   var Char;


   for (i = 0; i < sText.length && IsNumber == true; i++)
      {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
         {
         IsNumber = false;
         }
      }
   return IsNumber;

}

//-->
</script>
<br/>
<div id="new_deal">
  <% if @deal.id.blank? %>
  <%= render :partial => "create_deal" %>
  <% else %>
  <%= render :partial => "deal_discounts" %>
  <% end %>
</div>

