<script Language="JavaScript">
<!--
function form_validator1(min_discount){
  var theForm = document.forms['dd_form'];
  if (theForm.customer.value == "" || theForm.customer.value.length < 1)
  {
  alert("You must enter the number of Minimum Customers.");
  theForm.customer.focus();
  return (false);
  }
  else if(!IsNumeric(theForm.customer.value,"0123456789")){
    alert("You must enter only Numeric value for number of Minimum Customers.");
    theForm.customer.focus();
    return (false);
  }

  if ((theForm.max_customer.value == "" || theForm.max_customer.value.length < 1) && theForm.operator.value != "greater")
  {
  alert("You must enter the number of Maximum Customers.");
  theForm.max_customer.focus();
  return (false);
  }
  else if(theForm.operator.value != "greater" && !IsNumeric(theForm.max_customer.value,"0123456789")){
    alert("You must enter only Numeric value for number of Maximum Customers.");
    theForm.max_customer.focus();
    return (false);
  }
  else if(theForm.operator.value != "greater" && (parseInt(theForm.max_customer.value) <= parseInt(theForm.customer.value))){
    alert("Maximum Customers must be greater than "+theForm.customer.value);
    theForm.max_customer.focus();
    return (false);
  }

  if (theForm.discount.value == "" || theForm.discount.value.length < 1)
  {
  alert("You must enter the Discount");
  theForm.discount.focus();
  return (false);
  }
  else if(!IsNumeric(theForm.discount.value,"0123456789.")){
    alert("You must enter only Numeric value for Discount.");
    theForm.discount.focus();
    return (false);
  }
  else if(parseInt(theForm.discount.value) <= parseInt(theForm.minimum_discount.value)){
    alert("The Discount has to be greater than "+theForm.minimum_discount.value);
    theForm.discount.focus();
    return (false);
  }
  theForm.onsubmit();
}
function form_validator(){
var theForm = document.forms['new_deal'];
var i;
if (theForm.deal_name.value == "" || theForm.deal_name.value.length < 1)
{
alert("You must enter Deal Title.");
theForm.deal_name.focus();
return (false);
}

if (theForm.deal_value.value == "" || theForm.deal_value.value.length < 1)
{
alert("You must enter Original Value.");
theForm.deal_value.focus();
return (false);
}

if (theForm.deal_rules.value == "" || theForm.deal_rules.value.length < 1)
{
alert("You must enter Rules.");
theForm.deal_rules.focus();
return (false);
}

if (theForm.deal_highlights.value == "" || theForm.deal_highlights.value.length < 1)
{
alert("You must enter Highlights.");
theForm.deal_highlights.focus();
return (false);
}

if (theForm.deal_start_date.value == "" || theForm.deal_start_date.value.length < 1)
{
alert("You must enter Start Date.");
theForm.deal_start_date.focus();
return (false);
}

if (theForm.deal_close_date.value == "" || theForm.deal_close_date.value.length < 1)
{
alert("You must enter Close Date.");
theForm.deal_close_date.focus();
return (false);
}

if (theForm.deal_expiry_date.value == "" || theForm.deal_expiry_date.value.length < 1)
{
alert("You must enter Expiry Date.");
theForm.deal_expiry_date.focus();
return (false);
}

return true;
}

function IsNumeric(sText, ValidChars)

{
   var IsNumber=true;
   var Char;


   for (i = 0; i < sText.length && IsNumber == true; i++)
      {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
         {
         IsNumber = false;
         }
      }
   return IsNumber;

}

//-->
</script>
<% form_for @deal, :url => { :action => "create" } , :html => { :multipart => true }  do |f| %>
<tr>
        <td height="36" align="left" background="/images/header_gray_bg.jpg"><img src="/images/new_deal_text.jpg" width="132" height="36" /></td>
      </tr>
      <tr>
        <td>
          <%= render :partial => "create_deal" %>
        </td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>

      <tr>
        <td align="center">
          <%= render :partial => "create_deal_location" %>
        </td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>
<% end %>

      <tr>
        <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="30%" height="48" background="/images/signup_red_header_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="6%">&nbsp;</td>
                  <td width="78%" align="left" class="deals_content1">Discount  Details</td>
                  <td width="16%">&nbsp;</td>
                </tr>
            </table></td>

            <td width="59%">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="5%">&nbsp;</td>
            <td colspan="2" valign="top" bgcolor="#e1e1e1" >
              <%= render :partial => "deal_discounts" %>
            </td>
            <td width="6%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><a href="#" onclick="return form_validator();"><img src="/images/create_deal_btn.jpg" width="96" height="24" border="0" /></a> <a href="/index"><img src="/images/cancel_btn2b.jpg" width="62" height="24" border="0" /></a></td>

      </tr>
