.emailer_header{
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	
	color:#FFFFFF;
	text-decoration:none;

}
.emailer_header1{
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	
	color:#FFFFFF;
	text-decoration:none;

}
.emailer_header2{
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	padding-left:5px;
	color:#FFFFFF;
	text-decoration:none;

}
.emailer_content{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;

}
.emailer_content1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	font-weight:bold;

}
.emailer_content_red{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	
	color:#FF0000;
	text-decoration:none;
	font-weight:bold;

}
.emailer_content_red1{
	
	font-family:Georgia, "Times New Roman", Times, serif;
	
	font-size:12px;
	
	color:#FF0000;
	text-decoration:none;
	

}
.red_link{
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	
	color:#ffb3b3;
	text-decoration:underline;

}
.red_link:hover{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#ffb3b3;
	text-decoration:none;

}


.time_text_red{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#ff4b4c;
	text-decoration:none;

}
.time_text_white{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;

}
.price_text_red{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	
	color:#FF0000;
	text-decoration:none;
	font-weight:bold;

}
.price_text_white{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;

}
.price_text_white1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;

}




