body { margin:0px; font-family:Arial, Helvetica, sans-serif; background:#fff; }
#containers { width:980px; /*margin:0px auto 0px;*/ background:#FFFFFF; padding:10px; font-size:12px; /*margin-top:50px;*/ }

a{
	text-transform:none;
	color:#333
}
#footer{
	background:#F0F0F0;
	padding:10px;
	border:#999 dotted 1px;
}
