body { margin:0px; font-family:Arial, Helvetica, sans-serif; background:#fff; }
#containers { width:895px; /*margin:0px auto 0px;*/ background:#FFFFFF; padding:10px; margin: 0 auto; font-size:12px; z-index: 100; /*margin-top:50px;*/ }

a{
	text-transform:none;
	color:#333
}
#footer{
	background:#F0F0F0;
	padding:10px 10px 0 10px;
	border:#999 dotted 1px;
}
