<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Keupon</title>
    <style>
      .admin_text{
      font-family:Verdana, Arial, Helvetica, sans-serif;
      font-size:11px;
      color:#000000;
      font-style:normal;
      padding:5px 0px 5px 5px;
      text-align:left;
      }
      .admin_head{
      font-family:Verdana, Arial, Helvetica, sans-serif;
      font-size:13px;
      color:#fff;
      font-weight:bold;
      height:22px;
      padding:1px 0px 1px 5px;
      text-align:left;
      }
      .table_line{
              border-collapse:collapse;
      }
      .table_line tr, .table_line tr td{
              border:1px solid #6a0c18;
      }
    </style>

  </head>
  <body>
            <%=yield%>
  </body>
</html>
