<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag 'style_signup_2' %>
    <%= stylesheet_link_tag '/stylesheets/style_signup_1' %>

    <script src="/javascripts/jquery-1.2.6.js" type="text/javascript"></script>
    <script src="/javascripts/form-fun.jquery.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Keupons</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24339162-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div id="page-wrap">
      <div style="float:left;">
      <img src="/images/logo.gif" alt="logo" /><h1><span class="style2" color="#000;">Registration</span></h1>
     
      <table style="font-size: 18px;color: #fff;"><tr><td>Already a Member</td><td style="text-decoration: none;">&nbsp;&nbsp;<a href="/login" align="justify"><img src="images/login_signup.png" border="0"/></a></td>
        </tr></table>
      </div>
       <div style="float:right; height:300px; width:692px;">
        		<iframe src="../banner/banner.html" height="280" style="margin-left:50px;" width="650" frameborder="0" scrolling="no"></iframe>
        </div>
      <%=yield%>
    </div>
  </body>
</html>
